<template>
    <div class="flex h-screen">
        <!-- Menu Items -->
        <section class="hidden lg:block bg-slate-800 pe-5 relative">
            <div class="flex flex-col space-y-5  2xl:space-y-5">
                <a class="" href="/">
                    <img src="../../../img/speaklingo-logo.png" alt="" class="w-32 mx-auto">
                </a>

                <a @click="selectedMenuItem = 'dashboard'"
                   :class="{ 'bg-gray-700': selectedMenuItem === 'dashboard', 'text-white': selectedMenuItem !== 'dashboard' }"
                   class="flex align-center cursor-pointer text-white text-lg mx-5 py-2 px-3 pe-10 rounded | hover:bg-gray-700">
                    <v-icon class="me-5">mdi-home-outline</v-icon>
                    Dashboard
                </a>

                <span class="ms-3 text-md text-gray-700">PAGES</span>

                <a @click="selectedMenuItem = 'calendar'"
                   :class="{ 'bg-gray-700': selectedMenuItem === 'calendar', 'text-white': selectedMenuItem !== 'calendar' }"
                   class="flex align-center cursor-pointer text-white text-lg mx-5 py-2 px-3 pe-10 rounded | hover:bg-gray-700">
                    <v-icon class="me-5">mdi-calendar-outline</v-icon>
                    Calendar
                </a>

                <a @click="selectedMenuItem = 'users'"
                   :class="{ 'bg-gray-700': selectedMenuItem === 'users', 'text-white': selectedMenuItem !== 'users' }"
                   class="flex align-center cursor-pointer text-white text-lg mx-5 py-2 px-3 pe-10 rounded | hover:bg-gray-700">
                    <v-icon class="me-5">mdi-account-outline</v-icon>
                    Users list
                </a>

                <a :href="messageRoute" @click="selectedMenuItem = 'chat'"
                   class="flex align-center cursor-pointer text-white text-lg mx-5 py-2 px-3 pe-10 rounded | hover:bg-gray-700 relative">

                    <!-- Icône de chat -->
                    <v-icon class="me-5">mdi-chat-outline</v-icon>

                    <!-- Icône de cercle rouge si des messages non lus -->
                    <div v-if="hasUnseenMessagesToUser1(messages)" class="text-2xl absolute -top-1 left-5 animate-bounce">
                        <v-icon class="text-red-500">mdi-circle-small</v-icon>
                    </div>

                    Chat
                </a>

                <a @click="selectedMenuItem = 'meeting'"
                   :class="{ 'bg-gray-700': selectedMenuItem === 'meeting', 'text-white': selectedMenuItem !== 'meeting' }"
                   class="flex align-center cursor-pointer text-white text-lg mx-5 py-2 px-3 pe-10 rounded | hover:bg-gray-700">
                    <v-icon class="me-5">mdi-video-outline</v-icon>
                    Meeting
                </a>

                <a @click="selectedMenuItem = 'pricing'"
                   :class="{ 'bg-gray-700': selectedMenuItem === 'pricing', 'text-white': selectedMenuItem !== 'pricing' }"
                   class="flex align-center cursor-pointer text-white text-lg mx-5 py-2 px-3 pe-10 rounded | hover:bg-gray-700">
                    <v-icon class="me-5">mdi-cash</v-icon>
                    Pricing
                </a>

                <a :href="logoutRoute" class="absolute bottom-10 align-center cursor-pointer text-red-500 text-lg mx-5 py-2 px-3 pe-16 rounded | hover:bg-gray-700"> <v-icon class="me-5">mdi-logout</v-icon>Log out</a>
            </div>
        </section>
        <!-- Menu Items Phone -->
        <section class="lg:hidden text-gray-600 h-20 w-screen fixed z-10 bottom-0 bg-slate-800 flex items-center gap-10 overflow-y-auto pe-8">
            <v-icon @click="selectedMenuItem = 'dashboard'"
                    :class="{ 'text-white': selectedMenuItem === 'dashboard' }" class="ms-5"
                    size="x-large">mdi-home-outline
            </v-icon>

            <v-icon @click="selectedMenuItem = 'calendar'"
                    :class="{ 'text-white': selectedMenuItem === 'calendar' }"
                    size="large">mdi-calendar-outline
            </v-icon>

            <v-icon @click="selectedMenuItem = 'users'"
                    :class="{ 'text-white': selectedMenuItem === 'users' }"
                    size="x-large">mdi-account-outline
            </v-icon>

            <div v-if="hasUnseenMessagesToUser1(messages)" class="text-2xl absolute top-3 left-60">
                <v-icon class="text-red-500">mdi-circle-small</v-icon>
            </div>
            <v-icon @click="redirectToChat" size="large">mdi-chat-outline</v-icon>

            <v-icon @click="selectedMenuItem = 'meeting'" :class="{ 'text-white': selectedMenuItem === 'meeting' }" size="x-large">mdi-video-outline</v-icon>

            <v-icon @click="selectedMenuItem = 'pricing'" :class="{ 'text-white': selectedMenuItem === 'pricing' }" size="x-large">mdi-cash</v-icon>

            <v-icon @click="redirectToLogout" color="red">mdi-logout</v-icon>
        </section>

        <DashboardPartial v-show="selectedMenuItem === 'dashboard'" :users="users" :purchases="purchases" :agendas="agendas"/>
        <CalendarPartial v-show="selectedMenuItem === 'calendar'" :users="users" />
        <UsersList v-show="selectedMenuItem === 'users'" :users="users" />
        <MeetingPartial v-show="selectedMenuItem === 'meeting'"  :meeting-route="meetingRoute" :agendas="agendas" />
        <PricingPartial v-show="selectedMenuItem === 'pricing'" :prices="prices"/>


    </div>

</template>

<script>
import DashboardPartial from "./partial/DashboardPartial.vue";
import CalendarPartial from "./partial/CalendarPartial.vue";
import UsersList from "./partial/UsersList.vue";
import MeetingPartial from "./partial/MeetingPartial.vue";
import PricingPartial from "./partial/PricingPartial.vue";
export default {
    name: "DashboardComponent",
    components: {
        DashboardPartial,
        CalendarPartial,
        UsersList,
        MeetingPartial,
        PricingPartial,
    },
    props: {
        users: Array,
        logoutRoute: String,
        messageRoute: String,
        meetingRoute: String,
        messages: Array,
        purchases: Array,
        agendas: Array,
        prices: Array,
    },
    data() {
        return {
            selectedMenuItem: 'dashboard',
            showEditProfile: false
        };
    },
    methods: {
        redirectToChat() {
            window.location.href = this.messageRoute;
        },
        redirectToLogout() {
            window.location.href = this.logoutRoute;
        },
        hasUnseenMessagesToUser1(messages) {
            for (let i = 0; i < messages.length; i++) {
                if (messages[i].to_id === 1 && messages[i].seen === 0) {
                    return true;
                }
            }
            return false;
        }
    }
}
</script>

<style scoped>

</style>
