.btn-lesson {
    border: 1px solid;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.btn-credits {
    border: 1px solid;
    text-align: center;
    text-decoration: none;
    border-radius: 22px;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
}

.bold {
    font-weight: bold;
}

.m-bottom {
    margin-bottom: 5%;
    margin-right: 10%;
    margin-left: 10%;
}

.pad-bottom-search {
    padding-top: 15px;
}

.center-text {
    display: flex;
    justify-content: center;
}

.info-lastname {
    margin-left: 10px;
}
