<template>
    <div v-if="appointment && appointment.length > 0" class="px-8 md:mx-44">
        <div v-if="upcomingAppointments">
            <h2 class="text-2xl font-bold mt-10 mb-5">{{ $t('lessons.nextLesson') }}</h2>
            <ul>
                <li v-for="appointment in upcomingAppointments" :key="appointment.id">
                    <v-card v-if="!appointment.is_canceled" class="py-6 ps-5 mb-5" variant="outlined">
                        <div class="flex">
                        <span class="flex items-center">
                            <v-icon class="ms-4 pe-5">mdi-calendar</v-icon>
                            {{ formatDate(appointment) }}
                        </span>
                            <span class="flex items-center">
                            <v-icon class="ms-8 pe-5">mdi-clock-outline</v-icon>
                            {{ formatTime(appointment) }}
                        </span>
                        </div>
                        <p class="mt-4 ms-2">Frances, {{ $t('lessons.english') }}</p>
                    </v-card>
                    <v-card v-else class="py-6 ps-5 mb-5 opacity-50" variant="outlined">
                        <div
                            class="absolute top-0 left-0 w-full h-full origin-top-left border-black border-t-2 rotate-[17.2deg] md:rotate-[15deg] lg:rotate-[6.1deg] 2xl:rotate-[4.1deg]"
                        ></div>
                        <div
                            class="absolute top-0 left-1 w-full h-full origin-top-right border-black border-t-2 rotate-[-17.2deg] md:rotate-[-15deg] lg:rotate-[-6.1deg] 2xl:rotate-[-4.1deg]"
                        ></div>
                        <div class="flex relative">
                        <span class="flex items-center">
                            <v-icon class="ms-4 pe-5">mdi-calendar-remove</v-icon>
                            {{ formatDate(appointment) }}
                        </span>
                            <span class="flex items-center">
                            <v-icon class="ms-8 pe-5">mdi-clock-outline</v-icon>
                            {{ formatTime(appointment) }}
                        </span>
                        </div>
                        <p class="mt-4 ms-2 relative">{{ $t('lessons.refund') }}</p>
                    </v-card>
                </li>
            </ul>
        </div>

        <div v-if="pastAppointments && pastAppointments.length > 0" class="mb-32" :class="{ 'mt-20': upcomingAppointments, 'mt-10': !upcomingAppointments }">
            <h2 class="text-2xl font-bold mb-5">{{ $t('lessons.pastLesson') }}</h2>
            <ul>
                <li v-for="appointment in pastAppointments" :key="appointment.id">
                    <v-card
                        v-if="!appointment.is_canceled"
                        class="py-8 ps-5 mb-5" variant="outlined">
                        <div class="flex">
                        <span class="flex items-center">
                            <v-icon class="ms-4 pe-5">mdi-calendar-check-outline</v-icon>
                            {{ formatDate(appointment) }}
                        </span>
                            <span class="flex items-center">
                            <v-icon class="ms-8 pe-5">mdi-clock-outline</v-icon>
                            {{ formatTime(appointment) }}
                        </span>
                        </div>
                        <p class="mt-4 ms-1">
                            <v-icon color="green">mdi-check</v-icon>
                            {{ $t('lessons.paid') }}
                        </p>
                    </v-card>
                    <v-card v-else class="py-6 ps-5 mb-5 opacity-50" variant="outlined">
                        <div
                            class="absolute top-0 left-0 w-full h-full origin-top-left border-black border-t-2 rotate-[17.2deg] md:rotate-[15deg] lg:rotate-[6.1deg] 2xl:rotate-[4.1deg]"
                        ></div>
                        <div
                            class="absolute top-0 left-1 w-full h-full origin-top-right border-black border-t-2 rotate-[-17.2deg] md:rotate-[-15deg] lg:rotate-[-6.1deg] 2xl:rotate-[-4.1deg]"
                        ></div>
                        <div class="flex relative">
                        <span class="flex items-center">
                            <v-icon class="ms-4 pe-5">mdi-calendar-remove</v-icon>
                            {{ formatDate(appointment) }}
                        </span>
                            <span class="flex items-center">
                            <v-icon class="ms-8 pe-5">mdi-clock-outline</v-icon>
                            {{ formatTime(appointment) }}
                        </span>
                        </div>
                        <p class="mt-4 ms-2 relative">{{ $t('lessons.refund') }}</p>
                    </v-card>
                </li>
            </ul>
        </div>

    </div>
    <div v-else>
        <div class="flex justify-center">
            <v-icon class="mt-20 text-gray-200" size="500">mdi-calendar</v-icon>
            <p class="position-absolute mt-72 text-xl mx-10 text-center">{{ $t('lessons.noAppointment') }}</p>
        </div>
        <div class="flex justify-center pb-20">
            <v-btn @click="redirectToHome" append-icon="mdi-home" prepend-icon="mdi-arrow-left">
                {{ $t('lessons.btnBack') }}
            </v-btn>
        </div>

    </div>

    <FooterConnected :class="appointment.length > 2 || appointment.length === 0 ? 'relative' : 'absolute bottom-0 w-full'"
                     :lesson-route="lessonRoute"
                     :meeting-route="meetingRoute"
                     :message-route="messageRoute"/>
</template>

<script>
import FooterConnected from "../FooterConnected.vue";
export default {
    name: "LessonComponent",
    components: {
        FooterConnected,
    },
    props: {
        appointment: Array,
        homeRoute: String,
        lessonRoute: String,
        meetingRoute: String,
        messageRoute: String,
        country: Object,
    },
    data() {
        return {
            pdfPrivacy: '/pdf/privacy_policy.pdf',
        };
    },
    computed: {
        upcomingAppointments() {
            const now = new Date();

            const filteredAppointments = this.appointment.filter(a => {
                const startTime = new Date(a.start_time);
                const endTime = new Date(a.end_time);

                return startTime > now && endTime > now;
            });

            return filteredAppointments.sort((a, b) => new Date(a.start_time) - new Date(b.start_time));
        },
        pastAppointments() {
            const now = new Date();

            const filteredAppointments = this.appointment.filter(a => {
                const endTime = new Date(a.end_time);

                return endTime <= now;
            });

            return filteredAppointments.sort((a, b) => new Date(b.start_time) - new Date(a.start_time));
        },
    },
    methods: {
        redirectToHome() {
            window.location.href = this.homeRoute;
        },
        capitalizeFirstLetter(str) {
            return str.charAt(0).toUpperCase() + str.slice(1).toLowerCase();
        },
        formatDate(appointment) {
            const locale = this.$i18n.locale;
            const userTimezone = this.getTimezoneFromCountryCode(this.country.code_iso);
            const startDate = new Date(appointment.start_time);

            const day = startDate.toLocaleDateString(locale, {
                weekday: 'long',
                day: 'numeric',
                month: 'long',
                timeZone: userTimezone
            });
            return this.capitalizeFirstLetter(day);
        },
        getTimezoneFromCountryCode(countryCode) {
            const timezoneMap = {
                'AE': 'Asia/Dubai',
                'AU': 'Australia/Sydney',
                'AT': 'Europe/Vienna',
                'BE': 'Europe/Brussels',
                'BR': 'America/Sao_Paulo',
                'BG': 'Europe/Sofia',
                'CA': 'America/Toronto',
                'HR': 'Europe/Zagreb',
                'CY': 'Asia/Nicosia',
                'CZ': 'Europe/Prague',
                'DK': 'Europe/Copenhagen',
                'EE': 'Europe/Tallinn',
                'FI': 'Europe/Helsinki',
                'FR': 'Europe/Paris',
                'DE': 'Europe/Berlin',
                'GH': 'Africa/Accra',
                'GI': 'Europe/Gibraltar',
                'GR': 'Europe/Athens',
                'HK': 'Asia/Hong_Kong',
                'HU': 'Europe/Budapest',
                'IN': 'Asia/Kolkata',
                'ID': 'Asia/Jakarta',
                'IE': 'Europe/Dublin',
                'IT': 'Europe/Rome',
                'JP': 'Asia/Tokyo',
                'KE': 'Africa/Nairobi',
                'LV': 'Europe/Riga',
                'LI': 'Europe/Vaduz',
                'LT': 'Europe/Vilnius',
                'LU': 'Europe/Luxembourg',
                'MY': 'Asia/Kuala_Lumpur',
                'MT': 'Europe/Malta',
                'MX': 'America/Mexico_City',
                'NL': 'Europe/Amsterdam',
                'NZ': 'Pacific/Auckland',
                'NG': 'Africa/Lagos',
                'NO': 'Europe/Oslo',
                'PL': 'Europe/Warsaw',
                'PT': 'Europe/Lisbon',
                'RO': 'Europe/Bucharest',
                'SG': 'Asia/Singapore',
                'SK': 'Europe/Bratislava',
                'SI': 'Europe/Ljubljana',
                'ZA': 'Africa/Johannesburg',
                'ES': 'Europe/Madrid',
                'SE': 'Europe/Stockholm',
                'CH': 'Europe/Zurich',
                'TH': 'Asia/Bangkok',
                'GB': 'Europe/London',
                'US': 'America/New_York'
            };

            return timezoneMap[countryCode] || 'UTC';
        },
        formatTime(appointment) {
            const locale = this.$i18n.locale;
            const userTimezone = this.getTimezoneFromCountryCode(this.country.code_iso);
            const startDate = new Date(appointment.start_time);
            const endDate = new Date(appointment.end_time);

            const startTime = startDate.toLocaleTimeString(locale, { hour: 'numeric', minute: 'numeric', timeZone: userTimezone });
            const endTime = endDate.toLocaleTimeString(locale, { hour: 'numeric', minute: 'numeric', timeZone: userTimezone });

            return `${startTime} - ${endTime}`;
        },
    },
};
</script>

<style scoped>

</style>
