<template>
    <!-- PRICING SECTION -->
    <section id="pricing-section" class="pt-10 md:mt-10 pb-24 md:pb-72">
        <h2 class="text-center text-3xl font-extrabold text-gray-900 | md:text-5xl">{{ $t('homepage.titlePrice') }}</h2>
        <v-divider class="border-opacity-100 mx-auto mt-5 w-52 md:w-full" inset length="340"></v-divider>
        <!-- PRICING CAROUSEL PHONE -->
        <v-carousel id="pricing-section-phone" class="lg:hidden my-5" height="570" draggable="true" color="#149BFC" hide-delimiter-background hide-icons :show-arrows="false">
            <v-carousel-item>
                <div
                    class="w-80 mx-auto shadow-md ring-1 ring-zinc-300 min-h-[85%] border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                >
                    <div class="mb-5">
                        <h2 class="text-2xl font-bold text-gray-900">1 {{ $t('homepage.titleCardPriceSingular') }}</h2>
                        <p class="mt-5">
                            <span class="text-4xl font-extrabold text-gray-900">{{ Math.round( prices[0].value * exchangeRate) }} {{ getCurrencySymbol(this.country.code_iso) }}</span>
                        </p>
                        <h3
                            class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                        >
                            {{ $t('homepage.subTitleCardPrice') }} :
                        </h3>
                    </div>

                    <ul class="flex flex-grow flex-shrink-0 flex-col">
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text1CardPrice') }}
                            </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text2CardPrice') }}
                            </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text3CardPrice') }}
                            </span>
                        </li>

                        <li class="flex space-x-3 py-2 mt-36">
                            <v-btn class="me-10 text-none !font-bold"
                                   block
                                   size="large"
                                   color="#149BFC"
                                   :text="$t('homepage.textBtnCardPrice')"
                                   :loading="loading1"
                                   @click="checkout(prices[0].value * 100, 'loading1', parentSelectedLanguage)">
                                   <template #loader>
                                       <v-icon :class="{ 'rotate': loading1 }" color="white">mdi-loading</v-icon>
                                   </template>
                            </v-btn>
                        </li>
                    </ul>
                </div>
            </v-carousel-item>

            <v-carousel-item>
                <div
                    class="w-80 mx-auto shadow-md ring-1 ring-zinc-300 min-h-[85%] border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                >
                    <div class="mb-5">
                        <h2 class="text-2xl font-bold text-gray-900">2 {{ $t('homepage.titleCardPricePlurial') }}</h2>
                        <p class="mt-5">
                            <span class="text-4xl font-extrabold text-gray-900">{{ Math.round( prices[1].value * exchangeRate) }} {{ getCurrencySymbol(this.country.code_iso) }}</span>
                        </p>
                        <h3
                            class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                        >
                            {{ $t('homepage.subTitleCardPrice') }} :
                        </h3>
                    </div>

                    <ul class="flex flex-grow flex-shrink-0 flex-col">
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                            {{ $t('homepage.text1CardPrice') }}
                        </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text2CardPrice') }}
                    </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text3CardPrice') }}
                    </span>
                        </li>

                        <li class="flex space-x-3 py-2 mt-36">
                            <v-btn class="me-10 text-none !font-bold"
                                   block
                                   size="large"
                                   color="#149BFC"
                                   :text="$t('homepage.textBtnCardPrice')"
                                   :loading="loading2"
                                   @click="checkout(prices[1].value * 100,'loading2', parentSelectedLanguage)">
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading2 }" color="white">mdi-loading</v-icon>
                                    </template>
                            </v-btn>
                        </li>
                    </ul>
                </div>
            </v-carousel-item>

            <v-carousel-item>
                <div
                    class="w-80 mx-auto shadow-md ring-1 ring-zinc-300 min-h-[85%] border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                >
                    <div class="mb-5">
                        <h2 class="text-2xl font-bold text-gray-900">4 {{ $t('homepage.titleCardPricePlurial') }}</h2>
                        <p class="mt-5">
                            <span class="text-4xl font-extrabold text-gray-900">{{ Math.round( prices[2].value * exchangeRate) }} {{ getCurrencySymbol(this.country.code_iso) }}</span>
                        </p>
                        <h3
                            class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                        >
                            {{ $t('homepage.subTitleCardPrice') }} :
                        </h3>
                    </div>

                    <ul class="flex flex-grow flex-shrink-0 flex-col">
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text1CardPrice') }}
                            </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text2CardPrice') }}
                    </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text3CardPrice') }}
                    </span>
                        </li>

                        <li class="flex space-x-3 py-2 mt-36">
                            <v-btn class="me-10 text-none !font-bold"
                                   block
                                   size="large"
                                   color="#149BFC"
                                   :text="$t('homepage.textBtnCardPrice')"
                                   :loading="loading3"
                                   @click="checkout(prices[2].value * 100, 'loading3', parentSelectedLanguage)">
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading3 }" color="white">mdi-loading</v-icon>
                                    </template>
                            </v-btn>
                        </li>
                    </ul>
                </div>
            </v-carousel-item>
        </v-carousel>

        <!-- PRICING DESKTOP -->
        <section class="hidden lg:block">
            <div class="mt-8 flex flex-wrap justify-center items-center flex-col md:space-x-10 md:flex-row 2xl:gap-x-32">
                <!-- Pricing 1 -->
                <div
                    class="flex flex-col max-w-sm min-h-[450px] shadow-md ring-1 ring-zinc-300 w-72 h-full border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                >
                    <div class="mb-5">
                        <h2 class="text-2xl font-bold text-gray-900">1 {{ $t('homepage.titleCardPriceSingular') }}</h2>
                        <p class="mt-5">
                            <span class="text-4xl font-extrabold text-gray-900">{{ Math.round( prices[0].value * exchangeRate) }} {{ getCurrencySymbol(this.country.code_iso) }}</span>
                        </p>
                        <h3
                            class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                        >
                            {{ $t('homepage.subTitleCardPrice') }} :
                        </h3>
                    </div>

                    <ul class="flex flex-grow flex-shrink-0 flex-col">
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text1CardPrice') }}
                            </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text2CardPrice') }}
                            </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text3CardPrice') }}
                            </span>
                        </li>

                        <li class="flex space-x-3 py-2 mt-auto">
                            <v-btn class="me-10 text-none !font-bold"
                                   block
                                   size="large"
                                   color="#149BFC"
                                   :text="$t('homepage.textBtnCardPrice')"
                                   :loading="loading1"
                                   @click="checkout(prices[0].value * 100, 'loading1', parentSelectedLanguage)">
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading1 }" color="white">mdi-loading</v-icon>
                                    </template>
                            </v-btn>
                        </li>
                    </ul>
                </div>

                <!-- Pricing 2 -->
                <div
                    class="flex flex-col max-w-sm min-h-[450px] shadow-md  ring-1 ring-zinc-300 w-72 h-full border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                >
                    <div class="mb-5">
                        <h2 class="text-2xl font-bold text-gray-900">2 {{ $t('homepage.titleCardPricePlurial') }}</h2>
                        <p class="mt-5">
                            <span class="text-4xl font-extrabold text-gray-900">{{ Math.round( prices[1].value * exchangeRate) }} {{ getCurrencySymbol(this.country.code_iso) }}</span>
                        </p>
                        <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">
                            {{ $t('homepage.subTitleCardPrice') }} :
                        </h3>
                    </div>

                    <ul class="flex flex-grow flex-shrink-0 flex-col">
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text1CardPrice') }}
                    </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text2CardPrice') }}
                    </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text3CardPrice') }}
                    </span>
                        </li>

                        <li class="flex space-x-3 py-2 mt-auto">
                            <v-btn class="me-10 text-none !font-bold"
                                   block
                                   size="large"
                                   color="#149BFC"
                                   :text="$t('homepage.textBtnCardPrice')"
                                   :loading="loading2"
                                   @click="checkout(prices[1].value * 100,'loading2', parentSelectedLanguage)">
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading2 }" color="white">mdi-loading</v-icon>
                                    </template>
                            </v-btn>
                        </li>
                    </ul>
                </div>

                <!-- Pricing 3 -->
                <div
                    class="flex flex-col max-w-sm min-h-[450px] shadow-md  ring-1 ring-zinc-300 w-72 h-full border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                >
                    <div class="mb-5">
                        <h2 class="text-2xl font-bold text-gray-900">4 {{ $t('homepage.titleCardPricePlurial') }}</h2>
                        <p class="mt-5">
                            <span class="text-4xl font-extrabold text-gray-900">{{ Math.round( prices[2].value * exchangeRate) }} {{ getCurrencySymbol(this.country.code_iso) }}</span>
                        </p>
                        <h3
                            class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                        >
                            {{ $t('homepage.subTitleCardPrice') }} :
                        </h3>
                    </div>

                    <ul class="flex flex-grow flex-shrink-0 flex-col">
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text1CardPrice') }}
                    </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text2CardPrice') }}
                    </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text3CardPrice') }}
                    </span>
                        </li>

                        <li class="flex space-x-3 py-2 mt-auto">
                            <v-btn class="me-10 text-none !font-bold"
                                   block
                                   size="large"
                                   color="#149BFC"
                                   :text="$t('homepage.textBtnCardPrice')"
                                   :loading="loading3"
                                   @click="checkout(prices[2].value * 100, 'loading3', parentSelectedLanguage)">
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading3 }" color="white">mdi-loading</v-icon>
                                    </template>
                            </v-btn>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </section>

    <!-- FOOTER -->
    <FooterConnected :lesson-route="lessonRoute" :message-route="messageRoute"/>

</template>

<script>
import NavbarProfile from "../profile/NavbarProfile.vue";
import FooterConnected from "../FooterConnected.vue";
export default {
    name: "PaymentComponent",
    props: {
        registerRoute: String,
        country: Object,
        messageRoute: String,
        lessonRoute: String,
        prices: Array,
    },
    components: {
        FooterConnected,
        NavbarProfile,
    },
    data() {
        return {
            exchangeRate: null,
            currency: "",
            lessonAmount: 1500,
            loading1: false,
            loading2: false,
            loading3: false,
            parentSelectedLanguage: localStorage.getItem('selectedLanguage') || 'English',
            pdfPrivacy: '/pdf/privacy_policy.pdf',
        };
    },
    mounted() {
        const countryCode = this.country.code_iso;
        this.fetchExchangeRate(countryCode);
    },
    methods: {
        handleLanguageSelected(language) {
            this.parentSelectedLanguage = language;
        },
        async fetchExchangeRate(countryCode) {
            try {
                const currencyCode = this.mapCountryCodeToCurrency(countryCode);
                const response = await axios.get('/exchange-rate');
                this.exchangeRate = response.data.conversion_rates[currencyCode];
            } catch (error) {
                console.error('Failed to fetch exchange rate:', error);
            }
        },
        mapCountryCodeToCurrency(countryCode) {
            const countryToCurrency = {
                'AU': 'AUD',
                'AT': 'EUR',
                'BE': 'EUR',
                'BR': 'BRL',
                'BG': 'BGN',
                'CA': 'CAD',
                'HR': 'HRK',
                'CY': 'EUR',
                'CZ': 'CZK',
                'DK': 'DKK',
                'EE': 'EUR',
                'FI': 'EUR',
                'FR': 'EUR',
                'DE': 'EUR',
                'GH': 'GHS',
                'GI': 'GIP',
                'GR': 'EUR',
                'HK': 'HKD',
                'HU': 'HUF',
                'IN': 'INR',
                'ID': 'IDR',
                'IE': 'EUR',
                'IT': 'EUR',
                'JP': 'JPY',
                'KE': 'KES',
                'LV': 'EUR',
                'LI': 'CHF',
                'LT': 'EUR',
                'LU': 'EUR',
                'MY': 'MYR',
                'MT': 'EUR',
                'MX': 'MXN',
                'NL': 'EUR',
                'NZ': 'NZD',
                'NG': 'NGN',
                'NO': 'NOK',
                'PL': 'PLN',
                'PT': 'EUR',
                'RO': 'RON',
                'SG': 'SGD',
                'SK': 'EUR',
                'SI': 'EUR',
                'ZA': 'ZAR',
                'ES': 'EUR',
                'SE': 'SEK',
                'CH': 'CHF',
                'TH': 'THB',
                'AE': 'AED',
                'GB': 'GBP',
                'US': 'USD'
            };
            return countryToCurrency[countryCode];
        },
        getCurrencySymbol(countryCode) {
            const countryToCurrency = {
                'AU': 'AUD',
                'AT': 'EUR',
                'BE': 'EUR',
                'BR': 'BRL',
                'BG': 'BGN',
                'CA': 'CAD',
                'HR': 'HRK',
                'CY': 'EUR',
                'CZ': 'CZK',
                'DK': 'DKK',
                'EE': 'EUR',
                'FI': 'EUR',
                'FR': 'EUR',
                'DE': 'EUR',
                'GH': 'GHS',
                'GI': 'GIP',
                'GR': 'EUR',
                'HK': 'HKD',
                'HU': 'HUF',
                'IN': 'INR',
                'ID': 'IDR',
                'IE': 'EUR',
                'IT': 'EUR',
                'JP': 'JPY',
                'KE': 'KES',
                'LV': 'EUR',
                'LI': 'CHF',
                'LT': 'EUR',
                'LU': 'EUR',
                'MY': 'MYR',
                'MT': 'EUR',
                'MX': 'MXN',
                'NL': 'EUR',
                'NZ': 'NZD',
                'NG': 'NGN',
                'NO': 'NOK',
                'PL': 'PLN',
                'PT': 'EUR',
                'RO': 'RON',
                'SG': 'SGD',
                'SK': 'EUR',
                'SI': 'EUR',
                'ZA': 'ZAR',
                'ES': 'EUR',
                'SE': 'SEK',
                'CH': 'CHF',
                'TH': 'THB',
                'AE': 'AED',
                'GB': 'GBP',
                'US': 'USD'
            };

            const currencyToSymbol = {
                'AUD': '$',
                'EUR': '€',
                'BRL': 'R$',
                'BGN': 'лв',
                'CAD': '$',
                'HRK': 'kn',
                'CZK': 'Kč',
                'DKK': 'kr',
                'HUF': 'Ft',
                'INR': '₹',
                'IDR': 'Rp',
                'JPY': '¥',
                'KES': 'KSh',
                'HKD': 'HK$',
                'MYR': 'RM',
                'MXN': 'MX$',
                'NZD': '$',
                'NGN': '₦',
                'NOK': 'kr',
                'PLN': 'zł',
                'RON': 'lei',
                'SGD': 'S$',
                'ZAR': 'R',
                'SEK': 'kr',
                'CHF': 'CHF',
                'THB': '฿',
                'AED': 'د.إ',
                'GBP': '£',
                'USD': '$'
            };

            const currencyCode = countryToCurrency[countryCode];
            return currencyToSymbol[currencyCode] || '$';
        },
        checkout(amount, loadingProp, parentSelectedLanguage) {
            this[loadingProp] = true;
            axios.post('checkout', { amount, parentSelectedLanguage })
                .then(response => {
                    window.location.href = response.data.redirect_url;
                })
                .catch(error => {
                    console.error('Erreur lors de la requête POST:', error);
                });
        }
    },
}
</script>

<style scoped>
/* Spinner loading */
.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
</style>
