<template>
    <div class="my-5 border mx-5 xl:flex bg-white">
        <div>
            <img class="w-40 xl:w-60 mx-auto" src="../../../../../img/speaklingo-logo.png" alt="Logo du site SpeakLingo">
        </div>
        <div class="xl:ms-48 2xl:ms-96 2xl:ps-20">
            <div>
                <div class="wrapper">
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"> <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/> <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
                </div>
                <div class="text-center">
                    <h3 class="md:text-2xl text-base text-gray-900 font-semibold text-center mb-10">{{ $t('successPayment.tittle') }}</h3>
                    <p class="text-xl my-3 mx-5 xl:mx-0 text-center">{{ $t('successPayment.txt1') }}</p>
                    <p class="text-xl mb-10">{{ $t('successPayment.txt2') }}</p>

                    <p class="text-gray-600 mb-5">{{ $t('successPayment.txt3') }}</p>

                    <v-progress-circular
                        :model-value="value"
                        :rotate="180"
                        :size="100"
                        :width="15"
                        color="#149BFC"
                    >
                        {{ countdown }}
                    </v-progress-circular>

                    <div class="py-10 text-center">
                        <a :href="homeRoute" class="text-white px-8 py-3 font-semibold rounded bg-[#149BFC] hover:bg-blue-500">{{ $t('successPayment.btn') }}</a>
                    </div>
                </div>
            </div>



        </div>
    </div>
</template>


<script>
export default {
    name: "SuccessComponent",
    props: {
        homeRoute: String,
    },
    data() {
        return {
            selectedLanguage: localStorage.getItem('selectedLanguage') || "English",
            interval: {},
            value: 0,
        };
    },
    computed: {
        countdown() {
            return Math.floor((100 - this.value) / 10); // Inverse le compte à rebours
        }
    },
    beforeUnmount () {
        clearInterval(this.interval)
    },
    mounted() {
        if (localStorage.getItem('selectedLanguage')) {
            this.$i18n.locale = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
            this.$vuetify.locale.current = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
        }
        // Automatic redirection after 10 seconds
        setTimeout(() => {
            window.location.href = this.homeRoute;
        }, 10150);

        // COUNTDOWN
        this.interval = setInterval(() => {
            if (this.value === 100) {
                clearInterval(this.interval);
            }
            this.value += 10; // Incrémente jusqu'à 100
        }, 1000);
    }
}
</script>


<style scoped>
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}
</style>
