<template>
    <vue-cookie-accept-decline
        :debug="false"
        :disableDecline="false"
        :showPostponeButton="false"
        @clicked-accept="cookieClickedAccept"
        @clicked-decline="cookieClickedDecline"
        @status="cookieStatus"
        elementId="myPanel1"
        position="bottom-left"
        ref="myPanel1"
        transitionName="slideFromBottom"
        type="floating"
    >
        <!-- Optional -->
        <template #postponeContent>&times;</template>

        <!-- Optional -->
        <template #message class="overflow-y-hidden">
            {{ $t('homepage.cookie') }} <a :href="this.$i18n.locale === 'en' ? pdfCookie : pdfCookieFr" target="_blank" class="text-[#149BFC] underline">{{ $t('homepage.cookieLink') }}</a>
        </template>

        <!-- Optional -->
        <template #declineContent>{{ $t('homepage.cookieBtnDecline') }}</template>

        <!-- Optional -->
        <template #acceptContent>{{ $t('homepage.cookieBtnAccept') }}</template>
    </vue-cookie-accept-decline>

    <div class="text-center mt-28 font-roboto">

        <div v-if="successMessage" class="w-96 mx-auto p-4 mt-5 text-sm text-green-800 rounded-lg bg-green-100" role="alert">
            <span class="font-medium">{{ successMessage }}</span>
        </div>

        <div v-if="emailVerifiedSuccess" class="w-fit text-no-wrap mx-auto p-4 mt-5 text-sm text-green-800 rounded-lg bg-green-100">
            {{$t('login.successEmail')}}
        </div>

        <div v-if="emailAlreadyVerified" class="w-fit text-no-wrap mx-auto p-4 mt-5 text-sm text-blue-800 rounded-lg bg-blue-100">
            {{$t('login.alreadyVerifiedEmail')}}
        </div>

        <div v-if="emailVerifyError" class="w-fit text-no-wrap mx-auto p-4 mt-5 text-sm text-red-800 rounded-lg bg-red-100">
            {{$t('login.errorEmail')}}
        </div>

        <p class="mt-8 flex justify-center">{{$t('login.upTitle')}} 👋</p>
        <h2 class="text-3xl lg:text-4xl mb-6">{{$t('login.title')}}</h2>

        <v-divider class="border-opacity-100 mx-auto mt-5 w-80 md:w-full" inset length="420"></v-divider>

        <v-form @submit.prevent="submitForm" class="max-w-md mx-auto px-4 py-8 text-start">
            <input type="hidden" name="_token" :value="csrf">
            <!-- Email -->
            <div class="mb-3">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    {{$t('login.form.txt1')}}<span class="text-red-500">*</span>
                </label>
                <v-text-field
                    v-model="formData.email"
                    id="email"
                    type="email"
                    name="email"
                    autocomplete="off"
                    :label="$t('login.form.txtInput1')"
                    density="comfortable"
                    variant="solo"
                    flat
                    bg-color="#F2F2F2"
                    :rules="[v => !!v || $t('login.form.txtInput1Error'), v => /.+@.+\..+/.test(v) || $t('signUp.form.txtInput3Error2')]"
                ></v-text-field>
            </div>
            <!-- Password -->
            <div class="mb-3">
                <div class="flex justify-space-between text-sm text-[#149BFC] hover:text-blue-600">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                        {{$t('login.form.txt2')}}<span class="text-red-500">*</span>
                    </label>
                    <a :href="resetRoute">{{$t('login.form.forgetPassword')}}</a>
                </div>
                <v-text-field
                    v-model="formData.password"
                    id="password"
                    name="password"
                    autocomplete="off"
                    density="comfortable"
                    bg-color="#F2F2F2"
                    variant="solo"
                    flat
                    :label="$t('login.form.txtInput2')"
                    :rules="[v => !!v || $t('login.form.txtInput2Error')]"
                    :append-inner-icon="showPassword.password ? 'mdi-eye-off' : 'mdi-eye'"
                    :type="showPassword.password ? 'text' : 'password'"
                    @click:append-inner="showPassword.password = !showPassword.password"

                ></v-text-field>
            </div>

            <v-btn
                type="submit"
                class="w-full bg-[#149BFC] hover:bg-blue-500 text-white py-2 px-4 text-none !tracking-normal"
                size="large"
                color="#149BFC"
                :text="$t('login.form.btn')"
                :loading="loading"
            >
                <template #loader>
                    <v-icon :class="{ 'rotate': loading }" color="white">mdi-loading</v-icon>
                </template>
            </v-btn>
        </v-form>
        <span>{{$t('login.navbar.text')}}
            <a :href="registerRoute" class="underline text-[#149BFC] | hover:text-blue-500"> {{$t('login.navbar.btn')}}</a>
        </span>

        <!-- FOOTER SECTION -->
        <FooterUnconnected :home-route="homeRoute"/>
    </div>
</template>

<script>
import { useToast } from "vue-toastification";
import FooterUnconnected from "../../FooterUnconnected.vue";
export default {
    name: "LoginComponent",
    components: {FooterUnconnected},
    props: {
        homeRoute: String,
        resetRoute: String,
        registerRoute: String,
        success: Boolean,
        error: Boolean,
        alreadyVerified: Boolean,
    },
    data() {
        return {
            formData: {
                email: "",
                password: "",
            },
            showPassword: {
                password: false,
            },
            isPlaceholderSelected: true,
            isOpenLanguageDropdown: false,
            selectedLanguage: "English",
            csrf: document.head.querySelector('meta[name="csrf-token"]').content,
            errors: {},
            successMessage: null,
            toast: useToast(),
            emailVerifiedSuccess: false,
            emailVerifyError: false,
            emailAlreadyVerified: false,
            loading: false,
            pdfCookie: '/pdf/cookies_speaklingo.pdf',
            pdfCookieFr: '/pdf/cookies_speaklingo_fr.pdf',
            pdfPrivacy: '/pdf/privacy_policy.pdf',
        };
    },
    methods: {
        cookieStatus(status) {
            this.status = status;
        },
        cookieClickedAccept() {
            this.status = "accept";
        },
        cookieClickedDecline() {
            this.status = "decline";
        },
        submitForm() {
            this.errors = {};

            // Validation du formulaire
            if (!this.formData.email || !this.formData.password) {
                return;
            }

            this.loading = true;

            axios.post('login', this.formData)
                .then(response => {
                    if (response.data.authenticated) {
                        window.location.href = `/profile`;
                    } else {
                        this.loading = false;
                        console.error('Authentication failed');
                    }
                })
                .catch(error => {
                    this.loading = false;
                    if (error.response && error.response.status === 403 && error.response.data && error.response.data.error === 'Email not verified') {
                        this.toast.error(this.$t('login.errorEmailNotVerified'));
                    } else if (error.response && error.response.status === 422 && error.response.data && error.response.data.error === 'Invalid email or password') {
                        this.toast.error(this.$t('login.errorInvalid'));
                    } else if (error.response && error.response.data && error.response.data.errors) {
                        const errorMessages = Object.values(error.response.data.errors).join(', ');
                        this.toast.error(errorMessages);
                    } else {
                        this.toast.error(this.$t('calendar.toastErrorGeneral'));
                    }
                })
                .finally(() => {
                    this.formData.password = null;
                });
        },
        handleCountryChange() {
            this.isPlaceholderSelected = this.$refs.countrySelect.value === '';
        },
        selectLanguage(language) {
            this.selectedLanguage = language;
            this.isOpenLanguageDropdown = false;
        },
        toggleLanguageDropdown() {
            this.isOpenLanguageDropdown = !this.isOpenLanguageDropdown;
        },
        closeDropdown() {
            this.isOpenLanguageDropdown = false;
        },
        handleDocumentClick(event) {
            const dropdownButton = this.$refs.languageButton;
            if (dropdownButton && !dropdownButton.contains(event.target)) {
                this.isOpenLanguageDropdown = false;
            }
        },
        togglePasswordVisibility(field) {
            this.showPassword[field] = !this.showPassword[field];
        }
    },
    mounted() {
        document.addEventListener('click', this.handleDocumentClick);
        window.addEventListener('scroll', this.handleScroll);

        if (this.success) {
            this.emailVerifiedSuccess = true;
        }

        if (this.alreadyVerified) {
            this.emailAlreadyVerified = true;
        }

        if (this.error) {
            this.emailVerifyError = true;
        }
    },
    beforeDestroy() {
        document.removeEventListener('click', this.handleDocumentClick);
    },
}
</script>

<style scoped>
.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
</style>
