<template>
    <vue-cookie-accept-decline
        :debug="false"
        :disableDecline="false"
        :showPostponeButton="false"
        @clicked-accept="cookieClickedAccept"
        @clicked-decline="cookieClickedDecline"
        @status="cookieStatus"
        elementId="myPanel1"
        position="bottom-left"
        ref="myPanel1"
        transitionName="slideFromBottom"
        type="floating"
    >
        <!-- Optional -->
        <template #postponeContent>&times;</template>

        <!-- Optional -->
        <template #message class="overflow-y-hidden">
            {{ $t('homepage.cookie') }} <a :href="this.$i18n.locale === 'en' ? pdfCookie : pdfCookieFr" target="_blank" class="text-[#149BFC] underline">{{ $t('homepage.cookieLink') }}</a>
        </template>

        <!-- Optional -->
        <template #declineContent>{{ $t('homepage.cookieBtnDecline') }}</template>

        <!-- Optional -->
        <template #acceptContent>{{ $t('homepage.cookieBtnAccept') }}</template>
    </vue-cookie-accept-decline>

    <div :class="{ 'h-screen': showCard }" class="text-center mt-28 font-roboto flex flex-col justify-between">

        <div :class="{ 'hidden': showCard }">
            <h2 class="text-3xl lg:text-4xl mb-6 max-w-lg mx-auto text-center">{{$t('resetPassword.upTitle')}}</h2>
            <p class="max-w-sm mx-auto">{{$t('newPasswordReset.title')}}</p>

            <v-divider class="border-opacity-100 mx-auto mt-5 w-80 md:w-full" inset length="420"></v-divider>

            <v-form @submit.prevent="submitForm" class="relative max-w-md mx-auto px-4 py-8 text-start">
                <!-- Password input fields -->
                <div class="mb-3 space-y-4">
                    <label class="block text-gray-700 text-sm font-bold" for="password">
                        {{ $t('newPasswordReset.txt2') }}<span class="text-red-500">*</span>
                    </label>
                    <v-text-field
                        v-model="password"
                        id="password"
                        name="password"
                        autocomplete="off"
                        density="comfortable"
                        bg-color="#F2F2F2"
                        variant="solo"
                        flat
                        :hint="$t('signUp.form.txtInput6Hint')"
                        :label="$t('newPasswordReset.txtInput2')"
                        :rules="[v => !!v || $t('login.form.txtInput2Error'), v => (v && v.length >= 8) || $t('newPasswordReset.passwordLengthError')]"
                        :append-inner-icon="showPassword.password ? 'mdi-eye-off' : 'mdi-eye'"
                        :type="showPassword.password ? 'text' : 'password'"
                        @click:append-inner="showPassword.password = !showPassword.password"
                    ></v-text-field>

                    <label class="block text-gray-700 text-sm font-bold" for="confirmPassword">
                        {{ $t('newPasswordReset.txt3') }}<span class="text-red-500">*</span>
                    </label>
                    <v-text-field
                        v-model="confirmPassword"
                        id="password"
                        name="password"
                        autocomplete="off"
                        density="comfortable"
                        bg-color="#F2F2F2"
                        variant="solo"
                        flat
                        :label="$t('newPasswordReset.txtInput3')"
                        :rules="[v => !!v || $t('login.form.txtInput2Error'), v => confirmPassword === password || $t('newPasswordReset.confirmPasswordError')]"
                        :append-inner-icon="showPassword2.password ? 'mdi-eye-off' : 'mdi-eye'"
                        :type="showPassword2.password ? 'text' : 'password'"
                        @click:append-inner="showPassword2.password = !showPassword2.password"
                    ></v-text-field>
                </div>

                <v-btn
                    type="submit"
                    class="w-full bg-[#149BFC] hover:bg-blue-500 text-white py-2 px-4 text-none !tracking-normal"
                    size="large"
                    color="#149BFC"
                    :text="$t('resetPassword.btn')"
                    :loading="loading"
                >
                    <template #loader>
                        <v-icon :class="{ 'rotate': loading }" color="white">mdi-loading</v-icon>
                    </template>
                </v-btn>
            </v-form>
        </div>

        <!-- Transition to show/hide the v-card -->
        <div v-if="showCard" class="absolute top-44 left-0 w-full h-full">
            <transition name="slide-from-bottom">
                <v-card class="max-w-lg mx-auto text-start pt-10 pb-16 px-10">
                    <v-card-title class="font-weight-bold text-uppercase text-center">{{$t('resetPassword.upTitle')}}</v-card-title>
                    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/>
                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                    </svg>
                    <v-card-text class="text-center">
                        {{$t('newPasswordReset.cardText1')}}
                    </v-card-text>
                    <v-card-text class="text-center">
                        {{$t('newPasswordReset.cardText2')}}
                    </v-card-text>
                    <v-btn
                        @click="redirectToLogin"
                        class="mt-5 w-full bg-[#149BFC] hover:bg-blue-500 text-white py-2 px-4 text-none !tracking-normal"
                        size="large"
                        color="#149BFC"
                        :text="$t('login.form.btn')"
                        :loading="loading"
                    >
                        <template #loader>
                            <v-icon :class="{ 'rotate': loading }" color="white">mdi-loading</v-icon>
                        </template>
                    </v-btn>
                </v-card>
            </transition>
        </div>

        <!-- FOOTER -->
        <FooterUnconnected :class="{ 'mt-auto': showCard }" :home-route="homeRoute"/>
    </div>
</template>

<script>
import { useToast } from "vue-toastification";
import FooterUnconnected from "../../FooterUnconnected.vue";

export default {
    name: "NewPasswordReset",
    components: {FooterUnconnected},
    props: {
        homeRoute: String,
        resetRoute: String,
        registerRoute: String,
        loginRoute: String,
        success: Boolean,
        error: Boolean,
        alreadyVerified: Boolean,
    },
    data() {
        return {
            email: '',
            password: '',
            confirmPassword: '',
            showSuccessMessage: false,
            token: null,
            showPassword: {
                password: false,
            },
            showPassword2: {
                confirmPassword: false,
            },
            isPlaceholderSelected: true,
            isOpenLanguageDropdown: false,
            csrf: document.head.querySelector('meta[name="csrf-token"]').content,
            errors: {},
            successMessage: null,
            toast: useToast(),
            loading: false,
            pdfCookie: '/pdf/cookies_speaklingo.pdf',
            pdfCookieFr: '/pdf/cookies_speaklingo_fr.pdf',
            pdfPrivacy: '/pdf/privacy_policy.pdf',
            showCard: false,
        };
    },
    methods: {
        redirectToLogin() {
            window.location.href = this.loginRoute;
        },
        cookieStatus(status) {
            this.status = status;
        },
        cookieClickedAccept() {
            this.status = "accept";
        },
        cookieClickedDecline() {
            this.status = "decline";
        },
        isValidEmail(email) {
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        },
        async submitForm() {
            if (!this.password || !this.confirmPassword || this.confirmPassword !== this.password || this.password.length < 8) {
                return;
            }
            this.loading = true;
            try {
                const response = await axios.post('/password/reset', {
                    token: this.token,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.confirmPassword,
                });
                this.showCard = true;
                this.loading = false;
            } catch (error) {
                this.loading = false;
                if (error.response && error.response.data && error.response.data.email === "We can't find a user with that email address.")
                {
                    this.toast.error(this.$t('resetPassword.error1'));
                } else if (error.response && error.response.data && error.response.data.email === "This password reset token is invalid.") {
                    this.toast.error(this.$t('newPasswordReset.error2'));
                } else {
                    this.toast.error(this.$t('resetPassword.error2'));
                }

            }
        },
        getEmailFromUrl() {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get('email');
        },
        selectLanguage(language) {
            this.selectedLanguage = language;
            this.isOpenLanguageDropdown = false;
        },
        toggleLanguageDropdown() {
            this.isOpenLanguageDropdown = !this.isOpenLanguageDropdown;
        },
        closeDropdown() {
            this.isOpenLanguageDropdown = false;
        },
        handleDocumentClick(event) {
            const dropdownButton = this.$refs.languageButton;
            if (dropdownButton && !dropdownButton.contains(event.target)) {
                this.isOpenLanguageDropdown = false;
            }
        },
        togglePasswordVisibility(field) {
            this.showPassword[field] = !this.showPassword[field];
            this.showPassword2[field] = !this.showPassword2[field];
        },
    },
    mounted() {
        document.addEventListener('click', this.handleDocumentClick);
        window.addEventListener('scroll', this.handleScroll);

        if (this.success) {
            this.emailVerifiedSuccess = true;
        }

        if (this.alreadyVerified) {
            this.emailAlreadyVerified = true;
        }

        if (this.error) {
            this.emailVerifyError = true;
        }

        const path = window.location.pathname;
        const parts = path.split('/');
        this.token = parts[parts.length - 1];

        // Retrieve email from URL
        const emailFromUrl = this.getEmailFromUrl();
        if (emailFromUrl) {
            this.email = emailFromUrl;
        }
    },
    beforeDestroy() {
        document.removeEventListener('click', this.handleDocumentClick);
    },
}
</script>

<style scoped>
.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 100px #7ac142;
    }
}
</style>
