<template>
    <vue-cookie-accept-decline
        :debug="false"
        :disableDecline="false"
        :showPostponeButton="false"
        @clicked-accept="cookieClickedAccept"
        @clicked-decline="cookieClickedDecline"
        @status="cookieStatus"
        elementId="myPanel1"
        position="bottom-left"
        ref="myPanel1"
        transitionName="slideFromBottom"
        type="floating"
    >
        <!-- Optional -->
        <template #postponeContent>&times;</template>

        <!-- Optional -->
        <template #message class="overflow-y-hidden">
            {{ $t('homepage.cookie') }} <a :href="this.$i18n.locale === 'en' ? pdfCookie : pdfCookieFr" target="_blank" class="text-[#149BFC] underline">{{ $t('homepage.cookieLink') }}</a>
        </template>

        <!-- Optional -->
        <template #declineContent>{{ $t('homepage.cookieBtnDecline') }}</template>

        <!-- Optional -->
        <template #acceptContent>{{ $t('homepage.cookieBtnAccept') }}</template>
    </vue-cookie-accept-decline>

    <div :class="{ 'h-screen': showCard }" class="text-center mt-28 font-roboto flex flex-col justify-between">

        <h2 :class="{ 'hidden': showCard }" class="text-3xl lg:text-4xl mb-6 max-w-sm mx-auto text-start">{{$t('resetPassword.upTitle')}}</h2>
        <p :class="{ 'hidden': showCard }" class="max-w-sm mx-auto text-start">{{$t('resetPassword.title')}}</p>

        <v-divider :class="{ 'hidden': showCard }" class="border-opacity-100 mx-auto mt-5 w-80 md:w-full" inset length="420"></v-divider>

        <div :class="{ 'hidden': showCard }">
            <v-form  @submit.prevent="submitForm" class="relative max-w-md mx-auto px-4 py-8 text-start">
                <!-- Email input field -->
                <div class="mb-3">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                        {{$t('login.form.txt1')}}<span class="text-red-500">*</span>
                    </label>
                    <v-text-field
                        v-model="email"
                        id="email"
                        type="email"
                        name="email"
                        autocomplete="off"
                        :label="$t('login.form.txtInput1')"
                        density="comfortable"
                        variant="solo"
                        flat
                        bg-color="#F2F2F2"
                        :rules="[v => !!v || $t('login.form.txtInput1Error'), v => /.+@.+\..+/.test(v) || $t('signUp.form.txtInput3Error2')]"
                    ></v-text-field>
                </div>

                <v-btn
                    type="submit"
                    class="w-full bg-[#149BFC] hover:bg-blue-500 text-white py-2 px-4 text-none !tracking-normal"
                    size="large"
                    color="#149BFC"
                    :text="$t('resetPassword.btn')"
                    :loading="loading"
                >
                    <template #loader>
                        <v-icon :class="{ 'rotate': loading }" color="white">mdi-loading</v-icon>
                    </template>
                </v-btn>
            </v-form>
            <span>
                <a :href="loginRoute" class="underline text-[#149BFC] | hover:text-blue-500">{{ $t('resetPassword.link') }}</a>
            </span>
        </div>


        <!-- Transition to show/hide the v-card -->
        <div v-if="showCard" class="absolute top-52 left-0 w-full h-full">
            <transition name="slide-from-bottom">
                <v-card class="max-w-lg mx-auto text-start pt-16 pb-16 px-10">
                    <v-card-title class="font-weight-bold">{{ $t('resetPassword.cardTitle') }}</v-card-title>
                    <v-card-text>
                        {{ $t('resetPassword.cardText1') }} <span class="font-weight-bold">{{ email }}</span> {{ $t('resetPassword.cardTextUn2') }}
                    </v-card-text>
                    <v-card-text>
                        {{ $t('resetPassword.cardText2') }}
                    </v-card-text>
                </v-card>
            </transition>
        </div>


        <!-- FOOTER -->
        <FooterUnconnected :class="{ 'mt-0': showCard }" :home-route="homeRoute"/>
    </div>
</template>

<script>
import { useToast } from "vue-toastification";
import FooterUnconnected from "../../FooterUnconnected.vue";
export default {
    name: "ResetComponent",
    components: {FooterUnconnected},
    props: {
        homeRoute: String,
        resetRoute: String,
        registerRoute: String,
        loginRoute: String,
        success: Boolean,
        error: Boolean,
        alreadyVerified: Boolean,
    },
    data() {
        return {
            email: null,
            isPlaceholderSelected: true,
            isOpenLanguageDropdown: false,
            selectedLanguage: "English",
            csrf: document.head.querySelector('meta[name="csrf-token"]').content,
            errors: {},
            successMessage: null,
            toast: useToast(),
            loading: false,
            pdfCookie: '/pdf/cookies_speaklingo.pdf',
            pdfCookieFr: '/pdf/cookies_speaklingo_fr.pdf',
            pdfPrivacy: '/pdf/privacy_policy.pdf',
            showCard: false,
        };
    },
    methods: {
        cookieStatus(status) {
            this.status = status;
        },
        cookieClickedAccept() {
            this.status = "accept";
        },
        cookieClickedDecline() {
            this.status = "decline";
        },
        isValidEmail(email) {
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        },
        async submitForm() {
            if (!this.email || !this.isValidEmail(this.email)) {
                return;
            }
            this.loading = true;
            try {
                const response = await axios.post('password/forgot', {
                    email: this.email,
                });
                this.showCard = true;
                this.loading = false;
                this.email = null;
            } catch (error) {
                this.loading = false;
                if (error.response && error.response.data && error.response.data.email) {
                    this.toast.error(this.$t('resetPassword.error1'));
                } else {
                    this.toast.error(this.$t('resetPassword.error2'));
                }
            }
        },

        selectLanguage(language) {
            this.selectedLanguage = language;
            this.isOpenLanguageDropdown = false;
        },
        toggleLanguageDropdown() {
            this.isOpenLanguageDropdown = !this.isOpenLanguageDropdown;
        },
        closeDropdown() {
            this.isOpenLanguageDropdown = false;
        },
        handleDocumentClick(event) {
            const dropdownButton = this.$refs.languageButton;
            if (dropdownButton && !dropdownButton.contains(event.target)) {
                this.isOpenLanguageDropdown = false;
            }
        },
    },
    mounted() {
        document.addEventListener('click', this.handleDocumentClick);
        window.addEventListener('scroll', this.handleScroll);

        if (this.success) {
            this.emailVerifiedSuccess = true;
        }

        if (this.alreadyVerified) {
            this.emailAlreadyVerified = true;
        }

        if (this.error) {
            this.emailVerifyError = true;
        }
    },
    beforeDestroy() {
        document.removeEventListener('click', this.handleDocumentClick);
    },
}
</script>

<style scoped>
.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
</style>
