<template>
    <div class="container mx-auto my-auto lg:px-10">
        <div>
            <div>
                <h4 class="text-xl mb-5">{{ $t('calendar.headTitle') }}</h4>

                <form @submit.prevent="bookAppointment" class="space-y-4 flex flex-col overflow-auto">
                    <div class="lg:flex items-center space-x-32 space-y-10 lg:space-y-0">
                        <!-- v-date-picker -->
                        <v-date-picker
                            locale
                            v-model="meetingDate"
                            :allowed-dates="allowedDates"
                            class="border"
                            :title="$t('calendar.title')"
                            valueType="format"
                            :header="$t('calendar.header')"
                        >
                        </v-date-picker>

                        <!-- v-combobox time -->
                        <v-combobox
                            v-model="selectedTime"
                            :items="allowedTimes"
                            :label="$t('calendar.time')"
                            dense
                            variant="outlined"
                            background-color="#F2F2F2"
                            :rules="[v => !!v || $t('calendar.formError')]"
                            class="ms-0 lg:pt-0 lg:ps-14 text-sm"
                            :disabled="!meetingDate"
                        ></v-combobox>
                    </div>

                    <div class="lg:ml-auto flex align-center">
                        <button @click.prevent="closeModal" class="me-8 p-3 text-red-400 hover:bg-gray-100">{{ $t('calendar.btnCancel') }}</button>
                        <v-btn
                            type="submit"
                            class="bg-[#149BFC] hover:bg-blue-500 text-white py-2 px-4 text-none !tracking-normal"
                            color="#149BFC"
                            size="large"
                            :text="$t('calendar.btnBook')"
                            :loading="loading"
                        >
                            <template #loader>
                                <v-icon :class="{ 'rotate': loading }" color="white">mdi-loading</v-icon>
                            </template>
                        </v-btn>
                    </div>

                </form>
            </div>
        </div>
    </div>
</template>

<script>
import { useToast } from "vue-toastification";
export default {
    name: "CalendarComponent",
    props: {
        country: Object,
        closeModal: Function,
    },
    data() {
        return {
            toast: useToast(),
            appointmentName: '',
            meetingDate: null,
            selectedTime: null,
            allowedDates: [],
            allowedTimes: [],
            newDate: null,
            loading: false,
        };
    },
    created() {
        this.getAllowedDates();
        this.getAllowedTimes();
    },
    watch: {
        meetingDate(newValue) {
            this.onDateChange();
        }
    },
    methods: {
        methods: {
            changeLocale (locale) {
                this.$vuetify.locale.current = locale
            },
        },
        bookAppointment() {

            if (!this.meetingDate) {
                this.allowedTimes = [];
                return;
            }

            if (!this.allowedTimes.includes(this.selectedTime)) {
                this.toast.error(this.$t('calendar.toastError'));
                return;
            }
            this.loading = true;

            const meetingDateOnly = this.meetingDate.toISOString().split('T')[0];
            axios.post('booking', {
                name: this.appointmentName,
                meeting_date: meetingDateOnly,
                meeting_time: this.selectedTime,
                timezone: this.getTimezoneFromCountryCode(this.country.code_iso)
            })
                .then(response => {
                    this.$emit('lesson-booked');
                    console.log(response.data);
                })
                .catch(error => {
                    this.loading = false;
                    this.toast.error(this.$t('calendar.toastErrorGeneral'));
                    console.error('Error booking appointment:', error);
                });
        },
        async getAllowedDates() {
            try {
                const response = await axios.get('get-allowed-dates', {
                    params: {
                        timezone: this.getTimezoneFromCountryCode(this.country.code_iso)
                    }
                });
                this.allowedDates = response.data.allowedDates;
            } catch (error) {
                console.error('Error fetching allowed dates:', error);
            }
        },
        async getAllowedTimes() {
            if (!this.meetingDate) {
                return;
            }
            try {
                const response = await axios.get('get-allowed-times');
                this.allowedTimes = response.data.allowedTimes.flatMap(times => JSON.parse(times));
            } catch (error) {
                console.error('Error fetching allowed times:', error);
            }
        },
        async onDateChange() {
            if (!this.meetingDate) {
                this.allowedTimes = [];
                return;
            }

            const formattedDate = this.formatDate(this.meetingDate);

            try {
                const response = await axios.get('get-allowed-times', {
                    params: {
                        date: formattedDate,
                        timezone: this.getTimezoneFromCountryCode(this.country.code_iso)
                    }
                });
                this.allowedTimes = response.data.allowedTimes;
                this.selectedTime = null;
            } catch (error) {
                console.error('Error fetching allowed times:', error);
            }
        },
        getTimezoneFromCountryCode(countryCode) {
            const timezoneMap = {
                'AE': 'Asia/Dubai',
                'AU': 'Australia/Sydney',
                'AT': 'Europe/Vienna',
                'BE': 'Europe/Brussels',
                'BR': 'America/Sao_Paulo',
                'BG': 'Europe/Sofia',
                'CA': 'America/Toronto',
                'HR': 'Europe/Zagreb',
                'CY': 'Asia/Nicosia',
                'CZ': 'Europe/Prague',
                'DK': 'Europe/Copenhagen',
                'EE': 'Europe/Tallinn',
                'FI': 'Europe/Helsinki',
                'FR': 'Europe/Paris',
                'DE': 'Europe/Berlin',
                'GH': 'Africa/Accra',
                'GI': 'Europe/Gibraltar',
                'GR': 'Europe/Athens',
                'HK': 'Asia/Hong_Kong',
                'HU': 'Europe/Budapest',
                'IN': 'Asia/Kolkata',
                'ID': 'Asia/Jakarta',
                'IE': 'Europe/Dublin',
                'IT': 'Europe/Rome',
                'JP': 'Asia/Tokyo',
                'KE': 'Africa/Nairobi',
                'LV': 'Europe/Riga',
                'LI': 'Europe/Vaduz',
                'LT': 'Europe/Vilnius',
                'LU': 'Europe/Luxembourg',
                'MY': 'Asia/Kuala_Lumpur',
                'MT': 'Europe/Malta',
                'MX': 'America/Mexico_City',
                'NL': 'Europe/Amsterdam',
                'NZ': 'Pacific/Auckland',
                'NG': 'Africa/Lagos',
                'NO': 'Europe/Oslo',
                'PL': 'Europe/Warsaw',
                'PT': 'Europe/Lisbon',
                'RO': 'Europe/Bucharest',
                'SG': 'Asia/Singapore',
                'SK': 'Europe/Bratislava',
                'SI': 'Europe/Ljubljana',
                'ZA': 'Africa/Johannesburg',
                'ES': 'Europe/Madrid',
                'SE': 'Europe/Stockholm',
                'CH': 'Europe/Zurich',
                'TH': 'Asia/Bangkok',
                'GB': 'Europe/London',
                'US': 'America/New_York'
            };

            return timezoneMap[countryCode] || 'UTC';
        },
        formatDate(date) {
            const year = date.getFullYear();
            let month = date.getMonth() + 1;
            let day = date.getDate();

            // Add a 0 to each month without it
            if (month < 10) {
                month = '0' + month;
            }
            if (day < 10) {
                day = '0' + day;
            }

            return year + '-' + month + '-' + day;
        }
    }
}
</script>

<style scoped>
/* Spinner loading */
.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
</style>
