<template>
    <div>
        <div id="callFrame"></div>
    </div>
</template>

<script>
import '@daily-co/daily-js';
export default {
    name: "MeetingPage",
    props: {
        firstName: String,
        lastName: String,
        email: String,
        userRole: String,
    },
    data() {
        return {
            dailyUrl: import.meta.env.VITE_DAILY_URL
        };
    },
    mounted() {
        let storedLanguage = localStorage.getItem('selectedLanguage') || 'Anglais';
        if (this.userRole === 'admin') {
            storedLanguage = 'Anglais';
        }
        const langCode = storedLanguage === 'Français' ? 'fr' : 'en';
        const callFrame = window.Daily.createFrame({
            lang: langCode,
            showLeaveButton: true,
            iframeStyle: {
                position: 'fixed',
                top: '0',
                left: '0',
                width: '100%',
                height: '100%',
            },
        });
        callFrame.setTheme({
            colors: {
                accent: '#149BFC',
                accentText: '#FFFFFF',
                background: '#FFFFFF',
                backgroundAccent: '#FBFCFD',
                baseText: '#000000',
                border: '#EBEFF4',
                mainAreaBg: '#000000',
                mainAreaBgAccent: '#333333',
                mainAreaText: '#FFFFFF',
                supportiveText: '#808080',
            },
        });
        callFrame.setUserName(`${this.firstName}`);
        callFrame.join({ url: this.dailyUrl});

        callFrame.on("left-meeting", this.leaveCall);
    },
    methods: {
        leaveCall() {
            window.location.href = '/';
        }
    }
}
</script>

<style scoped>

</style>
