<template>
    <nav class="h-24 bg-white flex items-center border-b-2 font-roboto">
        <div class="container mx-auto px-4 lg:flex items-center | lg:justify-between">
            <div class="flex items-center ms-4">
                <div class="flex flex-col align-center pe-8 cursor-pointer" @click="redirectToProfile">
                    <img src="../../../../../img/logo.png" alt="" class="w-12">
                    <span class="text-[#149BFC] text-xl font-bold py-1">SpeakLingo</span>
                </div>

                <div class="hidden lg:flex align-center text-no-wrap">
                    <p class="px-4 py-2 me-3 | hidden lg:block"><v-icon class="me-3">mdi-wallet-outline</v-icon>{{ $t('profile.navbar.credits') }} {{ credits }}</p>
                    <v-col md="7" sm="6">
                        <v-btn
                            class="bg-[#149BFC] hover:bg-blue-500 text-white py-2 px-4 text-none !tracking-normal"
                            size="large"
                            color="#149BFC"
                            :text="$t('profile.navbar.btn')"
                            rounded
                            variant="flat"
                            :loading="loading"
                            @click="redirectToPayment">
                            <template #loader>
                                <v-icon :class="{ 'rotate': loading }" color="white">mdi-loading</v-icon>
                            </template>
                        </v-btn>
                    </v-col>
                </div>


                <!-- Phone burger menu -->
                <div class="flex justify-end align-center ms-auto">
                    <!-- Chat Icon -->
                    <div @click="redirectToMessage" class="me-3 lg:hidden">
                        <i class="bi bi-chat-square-text ms-7 me-5 mt-1 hover:text-gray-500 text-lg"></i>
                        <div v-if="hasUnseenMessagesToUser(messages)" class="ms-7 absolute top-5 text-2xl animate-bounce">
                            <v-icon class="text-red-500">mdi-circle-small</v-icon>
                        </div>
                    </div>

                    <!-- Burger Button -->
                    <button @click="toggleMenu" class="lg:hidden relative pr-5 md:pr-10">
                        <v-icon v-if="!isMenuOpen" size="x-large">mdi-menu</v-icon>
                        <v-icon v-else size="x-large">mdi-close</v-icon>
                    </button>
                    <!-- Mobile Menu -->
                    <transition name="slide-right">
                        <div v-if="isMenuOpen" class="lg:hidden absolute inset-0 bg-white z-50 mt-[6rem] h-full overflow-hidden">
                            <div class="flex py-4 align-center ms-3">
                                <img :src="`https://speaklingo.s3.eu-north-1.amazonaws.com/${avatar}`" alt="Photo de profil" class="h-10 w-10 rounded-full mr-2">
                                <div class="flex flex-col">
                                    <span class="text-left font-semibold">{{ firstName }} {{ lastName }}</span>
                                    <span class="text-gray-400 me-3">{{ email }}</span>
                                </div>
                            </div>

                            <div class="flex items-center justify-end">
                                <div class="bg-white text-start w-full" @click.stop>
                                    <!-- Menu Items -->
                                    <v-list>
                                        <v-list-item :href="profileRoute" :title="$t('profile.navbar.dropdown.link1')"/>
                                        <v-list-item :href="lessonRoute" :title="$t('navbar.lesson')"/>
                                        <v-list-item :href="settingRoute" :title="$t('profile.navbar.dropdown.link2')"/>
                                        <v-divider class="border-opacity-100 my-2"></v-divider>
                                        <v-list-item :href="logoutRoute" :title="$t('profile.navbar.dropdown.link3')" class="hover:text-red-500">
                                        </v-list-item>
                                    </v-list>
                                </div>
                            </div>
                            <div class="flex justify-center text-center mt-10">
                                <div class="flex align-center text-no-wrap">
                                    <p class="px-4 py-2 me-3"><i class="bi bi-wallet2 me-3"></i>{{ $t('profile.navbar.credits') }} {{ credits }}</p>
                                    <v-col md="7" sm="6">
                                        <v-btn class="text-none" rounded="xl" color="#149BFC" variant="flat" block @click="redirectToPayment"  :text="$t('profile.navbar.btn')"></v-btn>
                                    </v-col>
                                </div>
                            </div>
                            <!--  Dropdown Language -->
                            <div class="lg:hidden fixed bottom-10 right-3">
                                <v-menu
                                    content-class="pt-2"
                                    transition="slide-y-transition">
                                    <template v-slot:activator="{ props }">
                                        <v-btn
                                            color=""
                                            flat
                                            v-bind="props"
                                            class="text-none"
                                        >
                                            {{ selectedLanguage }} <v-icon>mdi-menu-down</v-icon>
                                        </v-btn>
                                    </template>
                                    <v-list>
                                        <v-list-item
                                            v-for="(item, i) in items"
                                            :key="i"
                                            @click="selectLanguage(item.title)"
                                        >
                                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                                        </v-list-item>
                                    </v-list>
                                </v-menu>
                            </div>
                        </div>
                    </transition>
                </div>

            </div>


            <!-- Desktop menu -->
            <section>
                <div class="hidden justify-end | lg:flex align-center">
                    <!-- Language Dropdown -->
                        <v-menu
                            content-class="pt-2"
                            transition="slide-y-transition">
                            <template v-slot:activator="{ props }">
                                <v-btn
                                    color=""
                                    flat
                                    v-bind="props"
                                    class="text-none ms-20 md:ms-0"
                                >
                                    {{ selectedLanguage }} <v-icon>mdi-menu-down</v-icon>
                                </v-btn>
                            </template>
                            <v-list>
                                <v-list-item
                                    v-for="(item, i) in items"
                                    :key="i"
                                    @click="selectLanguage(item.title)"
                                >
                                    <v-list-item-title>{{ item.title }}</v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>

                    <!-- Chat Icon -->
                    <div @click="redirectToMessage" class="cursor-pointer">
                        <i class="bi bi-chat-square-text ms-7 me-5 mt-1 hover:text-gray-500 text-lg"></i>
                        <div v-if="hasUnseenMessagesToUser(messages)" class="ms-7 absolute top-5 text-2xl animate-bounce">
                            <v-icon class="text-red-500">mdi-circle-small</v-icon>
                        </div>
                    </div>


                    <!-- User Dropdown -->
                    <v-menu
                        content-class="pt-2 absolute"
                        transition="slide-y-transition">
                        <template v-slot:activator="{ props }">
                            <v-btn
                                color=""
                                flat
                                v-bind="props"
                                class="text-none ms-20 md:ms-0"
                            >
                                <img :src="`https://speaklingo.s3.eu-north-1.amazonaws.com/${avatar}`" alt="Photo de profil" class="h-8 w-8 rounded-full mr-2">
                                <div class="hidden md:flex flex-col">
                                    <span class="text-xs text-left font-semibold">{{ firstName }} {{ lastName }}</span>
                                    <span class="text-xs text-gray-400 me-3">{{ email }}</span>
                                </div>
                                <v-icon>mdi-chevron-down</v-icon>
                            </v-btn>
                        </template>
                        <v-list width="200" class="mx-auto">
                            <v-list-item :href="profileRoute" :title="$t('profile.navbar.dropdown.link1')"/>
                            <v-list-item :href="lessonRoute" :title="$t('navbar.lesson')"/>
                            <v-list-item :href="settingRoute" :title="$t('profile.navbar.dropdown.link2')"/>
                            <v-divider class="border-opacity-100 my-2"></v-divider>
                            <v-list-item :href="logoutRoute" :title="$t('profile.navbar.dropdown.link3')" class="hover:text-red-500">
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </div>
            </section>
        </div>
    </nav>
</template>

<script>
export default {
    name: "NavbarProfile",
    props: {
        profileRoute: String,
        messageRoute: String,
        settingRoute: String,
        lessonRoute: String,
        logoutRoute: String,
        firstName: String,
        userId: String,
        lastName: String,
        credits: String,
        email: String,
        paymentRoute: String,
        avatar: String,
        messages: Array,
    },
    data() {
        return {
            isOpenLanguageDropdown: false,
            isOpenProfileDropdown: false,
            selectedLanguage: localStorage.getItem('selectedLanguage') || "English",
            isMenuOpen: false,
            items: [
                { title: 'English' },
                { title: 'Français' },
            ],
            loading: false,
        };
    },
    methods: {
        redirectToProfile() {
            window.location.href = this.profileRoute;
        },
        redirectToPayment() {
            this.loading = true;
            window.location.href = this.paymentRoute;
        },
        redirectToMessage() {
            window.location.href = this.messageRoute;
        },
        selectLanguage(language) {
            this.selectedLanguage = language;
            this.isOpenLanguageDropdown = false;

            const languageMap = {
                'English': 'en',
                'Français': 'fr'
            };

            const locale = languageMap[language];

            localStorage.setItem('selectedLanguage', language);
            this.$i18n.locale = locale;
            this.$vuetify.locale.current = locale;

            axios.post('language', { locale })
                .then(response => {
                    console.log('Locale set on server');
                })
                .catch(error => {
                    console.error('Error setting locale on server:', error);
                });
        },
        toggleLanguageDropdown() {
            this.isOpenLanguageDropdown = !this.isOpenLanguageDropdown;
        },
        toggleProfileDropdown() {
            this.isOpenProfileDropdown = !this.isOpenProfileDropdown;
        },
        toggleMenu() {
            this.isMenuOpen = !this.isMenuOpen;
        },
        closeMenu() {
            this.isMenuOpen = false;
        },
        closeDropdownOutside(event) {
            const profileButton = this.$refs.profileButton;

            if (profileButton && !profileButton.contains(event.target)) {
                this.isOpenProfileDropdown = false;
            }
        },
        closeDropdownOutsideLanguage(event) {
            const languageButton = this.$refs.languageButton;

            if (languageButton && !languageButton.contains(event.target)) {
                this.isOpenLanguageDropdown = false;
            }
        },
        checkout() {
            axios.post('checkout')
                .then(response => {
                    window.location.href = response.data.redirect_url;
                })
                .catch(error => {
                    console.error('Erreur lors de la requête POST:', error);
                });
        },
        hasUnseenMessagesToUser(messages) {
            const userId = parseInt(this.userId);
            for (let i = 0; i < messages.length; i++) {
                if (messages[i].to_id === userId  && messages[i].seen === 0) {
                    return true;
                }
            }
            return false;
        }
    },
    mounted() {
        document.addEventListener('click', this.closeDropdownOutside);
        document.addEventListener('click', this.closeDropdownOutsideLanguage);
        if (localStorage.getItem('selectedLanguage')) {
            this.$i18n.locale = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
            this.$vuetify.locale.current = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
        }
    },
    beforeDestroy() {
        document.removeEventListener('click', this.closeDropdownOutside);
        document.removeEventListener('click', this.closeDropdownOutsideLanguage);
    },
};
</script>

<style scoped>
.slide-right-enter-active, .slide-right-leave-active {
    transition: transform 0.5s;
}

.slide-right-enter, .slide-right-leave-to {
    transform: translateX(100%);
}

.slide-right-enter-to, .slide-right-leave {
    transform: translateX(0);
}

/* Spinner loading */
.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
</style>
