<template>
    <div class="container mx-auto px-8 font-roboto">
        <p class="text-3xl leading-snug font-semibold text-gray-900 mt-10 | lg:mt-20">{{ $t('profile.title') }} {{ firstName }}!</p>

        <v-btn v-if="appointment.length > 0" @click="credits === '0' ? redirectToPayment() : openModal()" class="mt-10">
            {{ $t('profile.btnSchedule') }} <v-icon class="ms-2">mdi-calendar-clock-outline</v-icon>
        </v-btn>

        <!-- Have a appointment planned -->
        <section class="mt-2" v-if="hasUpcomingAppointments">
            <div class="bg-white border shadow-xl rounded-3xl p-4 xl:p-10">
                <p class="text-xl leading-snug font-semibold text-gray-800 mb-10 | md:text-3xl">{{ countdown }}</p>
                <p class="mb-10 text-md md:text-xl" v-if="upcomingAppointments.length > 0" v-html="formatDate(upcomingAppointments[0].start_time)"></p>
                <div class="w-44 mt-14" v-if="hasUpcomingAppointments">
                    <div class="relative">
                        <v-btn :disabled="!isMeetingJoinable" class="text-none" rounded="xl" size="large" color="#149BFC" variant="flat" block @click="redirectToMeeting">
                            {{ $t('profile.bigCardAppointment.btn') }}
                        </v-btn>
                        <v-tooltip
                            class="text-center"
                            activator="parent"
                            location="bottom"
                        >{{ $t('profile.bigCardAppointment.tooltip') }}</v-tooltip>
                    </div>
                </div>
            </div>
        </section>

        <!-- Doesn't have money -->
        <section v-else-if="credits === '0'" class="border shadow-xl rounded-3xl p-5 md:p-10 mt-5 mb-5 md:mb-0 mx-auto | md:mx-0">
            <p class="text-xl leading-snug font-semibold text-gray-800 mb-5 | md:text-3xl">{{ $t('profile.BigCardAddCredits.title') }}</p>
            <p class="text-md mb-10 md:text-xl">{{ $t('profile.BigCardAddCredits.txt') }}</p>
            <v-btn
                class="bg-[#149BFC] hover:bg-blue-500 text-white py-2 px-4 text-none !tracking-normal"
                size="large"
                color="#149BFC"
                :text="$t('profile.BigCardAddCredits.btn')"
                rounded
                :loading="loading"
                @click="redirectToPayment">
                <template #loader>
                    <v-icon :class="{ 'rotate': loading }" color="white">mdi-loading</v-icon>
                </template>
            </v-btn>
        </section>

        <!-- Schedule a lesson -->
        <section v-else class="border shadow-xl rounded-3xl p-5 md:p-10 mt-5 mb-5 md:mb-0 mx-auto | md:mx-0">
            <p class="text-xl leading-snug font-semibold text-gray-800 mb-5 | md:text-3xl">{{ $t('profile.BigCardSchedule.title') }}</p>
            <p class="text-md mb-10 md:text-xl">{{ $t('profile.BigCardSchedule.txt') }}</p>
            <v-btn @click="openModal" class="text-none" size="large" color="#149BFC" rounded>
                {{ $t('profile.BigCardSchedule.title') }}
            </v-btn>
        </section>

        <div v-if="showModal" class="z-10 fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
            <div :class="{'sm:w-[50%] md:w-[80%] lg:w-[70%] xl:w-[60%] 2xl:w-[50%]': !lessonBooked, 'sm:w-[50%] md:w-[70%] lg:w-[50%] xl:w-[40%] 2xl:w-[30%]': lessonBooked}" class="bg-white p-4 rounded-lg flex flex-col">
                <button @click="closeModal" class="z-10 flex justify-end w-full text-red-500 rounded-md">
                    <i class="absolute cursor-pointer bi bi-x-lg text-2xl hover:text-black "></i>
                </button>
                <div v-if="!lessonBooked" class="relative my-auto">
                    <CalendarComponent :country="country" :closeModal="closeModal" @lesson-booked="handleLessonBooked"/>
                </div>
                <div v-else class="flex flex-col w-full h-full relative p-4 text-center bg-white sm:p-5">
                    <div class="my-auto">
                        <div class="w-20 h-20 rounded-full flex items-center justify-center mx-auto mb-3.5">
                            <div class="wrapper">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52"> <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/> <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/>
                                </svg>
                            </div>
                        </div>
                        <p class="mb-10 text-lg font-semibold text-gray-900">{{ $t('profile.reservationBooked.txt') }}</p>
                        <button @click="closeModal" type="button" class="py-2 px-3 text-sm font-medium text-center text-white rounded-lg bg-[#149BFC] hover:bg-sky-600 focus:ring-4 focus:outline-none focus:ring-primary-300">
                            {{ $t('profile.reservationBooked.btn') }}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!--CAROUSEL CARD STEP MOBILE-->
        <v-carousel locale v-if="appointment.length === 0 || hasUpcomingAppointments && appointment.length <= 1" id="feature-section-phone" class="lg:hidden my-9" height="300" draggable="true" color="#149BFC" hide-delimiter-background hide-icons :show-arrows="false">
            <v-carousel-item>
                <div class="border shadow-xl rounded-3xl p-10 w-80 mb-5 md:mb-0 mx-auto | md:mx-0">
                    <p class="text-2xl leading-snug font-semibold text-gray-800 mb-5 md:text-3xl">{{ $t('profile.stepCards.card1.title') }}</p>
                    <p class="text-md mb-5 lg:text-xl">{{ $t('profile.stepCards.card1.txt') }}</p>
                    <i class="bi bi-check-circle text-3xl" :class="{ 'text-green-500': credits >= 1 || appointment.length >= 1, 'text-gray-400': credits < 1 }"></i>
                </div>
            </v-carousel-item>

            <v-carousel-item>
                <div class="border shadow-xl rounded-3xl p-10 w-80 mb-5 md:mb-0 mx-auto | md:mx-0">
                    <p class="text-2xl leading-snug font-semibold text-gray-800 mb-5 md:text-3xl">{{ $t('profile.stepCards.card2.title') }}</p>
                    <p class="text-md mb-5 lg:text-xl">{{ $t('profile.stepCards.card2.txt') }}</p>
                    <i class="bi bi-check-circle text-3xl" :class="{ 'text-green-500': appointment.length >= 1, 'text-gray-400': appointment.length < 1 }"></i>
                </div>
            </v-carousel-item>

            <v-carousel-item>
                <div class="border shadow-xl rounded-3xl p-10 w-80 mb-5 md:mb-0 mx-auto | md:mx-0">
                    <p class="text-2xl leading-snug font-semibold text-gray-800 mb-5 md:text-3xl">{{ $t('profile.stepCards.card3.title') }}</p>
                    <p class="text-md mb-5 lg:text-xl">{{ $t('profile.stepCards.card3.txt') }}</p>
                    <i class="bi bi-check-circle text-3xl text-gray-400"></i>
                </div>
            </v-carousel-item>
        </v-carousel>

        <!-- CARDS STEP -->
        <section v-if="appointment.length === 0 || hasUpcomingAppointments && appointment.length <= 1" class="mt-10 hidden lg:block">
            <div class="mx-auto flex flex-col md:flex-row md:gap-4 lg:gap-32 2xl:gap-40 lg:justify-between">
                <div class="border shadow-xl rounded-3xl p-10 w-80 2xl:w-96 mb-5 md:mb-0 mx-auto | md:mx-0">
                    <p class="text-2xl leading-snug font-semibold text-gray-800 mb-5 md:text-3xl">{{ $t('profile.stepCards.card1.title') }}</p>
                    <p class="text-md mb-5 lg:text-xl">{{ $t('profile.stepCards.card1.txt') }}</p>
                    <i class="bi bi-check-circle text-3xl" :class="{ 'text-green-500': credits >= 1 || appointment.length >= 1, 'text-gray-400': credits < 1 }"></i>
                </div>
                <div class="border shadow-xl rounded-3xl p-10 w-80 2xl:w-96 mb-5 md:mb-0 mx-auto | md:mx-0">
                    <p class="text-2xl leading-snug font-semibold text-gray-800 mb-5 md:text-3xl">{{ $t('profile.stepCards.card2.title') }}</p>
                    <p class="text-md mb-5 lg:text-xl">{{ $t('profile.stepCards.card2.txt') }}</p>
                    <i class="bi bi-check-circle text-3xl" :class="{ 'text-green-500': appointment.length >= 1, 'text-gray-400': appointment.length < 1 }"></i>
                </div>
                <div class="border shadow-xl rounded-3xl p-10 w-80 2xl:w-96 mb-5 md:mb-0 mx-auto | md:mx-0">
                    <p class="text-2xl leading-snug font-semibold text-gray-800 mb-5 md:text-3xl">{{ $t('profile.stepCards.card3.title') }}</p>
                    <p class="text-md mb-5 lg:text-xl">{{ $t('profile.stepCards.card3.txt') }}</p>
                    <i class="bi bi-check-circle text-3xl" :class="{ 'text-green-500': isMeetingJoinable, 'text-gray-400': !isMeetingJoinable }"></i>
                </div>
            </div>
        </section>
        <section v-else class="mt-10">
            <div class="max-w-sm mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
                <div class="p-6">
                    <div class="flex items-center justify-center">
                        <v-icon class="text-3xl text-gray-500">mdi-format-quote-open-outline</v-icon>
                    </div>
                    <p class="mt-4 text-center text-gray-600 italic">{{ quote.content }}</p>
                </div>
                <div class="flex items-center justify-end px-6 py-4">
                    <p class="text-lg text-[#149BFC]">{{ quote.author }}</p>
                </div>
            </div>
        </section>
    </div>

    <!-- FOOTER -->
    <FooterConnected :lesson-route="lessonRoute" :meeting-route="meetingRoute" :message-route="messageRoute"/>
</template>

<script>
import PaymentComponent from "../payment/PaymentComponent.vue";
import FooterConnected from "../FooterConnected.vue";
import NavbarProfile from "./NavbarProfile.vue";

export default {
    name: "ProfileComponent",
    components: {
        FooterConnected,
        NavbarProfile,
    },
    props: {
        meetingRoute: String,
        firstName: String,
        credits: String,
        appointment: Array,
        paymentRoute: String,
        lessonRoute: String,
        messageRoute: String,
        country: Object,
    },
    data() {
        return {
            showModal: false,
            lessonBooked: false,
            quote: {
                content: '',
                author: ''
            },
            loading: false,
            countdown: '',
            pdfPrivacy: '/pdf/privacy_policy.pdf',
            checkInterval: null,
            isMeetingJoinable: false,
            appointmentTime: new Date(this.appointment[0]?.start_time),
        };
    },
    mounted() {
        this.fetchQuote();
        this.checkInterval = setInterval(() => {
            this.updateIsMeetingJoinable();
        }, 1000);
    },
    beforeUnmount() {
        clearInterval(this.checkInterval);
    },
    methods: {
        updateIsMeetingJoinable() {
            const currentTime = new Date();
            const appointmentStart = this.getNextUpcomingAppointment();
            if (appointmentStart) {
                const fiveMinutesBefore = new Date(appointmentStart.getTime() - 5 * 60 * 1000);
                this.isMeetingJoinable = currentTime >= fiveMinutesBefore;
            } else {
                this.isMeetingJoinable = false;
            }
            this.$forceUpdate();
        },
        async fetchQuote() {
            try {
                const response = await fetch('https://api.quotable.io/random');
                const data = await response.json();
                this.quote = {
                    content: data.content,
                    author: data.author
                };
            } catch (error) {
                console.error('Error fetching quote:', error);
            }
        },
        formatDate(dateString) {
            const locale = this.$i18n.locale;
            const userTimezone = this.getTimezoneFromCountryCode(this.country.code_iso);
            const options = {
                weekday: 'long',
                hour: 'numeric',
                minute: 'numeric',
                timeZone: userTimezone
            };

            const startTime = new Date(dateString);
            const endTime = new Date(startTime.getTime() + (50 * 60000));

            const formattedEndTime = endTime.toLocaleTimeString(locale, { hour: 'numeric', minute: 'numeric', timeZone: userTimezone });

            const userLocalTime = new Date(dateString).toLocaleString(locale, options);
            const formattedMonthAndDay = new Date(dateString).toLocaleDateString(locale, { month: 'long', day: 'numeric', timeZone: userTimezone });

            return `<div>${formattedMonthAndDay}</div><div class="pt-3 text-2xl">${userLocalTime} - ${formattedEndTime}</div>`;
        },
        getTimezoneFromCountryCode(countryCode) {
            const timezoneMap = {
                'AE': 'Asia/Dubai',
                'AU': 'Australia/Sydney',
                'AT': 'Europe/Vienna',
                'BE': 'Europe/Brussels',
                'BR': 'America/Sao_Paulo',
                'BG': 'Europe/Sofia',
                'CA': 'America/Toronto',
                'HR': 'Europe/Zagreb',
                'CY': 'Asia/Nicosia',
                'CZ': 'Europe/Prague',
                'DK': 'Europe/Copenhagen',
                'EE': 'Europe/Tallinn',
                'FI': 'Europe/Helsinki',
                'FR': 'Europe/Paris',
                'DE': 'Europe/Berlin',
                'GH': 'Africa/Accra',
                'GI': 'Europe/Gibraltar',
                'GR': 'Europe/Athens',
                'HK': 'Asia/Hong_Kong',
                'HU': 'Europe/Budapest',
                'IN': 'Asia/Kolkata',
                'ID': 'Asia/Jakarta',
                'IE': 'Europe/Dublin',
                'IT': 'Europe/Rome',
                'JP': 'Asia/Tokyo',
                'KE': 'Africa/Nairobi',
                'LV': 'Europe/Riga',
                'LI': 'Europe/Vaduz',
                'LT': 'Europe/Vilnius',
                'LU': 'Europe/Luxembourg',
                'MY': 'Asia/Kuala_Lumpur',
                'MT': 'Europe/Malta',
                'MX': 'America/Mexico_City',
                'NL': 'Europe/Amsterdam',
                'NZ': 'Pacific/Auckland',
                'NG': 'Africa/Lagos',
                'NO': 'Europe/Oslo',
                'PL': 'Europe/Warsaw',
                'PT': 'Europe/Lisbon',
                'RO': 'Europe/Bucharest',
                'SG': 'Asia/Singapore',
                'SK': 'Europe/Bratislava',
                'SI': 'Europe/Ljubljana',
                'ZA': 'Africa/Johannesburg',
                'ES': 'Europe/Madrid',
                'SE': 'Europe/Stockholm',
                'CH': 'Europe/Zurich',
                'TH': 'Asia/Bangkok',
                'GB': 'Europe/London',
                'US': 'America/New_York'
            };

            return timezoneMap[countryCode] || 'UTC';
        },
        getNextUpcomingAppointment() {
            const upcomingAppointments = this.appointment.filter(appointment => this.isAppointmentUpcoming(appointment.start_time));
            if (upcomingAppointments.length > 0) {

                upcomingAppointments.sort((a, b) => new Date(a.start_time) - new Date(b.start_time));

                return new Date(upcomingAppointments[0].start_time);
            } else {
                return null;
            }
        },
        redirectToMeeting() {
            window.location.href = this.meetingRoute;
        },
        redirectToPayment() {
            this.loading = true;
            window.location.href = this.paymentRoute;
        },
        isAppointmentUpcoming(startTime) {
            const currentTime = new Date();
            const appointmentStartTime = new Date(startTime);

            return appointmentStartTime > currentTime || (appointmentStartTime <= currentTime && this.isAppointmentOngoing(startTime));
        },
        isAppointmentOngoing(startTime) {
            const currentTime = new Date();
            const appointmentStartTime = new Date(startTime);
            const appointmentEndTime = new Date(appointmentStartTime.getTime() + (50 * 60000));

            return currentTime >= appointmentStartTime && currentTime <= appointmentEndTime;
        },
        openModal() {
            this.showModal = true;
        },
        closeModal() {
            if (this.lessonBooked) {
                location.reload();
            } else {
                this.showModal = false;
            }
        },
        handleLessonBooked() {
            this.lessonBooked = true;
        },
    },
    computed: {
        PaymentComponent() {
            return PaymentComponent
        },
        hasUpcomingAppointments() {
            const upcomingAppointments = this.appointment.filter(appointment => this.isAppointmentUpcoming(appointment.start_time));
            return upcomingAppointments.length > 0;
        },
        upcomingAppointments() {
            const currentTime = new Date();
            return this.appointment
                .filter(appointment => {
                    const appointmentStartTime = new Date(appointment.start_time);
                    const appointmentEndTime = new Date(appointmentStartTime.getTime() + 50 * 60 * 1000);
                    return currentTime <= appointmentEndTime;
                })
                .sort((a, b) => {
                    const appointmentAStartTime = new Date(a.start_time);
                    const appointmentBStartTime = new Date(b.start_time);
                    return appointmentAStartTime - appointmentBStartTime;
                });
        },
        isMeetingJoinable() {
            if (this.hasUpcomingAppointments) {
                const nextAppointment = this.getNextUpcomingAppointment();
                if (nextAppointment) {
                    const currentTime = new Date();
                    const fiveMinutesBeforeAppointment = new Date(nextAppointment.getTime() - 5 * 60 * 1000);
                    const appointmentEndTime = new Date(nextAppointment.getTime() + 50 * 60 * 1000);

                    const diff = nextAppointment - currentTime;
                    const oneDayMs = 1000 * 60 * 60 * 24;
                    const hoursUntilMeeting = Math.floor(diff / (1000 * 60 * 60));
                    const daysUntilMeeting = Math.ceil(diff / oneDayMs);

                    const isToday = currentTime.toDateString() === nextAppointment.toDateString();
                    const isOngoing = currentTime >= nextAppointment && currentTime <= appointmentEndTime;

                    if (isOngoing) {
                        this.countdown = this.$t('profile.bigCardAppointment.countdownTxt4');
                    } else if (isToday) {
                        this.countdown = this.$t('profile.bigCardAppointment.countdownTxt1');
                    } else if (daysUntilMeeting === 1) {
                        this.countdown = this.$t('profile.bigCardAppointment.countdownTxt2');
                    } else if (daysUntilMeeting > 1) {
                        this.countdown = `${this.$t('profile.bigCardAppointment.countdownTxt3')} ${daysUntilMeeting} ${this.$t('profile.bigCardAppointment.countdownTxt3Un')}`;
                    } else {
                        this.countdown = this.$t('profile.bigCardAppointment.countdownTxt4'); // Vous n'avez pas de cours
                    }

                    return (currentTime >= fiveMinutesBeforeAppointment && currentTime <= nextAppointment) || this.isAppointmentOngoing(nextAppointment);
                }
            }

            return false;
        },
    }
};
</script>

<style scoped>
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 2;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 2;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
    transform-origin: 50% 50%;
    stroke-dasharray: 48;
    stroke-dashoffset: 48;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}
@keyframes scale {
    0%,
    100% {
        transform: none;
    }
    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}
@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px #7ac142;
    }
}

/* Spinner loading */
.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
</style>
