<template>
    <section class="flex items-center h-full p-16">
        <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
            <div class="max-w-md flex flex-col align-center">
                <h2 class="mb-8 font-extrabold text-9xl dark:text-gray-600">
                    <span class="sr-only">{{ $t('404.title') }}</span>404
                </h2>
                <p class="text-2xl text-nowrap font-semibold md:text-3xl">{{ $t('404.txt1') }}</p>
                <p class="mt-4 mb-8 text-nowrap">{{ $t('404.txt2') }}</p>
                <a :href="homeRoute" class="text-white px-8 py-3 font-semibold rounded bg-[#149BFC] hover:bg-blue-500">{{ $t('404.btn') }}</a>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "Page404",
    props: {
        homeRoute: String,
    },
    data() {
        return {
            selectedLanguage: localStorage.getItem('selectedLanguage') || "English",
        }
    },
    methods: {
        selectLanguage(language) {
            this.selectedLanguage = language;
        },
    },
    mounted() {
        if (localStorage.getItem('selectedLanguage')) {
            this.$i18n.locale = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
            this.$vuetify.locale.current = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
        }
    }
}
</script>

<style scoped>

</style>
