<script>
export default {
    name: "FooterUnconnected",
    props: {
        homeRoute: String,
        loginRoute: String
    },
    data() {
        return {
            pdfCookie: '/pdf/cookies_speaklingo.pdf',
            pdfPrivacy: '/pdf/privacy_policy.pdf',
            pdfPrivacyFr: '/pdf/privacy_policy_fr.pdf',
        };
    },
}
</script>

<template>
    <footer class="bg-white mt-32">
        <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
            <nav class="flex flex-wrap justify-center -mx-5 -my-2">
                <div class="px-5 py-2">
                    <a :href="`${homeRoute}#feature-section`" class="cursor-pointer text-base leading-6 text-gray-500 hover:text-gray-900">{{ $t('navbar.about') }}</a>
                </div>
                <div class="px-5 py-2">
                    <a :href="`${homeRoute}#pricing-section`" class="cursor-pointer text-base leading-6 text-gray-500 hover:text-gray-900">{{ $t('navbar.pricing') }}</a>
                </div>
                <div class="px-5 py-2">
                    <a :href="`${homeRoute}#contact-section`" class="cursor-pointer text-base leading-6 text-gray-500 hover:text-gray-900">Contact</a>
                </div>
                <div class="px-5 py-2">
                    <a :href="this.$i18n.locale === 'en' ? pdfPrivacy : pdfPrivacyFr" target="_blank" class="text-base leading-6 text-gray-500 hover:text-gray-900">
                        {{ $t('login.footer.terms') }}
                    </a>
                </div>
            </nav>
            <div class="flex justify-center mt-8 space-x-6">
                <!-- Twitter -->
                <a href="https://twitter.com/frances_garnett" target="_blank" class="text-gray-400 hover:text-gray-500">
                    <span class="sr-only">Twitter</span>
                    <i class="bi bi-twitter-x"></i>
                </a>
                <!-- Instagram -->
                <a href="https://www.instagram.com/left_pinky/" target="_blank" class="text-gray-400 hover:text-gray-500">
                    <span class="sr-only">Instagram</span>
                    <i class="bi bi-instagram"></i>
                </a>
                <!-- Linkedin -->
                <a href="https://uk.linkedin.com/in/frances-garnett-40b30a1b0?trk=people-guest_people_search-card" target="_blank" class="text-gray-400 hover:text-gray-500">
                    <span class="sr-only">Linkedin</span>
                    <i class="bi bi-linkedin"></i>
                </a>
            </div>
            <p class="mt-8 text-base leading-6 text-center text-gray-400">
                © 2024 - SpeakLingo, Inc. {{ $t('login.footer.right') }}
            </p>
        </div>
    </footer>
</template>

<style scoped>

</style>
