<template>
    <vue-cookie-accept-decline
        :debug="false"
        :disableDecline="false"
        :showPostponeButton="false"
        @clicked-accept="cookieClickedAccept"
        @clicked-decline="cookieClickedDecline"
        @status="cookieStatus"
        elementId="myPanel1"
        position="bottom-left"
        ref="myPanel1"
        transitionName="slideFromBottom"
        type="floating"
    >

        <!-- Optional -->
        <template #postponeContent>&times;</template>

        <!-- Optional -->
        <template #message class="overflow-y-hidden">
            {{ $t('homepage.cookie') }} <a :href="this.$i18n.locale === 'en' ? pdfCookie : pdfCookieFr" target="_blank" class="text-[#149BFC] underline">{{ $t('homepage.cookieLink') }}</a>
        </template>

        <!-- Optional -->
        <template #declineContent>{{ $t('homepage.cookieBtnDecline') }}</template>

        <!-- Optional -->
        <template #acceptContent>{{ $t('homepage.cookieBtnAccept') }}</template>
    </vue-cookie-accept-decline>

    <!-- TOP SECTION -->
    <section id="home-section" class="lg:my-10 xl:my-10">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mx-auto container">
            <div class="xl:w-[80%] 2xl:w-[95%] order-2 mx-auto sm:mt-4 lg:mt-20">
                <!-- Phone  -->
                <div class="lg:hidden mx-5 md:ps-28">
                    <h1 class="sr-only">{{ $t('homepage.vueTyperMessageHomePhone') }}</h1>
                    <VueTyper class="text-3xl md:text-5xl font-bold absolute"
                              :text="$t('homepage.vueTyperMessageHomePhone')"
                              :repeat='0'
                              aria-hidden="true">
                    </VueTyper>
                    <p class="pt-20 md:pt-28 my-4 font-bold">{{ $t('homepage.SubMessageHome') }}</p>
                    <div class="flex gap-5">

                        <v-btn class="text-none"
                               size="large"
                               color="#149BFC"
                               @click="redirectToSignUp"
                               rounded
                               :text="$t('homepage.btnStartNow')">
                        </v-btn>

                        <v-btn @click="playVideo" class="me-4" icon="mdi-play" >
                            <v-icon color="blue" size="large">mdi-play</v-icon>
                        </v-btn>

                        <div v-if="showVideo" class="lg:hidden">
                            <!-- Video Modal -->
                            <div
                                @click="closeVideo"
                                class="fixed top-0 left-0 w-full h-full bg-slate-900 bg-opacity-50 flex items-center justify-center z-50">
                                <div class="relative max-w-3xl mx-auto">
                                    <button @click="closeVideo" class="absolute top-0 right-1 text-white text-xl">
                                        <i class="bi bi-x-circle"></i>
                                    </button>
                                    <iframe
                                        class="w-[350px] h-[190px] md:w-[520px] md:h-[290px]"
                                        src="https://player.vimeo.com/video/800994494?title=0&byline=0&portrait=0"
                                        frameborder="0"
                                        allow="autoplay; fullscreen"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Desktop-->
                <div class="hidden lg:block">
                    <h1 class="sr-only">{{ $t('homepage.vueTyperMessageHomePhone') }}</h1>
                    <VueTyper class="text-3xl md:text-6xl font-bold absolute"
                              :text="$t('homepage.vueTyperMessageHome')"
                              :repeat='0'
                              aria-hidden="true">
                    </VueTyper>
                    <p class="pt-52 pb-6 my-4 font-bold text-xl text-balance max-w-sm">{{ $t('homepage.SubMessageHome') }}</p>
                    <div>
                        <div>
                            <v-btn class="me-10 text-none !tracking-normal"
                                   size="large"
                                   color="#149BFC"
                                   @click="redirectToSignUp"
                                   rounded
                                   :text="$t('homepage.btnStartNow')">
                            </v-btn>
                            <v-btn @click="playVideo" class="me-4" icon="mdi-play" >
                                <v-icon color="blue" size="large">mdi-play</v-icon>
                            </v-btn>
                            <span>{{ $t('homepage.btnVideo') }}</span>
                        </div>

                        <div v-if="showVideo" class="hidden md:block">
                            <!-- Video Modal -->
                            <div
                                @click="closeVideo"
                                class="fixed top-0 left-0 w-full h-full bg-slate-900 bg-opacity-50 flex items-center justify-center z-50">
                                <div class="relative max-w-3xl mx-auto">
                                    <button @click="closeVideo" class="absolute top-0 right-4 text-white text-2xl">
                                        <i class="bi bi-x-circle"></i>
                                    </button>
                                    <iframe
                                        src="https://player.vimeo.com/video/800994494?title=0&byline=0&portrait=0"
                                        width="640"
                                        height="360"
                                        allow="autoplay; fullscreen"
                                        allowfullscreen>
                                    </iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

            <div class="lg:order-2 pt-10 xl:ps-20 2xl:ps-36 md:flex md:justify-center">
                <v-img src="../../../img/fg-photo.png"
                       alt="Photo de la professeur d'anglais"
                       max-height="500"
                       max-width="500">
                </v-img>
            </div>
        </div>
    </section>


    <v-col cols="auto" class="justify-center mt-20 2xl:mt-56 hidden lg:flex" @click="handleClick">
        <v-btn class="me-4" color="blue" icon="mdi-arrow-down-bold" >
            <v-icon size="x-large">mdi-arrow-down</v-icon>
        </v-btn>
    </v-col>

    <!-- FEATURE SECTION -->
    <div id="feature-section">
        <div  class="flex justify-center mt-40 lg:mt-10">
            <h2 class="text-3xl leading-snug font-extrabold text-gray-900 | lg:w-max lg:mt-40 | md:text-5xl">{{ $t('homepage.titleAbout') }} <span class="text-[#149BFC]">SpeakLingo</span> ?</h2>
        </div>
        <v-divider class="border-opacity-100 mx-auto mt-5 w-80 md:w-full" inset length="520"></v-divider>
        <!-- FEATURE CAROUSEL PHONE -->
        <v-carousel id="feature-section-phone" class="lg:hidden my-9" height="360" draggable="true" color="#149BFC" hide-delimiter-background hide-icons :show-arrows="false">
            <v-carousel-item>
                <div class="w-80 mx-auto rounded-xl bg-white text-gray-700 shadow-lg border">
                    <div class="p-6 flex flex-col items-center justify-center">
                        <div class="bg-red-100 inline-block px-5 rounded-2xl">
                            <i class="bi bi-tv text-red-500"></i>
                        </div>
                        <div class="mt-4">
                            <h5 class="text-center mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal">
                                {{ $t('homepage.feature1') }}
                            </h5>
                            <p class="block text-center font-sans text-base font-light leading-relaxed text-inherit antialiased">
                                {{ $t('homepage.feature1Content') }}
                            </p>
                        </div>
                    </div>
                </div>
            </v-carousel-item>

            <v-carousel-item>
                <div class="w-80 mx-auto rounded-xl bg-white text-gray-700 shadow-lg border">
                    <div class="p-6 flex flex-col items-center justify-center">
                        <div class="bg-green-100 inline-block px-6 py-3 rounded-2xl w-36">
                            <img src="../../../../../img/teacherIcon.png" alt="">
                        </div>
                        <div class="mt-4">
                            <h5 class="text-center mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal">
                                {{ $t('homepage.feature2') }}
                            </h5>
                            <p class="text-center block font-sans text-base font-light leading-relaxed text-inherit antialiased">
                                {{ $t('homepage.feature2Content') }}
                            </p>
                        </div>
                    </div>
                </div>
            </v-carousel-item>

            <v-carousel-item>
                <div class="w-80 mx-auto rounded-xl bg-white text-gray-700 shadow-lg border">
                    <div class="p-6 flex flex-col items-center justify-center">
                        <div class="bg-blue-100 inline-block px-5 rounded-2xl">
                            <i class="bi bi-arrow-up-right-circle text-blue-500"></i>
                        </div>
                        <div class="mt-4">
                            <h5 class="text-center mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal">
                                {{ $t('homepage.feature3') }}
                            </h5>
                            <p class="text-center block font-sans text-base font-light leading-relaxed text-inherit antialiased">
                                {{ $t('homepage.feature3Content') }}
                            </p>
                        </div>
                    </div>
                </div>
            </v-carousel-item>
        </v-carousel>

        <!-- FEATURE DESKTOP -->
        <section class="hidden lg:block">
            <div class="mx-auto block justify-around | lg:flex lg:px-20 2xl:px-40 lg:pt-16 lg:mt-0">
                <!-- First section -->
                <div class="w-96 mx-auto rounded-xl bg-white text-gray-700 shadow-lg border mb-32 lg:mb-0 lg:me-10">
                    <div class="p-6 flex flex-col items-center justify-center">
                        <div class="bg-red-100 inline-block px-5 rounded-2xl">
                            <i class="bi bi-tv text-red-500"></i>
                        </div>
                        <div class="mt-4">
                            <h5 class="text-center mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal">
                                {{ $t('homepage.feature1') }}
                            </h5>
                            <p class="block text-center font-sans text-base font-light leading-relaxed text-inherit antialiased">
                                {{ $t('homepage.feature1Content') }}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Second section -->
                <div class="flex w-80 mx-auto flex-col rounded-xl bg-white text-gray-700 shadow-lg border mb-32 | md:w-96 lg:mb-0 lg:me-10">
                    <div class="p-6 flex flex-col items-center justify-center">
                        <div class="bg-green-200 inline-block px-6 py-3 rounded-2xl w-36">
                            <img src="../../../../../img/teacherIcon.png" alt="Icon de professeur">
                        </div>
                        <div class="mt-4">
                            <h5 class="text-center mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal">
                                {{ $t('homepage.feature2') }}
                            </h5>
                            <p class="text-center block font-sans text-base font-light leading-relaxed text-inherit antialiased">
                                {{ $t('homepage.feature2Content') }}
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Third section -->
                <div class="flex w-80 mx-auto flex-col rounded-xl bg-white text-gray-700 shadow-lg border | md:w-96">
                    <div class="p-6 flex flex-col items-center justify-center">
                        <div class="bg-blue-100 inline-block px-5 rounded-2xl">
                            <i class="bi bi-arrow-up-right-circle text-blue-500"></i>
                        </div>
                        <div class="mt-4">
                            <h5 class="text-center mb-2 block font-sans text-xl font-semibold leading-snug tracking-normal">
                                {{ $t('homepage.feature3') }}
                            </h5>
                            <p class="text-center block font-sans text-base font-light leading-relaxed text-inherit antialiased">
                                {{ $t('homepage.feature3Content') }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start Now button -->
            <div class="flex justify-center mt-10 mb-20">
                <v-btn class="me-10 text-none"
                       size="large"
                       color="#149BFC"
                       @click="redirectToSignUp"
                       rounded
                       :text="$t('homepage.btnStartNow')">
                </v-btn>
            </div>
        </section>
    </div>





    <!-- PRICING SECTION -->
    <div id="pricing-section" class="pt-20 lg:mt-56 pb-24 lg:pb-72">
        <h2 class="text-center text-3xl font-extrabold text-gray-900 | md:text-5xl">{{ $t('homepage.titlePrice') }}</h2>
        <v-divider class="border-opacity-100 mx-auto mt-5 w-52 md:w-full" inset length="340"></v-divider>
        <!-- PRICING CAROUSEL PHONE -->
        <v-carousel id="pricing-section-phone" class="lg:hidden my-5" height="580" draggable="true" color="#149BFC" hide-delimiter-background hide-icons :show-arrows="false">
            <v-carousel-item>
                <div
                    class="w-80 mx-auto shadow-md ring-1 ring-zinc-300 min-h-[85%] border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                >
                    <div class="mb-5">
                        <h2 class="text-2xl font-bold text-gray-900">1 {{ $t('homepage.titleCardPriceSingular') }}</h2>
                        <p class="mt-5">
                            <span class="text-4xl font-extrabold text-gray-900">{{ Math.round( prices[0].value) }} {{ $t('homepage.moneySymbol') }}</span>
                        </p>
                        <h3
                            class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                        >
                            {{ $t('homepage.subTitleCardPrice') }} :
                        </h3>
                    </div>

                    <ul class="flex flex-grow flex-shrink-0 flex-col">
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text1CardPrice') }}
                            </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text2CardPrice') }}
                            </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text3CardPrice') }}
                            </span>
                        </li>

                        <li class="flex space-x-3 py-2 mt-36">
                            <v-btn class="me-10 text-none !font-bold"
                                   block
                                   size="large"
                                   color="#149BFC"
                                   @click="redirectToSignUp"
                                   :text="$t('homepage.textBtnCardPrice')">
                            </v-btn>
                        </li>
                    </ul>
                </div>
            </v-carousel-item>

            <v-carousel-item>
                <div
                    class="w-80 mx-auto shadow-md ring-1 ring-zinc-300 min-h-[85%] border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                >
                    <div class="mb-5">
                        <h2 class="text-2xl font-bold text-gray-900">2 {{ $t('homepage.titleCardPricePlurial') }}</h2>
                        <p class="mt-5">
                            <span class="text-4xl font-extrabold text-gray-900">{{ Math.round( prices[1].value) }} {{ $t('homepage.moneySymbol') }}</span>
                        </p>
                        <h3
                            class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                        >
                            {{ $t('homepage.subTitleCardPrice') }} :
                        </h3>
                    </div>

                    <ul class="flex flex-grow flex-shrink-0 flex-col">
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                            {{ $t('homepage.text1CardPrice') }}
                        </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text2CardPrice') }}
                    </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text3CardPrice') }}
                    </span>
                        </li>

                        <li class="flex space-x-3 py-2 mt-36">
                            <v-btn class="me-10 text-none !font-bold"
                                   block
                                   size="large"
                                   color="#149BFC"
                                   @click="redirectToSignUp"
                                   :text="$t('homepage.textBtnCardPrice')">
                            </v-btn>
                        </li>
                    </ul>
                </div>
            </v-carousel-item>

            <v-carousel-item>
                <div
                    class="w-80 mx-auto shadow-md ring-1 ring-zinc-300 min-h-[85%] border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                >
                    <div class="mb-5">
                        <h2 class="text-2xl font-bold text-gray-900">4 {{ $t('homepage.titleCardPricePlurial') }}</h2>
                        <p class="mt-5">
                            <span class="text-4xl font-extrabold text-gray-900">{{ Math.round( prices[2].value) }} {{ $t('homepage.moneySymbol') }}</span>
                        </p>
                        <h3
                            class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                        >
                            {{ $t('homepage.subTitleCardPrice') }} :
                        </h3>
                    </div>

                    <ul class="flex flex-grow flex-shrink-0 flex-col">
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text1CardPrice') }}
                            </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text2CardPrice') }}
                    </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text3CardPrice') }}
                    </span>
                        </li>

                        <li class="flex space-x-3 py-2 mt-36">
                            <v-btn class="me-10 text-none !font-bold"
                                   block
                                   size="large"
                                   color="#149BFC"
                                   @click="redirectToSignUp"
                                   :text="$t('homepage.textBtnCardPrice')">
                            </v-btn>
                        </li>
                    </ul>
                </div>
            </v-carousel-item>
        </v-carousel>

        <!-- PRICING DESKTOP -->
        <section class="hidden lg:block">
            <div class="mt-8 flex flex-wrap justify-center items-center flex-col md:space-x-10 md:flex-row 2xl:gap-x-32">
                <!-- Pricing 1 -->
                <div
                    class="flex flex-col max-w-sm min-h-[450px] shadow-md ring-1 ring-zinc-300 w-72 h-full border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                >
                    <div class="mb-5">
                        <h2 class="text-2xl font-bold text-gray-900">1 {{ $t('homepage.titleCardPriceSingular') }}</h2>
                        <p class="mt-5">
                            <span class="text-4xl font-extrabold text-gray-900">{{ Math.round( prices[0].value) }} {{ $t('homepage.moneySymbol') }}</span>
                        </p>
                        <h3
                            class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                        >
                            {{ $t('homepage.subTitleCardPrice') }} :
                        </h3>
                    </div>

                    <ul class="flex flex-grow flex-shrink-0 flex-col">
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text1CardPrice') }}
                            </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text2CardPrice') }}
                            </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                                {{ $t('homepage.text3CardPrice') }}
                            </span>
                        </li>

                        <li class="flex space-x-3 py-2 mt-auto">
                            <v-btn class="me-10 text-none !font-bold"
                                   block
                                   size="large"
                                   color="#149BFC"
                                   @click="redirectToSignUp"
                                   :text="$t('homepage.textBtnCardPrice')">
                            </v-btn>
                        </li>
                    </ul>
                </div>

                <!-- Pricing 2 -->
                <div
                    class="flex flex-col max-w-sm min-h-[450px] shadow-md  ring-1 ring-zinc-300 w-72 h-full border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                >
                    <div class="mb-5">
                        <h2 class="text-2xl font-bold text-gray-900">2 {{ $t('homepage.titleCardPricePlurial') }}</h2>
                        <p class="mt-5">
                            <span class="text-4xl font-extrabold text-gray-900">{{ Math.round( prices[1].value) }} {{ $t('homepage.moneySymbol') }}</span>
                        </p>
                        <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">
                            {{ $t('homepage.subTitleCardPrice') }} :
                        </h3>
                    </div>

                    <ul class="flex flex-grow flex-shrink-0 flex-col">
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text1CardPrice') }}
                    </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text2CardPrice') }}
                    </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text3CardPrice') }}
                    </span>
                        </li>

                        <li class="flex space-x-3 py-2 mt-auto">
                            <v-btn class="me-10 text-none !font-bold"
                                   block
                                   size="large"
                                   color="#149BFC"
                                   @click="redirectToSignUp"
                                   :text="$t('homepage.textBtnCardPrice')">
                            </v-btn>
                        </li>
                    </ul>
                </div>

                <!-- Pricing 3 -->
                <div
                    class="flex flex-col max-w-sm min-h-[450px] shadow-md  ring-1 ring-zinc-300 w-72 h-full border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                >
                    <div class="mb-5">
                        <h2 class="text-2xl font-bold text-gray-900">4 {{ $t('homepage.titleCardPricePlurial') }}</h2>
                        <p class="mt-5">
                            <span class="text-4xl font-extrabold text-gray-900">{{ Math.round( prices[2].value) }} {{ $t('homepage.moneySymbol') }}</span>
                        </p>
                        <h3
                            class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                        >
                            {{ $t('homepage.subTitleCardPrice') }} :
                        </h3>
                    </div>

                    <ul class="flex flex-grow flex-shrink-0 flex-col">
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text1CardPrice') }}
                    </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text2CardPrice') }}
                    </span>
                        </li>
                        <li class="flex items-center space-x-3 py-2">
                            <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                            <span class="text-sm text-gray-800">
                        {{ $t('homepage.text3CardPrice') }}
                    </span>
                        </li>

                        <li class="flex space-x-3 py-2 mt-auto">
                            <v-btn class="me-10 text-none !font-bold"
                                   block
                                   size="large"
                                   color="#149BFC"
                                   @click="redirectToSignUp"
                                   :text="$t('homepage.textBtnCardPrice')">
                            </v-btn>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>





    <!-- REVIEW SECTION -->
    <h2 id="review-section" class="text-3xl font-extrabold text-gray-900 text-center | md:text-5xl">{{ $t('homepage.titleReview') }}</h2>
    <v-divider class="border-opacity-100 mx-auto mt-5 w-80 md:w-full" inset length="420"></v-divider>

    <!-- REVIEW CAROUSEL PHONE -->
    <v-carousel id="review-section-phone" class="lg:hidden mt-9 mb-13" height="370" draggable="true" color="#149BFC" hide-delimiter-background hide-icons :show-arrows="false">
        <v-carousel-item>
            <blockquote class="w-80 mx-auto rounded-lg bg-gray-50 p-6 shadow-lg border">
                <div class="flex items-center gap-4">
                    <img
                        alt="image of Alena"
                        src="../../../../../img/alena_review.jpeg"
                        class="h-14 w-14 rounded-full object-cover"
                    />

                    <div>
                        <div class="flex justify-center gap-0.5 text-[#149BFC]">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>

                        <p class="mt-0.5 text-lg font-medium text-gray-900">Alena</p>
                    </div>
                </div>

                <p class="mt-4 text-gray-700">
                    {{ $t('homepage.review1') }}
                </p>
            </blockquote>
        </v-carousel-item>

        <v-carousel-item>
            <blockquote class="w-80 mx-auto rounded-lg bg-gray-50 p-6 shadow-lg border">
                <div class="flex items-center gap-4">
                    <img
                        alt="image of Dana"
                        src="../../../../../img/dana_review.jpeg"
                        class="h-14 w-14 rounded-full object-cover"
                    />

                    <div>
                        <div class="flex justify-center gap-0.5 text-[#149BFC]">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>

                        <p class="mt-0.5 text-lg font-medium text-gray-900">Dana</p>
                    </div>
                </div>

                <p class="mt-4 text-gray-700">
                    {{ $t('homepage.review2') }}
                </p>
            </blockquote>
        </v-carousel-item>

        <v-carousel-item>
            <blockquote class="w-80 mx-auto rounded-lg bg-gray-50 p-6 shadow-lg border">
                <div class="flex items-center gap-4">
                    <img
                        alt="Photo of Corentin"
                        src="../../../../../img/corentin_review.jpeg"
                        class="h-14 w-14 rounded-full object-cover"
                    />

                    <div>
                        <div class="flex justify-center gap-0.5 text-[#149BFC]">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                        </div>

                        <p class="mt-0.5 text-lg font-medium text-gray-900">Corentin</p>
                    </div>
                </div>

                <p class="mt-4 text-gray-700">
                    {{ $t('homepage.review3') }}
                </p>
            </blockquote>
        </v-carousel-item>
    </v-carousel>

    <!-- REVIEW DESKTOP -->
    <section class="hidden lg:block">
        <div class="mx-auto max-w-screen-xl px-4 py-5 sm:px-6 lg:px-8 lg:py-5">

            <div class="mt-8 grid grid-cols-1 gap-4 md:grid-cols-1 md:gap-8 lg:grid-cols-3">
                <!-- CARD 1 -->
                <blockquote class="rounded-lg bg-gray-50 p-6 shadow-lg border sm:p-8">
                    <div class="flex items-center gap-4">
                        <img
                            alt="image of Alena"
                            src="../../../../../img/alena_review.jpeg"
                            class="h-14 w-14 rounded-full object-cover"
                        />

                        <div>
                            <div class="flex justify-center gap-0.5 text-[#149BFC]">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <p class="mt-0.5 text-lg font-medium text-gray-900">Alena</p>
                        </div>
                    </div>

                    <p class="mt-4 text-gray-700">
                        {{ $t('homepage.review1') }}
                    </p>
                </blockquote>

                <!-- CARD 2 -->
                <blockquote class="rounded-lg bg-gray-50 p-6 shadow-lg border sm:p-8">
                    <div class="flex items-center gap-4">
                        <img
                            alt="image of Dana"
                            src="../../../../../img/dana_review.jpeg"
                            class="h-14 w-14 rounded-full object-cover"
                        />

                        <div>
                            <div class="flex justify-center gap-0.5 text-[#149BFC]">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <p class="mt-0.5 text-lg font-medium text-gray-900">Dana</p>
                        </div>
                    </div>

                    <p class="mt-4 text-gray-700">
                        {{ $t('homepage.review2') }}
                    </p>
                </blockquote>

                <!-- CARD 3 -->
                <blockquote class="rounded-lg bg-gray-50 p-6 shadow-lg border sm:p-8">
                    <div class="flex items-center gap-4">
                        <img
                            alt="Photo of Corentin"
                            src="../../../../../img/corentin_review.jpeg"
                            class="h-14 w-14 rounded-full object-cover"
                        />

                        <div>
                            <div class="flex justify-center gap-0.5 text-[#149BFC]">
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                                <i class="bi bi-star-fill"></i>
                            </div>

                            <p class="mt-0.5 text-lg font-medium text-gray-900">Corentin</p>
                        </div>
                    </div>

                    <p class="mt-4 text-gray-700">
                        {{ $t('homepage.review3') }}
                    </p>
                </blockquote>
            </div>
        </div>
    </section>



    <!-- CONTACT SECTION -->
    <section id="contact-section" class="lg:mt-64">

        <h2 class="text-3xl pt-14 font-extrabold text-gray-900 text-center | md:text-5xl">
            {{ $t('homepage.titleContact') }}
        </h2>
        <v-divider class="border-opacity-100 mx-auto mt-5 w-80 md:w-full" inset length="440"></v-divider>
        <p class="mt-5 text-md w-80 mx-auto text-black-800 text-center | md:w-full md:text-xl">
            {{ $t('homepage.SubtitleContact') }}
        </p>

        <form
            ref="form"
            @submit.prevent="sendEmail"
            accept-charset="UTF-8"
            class="w-80 space-y-6 mt-12 relative bg-white max-w-3xl mx-auto py-10 px-10 rounded-lg shadow-lg border | sm:px-6 md:w-full lg:px-8 "
        >
            <div>
                <v-text-field
                    v-model="user_name"
                    id="name"
                    type="text"
                    name="user_name"
                    required
                    :label="$t('homepage.input1Contact')"
                    :rules="[v => !!v || $t('signUp.form.txtInput2Error'), v => (v && v.length >= 3) || $t('signUp.form.txtInput2Error2')]"
                    density="comfortable"
                    variant="outlined"
                ></v-text-field>
            </div>

            <div>
                <v-text-field
                    v-model="user_email"
                    id="email"
                    type="email"
                    name="user_email"
                    required
                    :rules="[v => !!v || $t('signUp.form.txtInput3Error'), v => /.+@.+\..+/.test(v) || $t('signUp.form.txtInput3Error2')]"
                    :label="$t('homepage.input2Contact')"
                    density="comfortable"
                    variant="outlined"
                ></v-text-field>
            </div>

            <div>
                <v-textarea
                    v-model="message"
                    id="message"
                    name="message"
                    label="Message"
                    required
                    maxlength="200"
                    :rules="[v => !!v || $t('homepage.msgInputError'), v => (v && v.length >= 1) || $t('homepage.msgInputError2')]"
                    variant="outlined"
                    counter
                    single-line
                ></v-textarea>
            </div>

            <v-btn
                type="submit"
                class="me-10 text-none !tracking-normal"
                size="large"
                color="#149BFC"
                :text="$t('homepage.btnForm')"
                :loading="loading"
            >
                <template #loader>
                    <v-icon :class="{ 'rotate': loading }" color="white">mdi-loading</v-icon>
                </template>
            </v-btn>
        </form>

    </section>

    <!-- FOOTER -->
    <FooterUnconnected :home-route="homeRoute"/>

    <!-- BTN Scroll to top -->
    <transition name="fade">
        <div id="pagetop" class="cursor-pointer fixed right-2 md:right-16 bottom-10" v-show="scY > 300" @click="toTop">
            <i class="cursor-pointer text-5xl text-gray-400 bi bi-arrow-up-circle"></i>
        </div>
    </transition>
</template>

<script>
import FooterUnconnected from "../FooterUnconnected.vue";
import emailjs from '@emailjs/browser';
import {useToast} from "vue-toastification";
export default {
    name: "HomePage",
    components: {
        FooterUnconnected,
    },
    props: {
        homeRoute: String,
        registerRoute: String,
        prices: Array,
    },
    data() {
        return {
            showVideo: false,
            scTimer: 0,
            scY: 0,
            user_name: null,
            user_email: null,
            message: null,
            toast: useToast(),
            loading: false,
            status: null,
            pdfCookie: '/pdf/cookies_speaklingo.pdf',
            pdfCookieFr: '/pdf/cookies_speaklingo_fr.pdf',
            pdfPrivacy: '/pdf/privacy_policy.pdf',
        };
    },
    mounted() {
        window.addEventListener('scroll', this.handleScroll);
    },
    computed: {
        statusText() {
            return this.status || "No cookie set";
        }
    },
    methods: {
        cookieStatus(status) {
            this.status = status;
        },
        cookieClickedAccept() {
            this.status = "accept";
        },
        cookieClickedDecline() {
            this.status = "decline";
        },
        sendEmail() {
            if (!this.user_name || !this.user_email || !this.message) {
                this.toast.error(this.$t('homepage.formRequired'));
                return;
            }

            this.loading = true;

            emailjs
                .sendForm('service_h58y27i', 'template_yn9we26', this.$refs.form, {
                    publicKey: 'Yq06EbGcgYUhA1iQJ',
                })
                .then(
                    () => {
                        this.toast.success(this.$t('homepage.formSuccess'));
                        this.user_name = null;
                        this.user_email = null;
                        this.message = null;
                    },
                    (error) => {
                        this.toast.error(this.$t('homepage.formError'))
                    },
                )
                .finally(() => {
                    this.loading = false;
                });
        },
        scrollToAbout() {
            let offset = 250;

            if (window.innerWidth >= 1536) { // 2xl
                offset = 0;
            } else if (window.innerWidth >= 1280) { // xl
                offset = 0;
            } else {
                offset = 0;
            }

            const element = document.querySelector("#feature-section");
            if (element) {
                const elementOffset = element.offsetTop - offset;
                window.scrollTo({ top: elementOffset, behavior: "smooth" });
            }
        },
        scrollToPricing() {
            let offset = 250;

            if (window.innerWidth >= 1536) { // 2xl
                offset = 0;
            } else if (window.innerWidth >= 1280) { // xl
                offset = 0;
            } else {
                offset = 0;
            }

            const element = document.querySelector("#pricing-section");
            if (element) {
                const elementOffset = element.offsetTop - offset;
                window.scrollTo({ top: elementOffset, behavior: "smooth" });
            }
        },
        scrollToContact() {
            let offset = 0;

            if (window.innerWidth >= 1536) { // 2xl
                offset = 0;
            } else if (window.innerWidth >= 1280) { // xl
                offset = 0;
            } else {
                offset = 0;
            }

            const element = document.querySelector("#contact-section");
            if (element) {
                const elementOffset = element.offsetTop - offset;
                window.scrollTo({ top: elementOffset, behavior: "smooth" });
            }
        },
        redirectToSignUp() {
            window.location.href = this.registerRoute;
        },
        playVideo() {
            this.showVideo = true;
            document.body.style.overflow = "hidden";
        },
        closeVideo() {
            this.showVideo = false;
            document.body.style.overflow = "";
        },
        handleScroll: function () {
            if (this.scTimer) return;
            this.scTimer = setTimeout(() => {
                this.scY = window.scrollY;
                clearTimeout(this.scTimer);
                this.scTimer = 0;
            }, 100);
        },
        toTop: function () {
            window.scrollTo({
                top: 0,
                behavior: "smooth"
            });
        },
        handleClick() {
            let offset;
            const windowWidth = window.innerWidth;

            if (windowWidth >= 1536) { // 2xl
                offset = 900;
            } else if (windowWidth >= 1280) { // xl
                offset = 800;
            } else {
                offset = 0;
            }

            this.scrollByOffset(offset);
        },
        scrollByOffset(offset) {
            window.scrollBy({ top: offset, behavior: 'smooth' });
        }
    },
}
</script>

<style scoped>
:deep(.cookie__floating__content) {
    overflow: hidden;
}
.bi-tv, .bi-arrow-up-right-circle {
    font-size: 5rem;
}

.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
</style>
