<template>
    <nav class="h-24 bg-white flex items-center border-b-2 font-roboto">
        <div class="container mx-auto lg:px-10 2xl:px-0 flex justify-between items-center">
            <div class="flex items-center">
                <div class="flex flex-col align-center ps-5 pe-8">
                    <img src="../../../../../img/logo.png" alt="" class="w-12 flex">
                    <span class="text-[#149BFC] text-xl font-bold py-1">SpeakLingo</span>
                </div>

                <p @click.prevent="scrollToHome" class="px-4 py-2 cursor-pointer | hover:text-gray-500 | hidden lg:block">{{ $t('navbar.home') }}</p>
                <p @click.prevent="scrollToAbout" class="px-4 py-2 cursor-pointer | hover:text-gray-500 | hidden lg:block">{{ $t('navbar.about') }}</p>
                <p @click.prevent="scrollToPricing" class="px-4 py-2 cursor-pointer | hover:text-gray-500 | hidden lg:block">{{ $t('navbar.pricing') }}</p>
                <p @click.prevent="scrollToContact" class="px-4 py-2 cursor-pointer | hover:text-gray-500 | hidden lg:block">Contact</p>
            </div>
            <!-- Phone burger menu -->
            <div class="flex">
                <!--  Dropdown Language -->
                <div class="lg:hidden">
                    <v-menu
                        content-class="pt-2"
                        transition="slide-y-transition">
                        <template v-slot:activator="{ props }">
                            <v-btn
                                color=""
                                flat
                                v-bind="props"
                                class="text-none"
                            >
                                {{ selectedLanguage }} <v-icon>mdi-menu-down</v-icon>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item
                                v-for="(item, i) in items"
                                :key="i"
                                @click="selectLanguage(item.title)"
                            >
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </div>


                <!-- Burger Button -->
                <button @click="toggleMenu" class="lg:hidden relative pr-5 md:pr-10">
                    <v-icon v-if="!isMenuOpen" size="x-large">mdi-menu</v-icon>
                    <v-icon v-else size="x-large">mdi-close</v-icon>
                </button>

                <!-- Mobile Menu -->
                <transition name="slide-right">
                    <div v-if="isMenuOpen" class="lg:hidden absolute inset-0 bg-white z-50 mt-[5.8rem] h-full overflow-hidden">
                        <div class="flex items-center justify-end">
                            <div class="bg-white text-start w-full" @click.stop>
                                <!-- Menu Items -->
                                <p @click.prevent="scrollToAboutPhone" class="block py-4 px-4 cursor-pointer | hover:bg-gray-200 | border-t-2 w-full" @click="closeMenu">{{ $t('navbar.about') }}</p>
                                <p @click.prevent="scrollToPricingPhone" class="block py-4 px-4 cursor-pointer | hover:bg-gray-200 | border-t-2" @click="closeMenu">{{ $t('navbar.pricing') }}</p>
                                <p @click.prevent="scrollToContact" class="block py-4 px-4 cursor-pointer | hover:bg-gray-200 | border-t-2 border-b-2" @click="closeMenu">Contact</p>
                            </div>
                        </div>
                        <div class="flex justify-center text-center mt-10">
                            <v-col md="5" sm="6">
                                <v-btn class="text-none" rounded="xl" size="large" color="#F7F7F7" variant="flat" block @click="redirectToLogin">{{ $t('navbar.login') }}</v-btn>
                            </v-col>
                            <v-col md="5" sm="6">
                                <v-btn class="text-none" rounded="xl" size="large" color="#149BFC" variant="flat" block @click="redirectToSignUp">{{ $t('navbar.signUp') }}</v-btn>
                            </v-col>
                        </div>
                    </div>
                </transition>
            </div>
            <!-- Desktop menu -->
            <div class="hidden justify-end items-center | lg:flex">
                <v-menu
                    content-class="pt-2"
                    transition="slide-y-transition">
                    <template v-slot:activator="{ props }">
                        <v-btn
                            color=""
                            flat
                            v-bind="props"
                            class="text-none"
                        >
                            {{ selectedLanguage }} <v-icon>mdi-menu-down</v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item
                            v-for="(item, i) in items"
                            :key="i"
                            @click="selectLanguage(item.title)"
                        >
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>

                <v-col md="5" sm="6">
                    <v-btn class="text-none" rounded="xl" size="large" color="#F7F7F7" variant="flat" block @click="redirectToLogin">{{ $t('navbar.login') }}</v-btn>
                </v-col>
                <v-col md="5" sm="6">
                    <v-btn class="text-none" rounded="xl" size="large" color="#149BFC" variant="flat" block @click="redirectToSignUp">{{ $t('navbar.signUp') }}</v-btn>
                </v-col>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    name: "NavbarLanding",
    props: {
        registerRoute: String,
        loginRoute: String
    },
    data() {
        return {
            isOpenLanguageDropdown: false,
            selectedLanguage: localStorage.getItem('selectedLanguage') || "English",
            isMenuOpen: false,
            items: [
                { title: 'English' },
                { title: 'Français' },
            ],
        };
    },
    methods: {
        redirectToLogin() {
            window.location.href = this.loginRoute;
        },
        redirectToSignUp() {
            window.location.href = this.registerRoute;
        },
        selectLanguage(language) {
            this.selectedLanguage = language;
            this.isOpenLanguageDropdown = false;

            const languageMap = {
                'English': 'en',
                'Français': 'fr'
            };

            const locale = languageMap[language];

            localStorage.setItem('selectedLanguage', language);
            this.$i18n.locale = locale;
            this.$vuetify.locale.current = locale;

            axios.post('language', { locale })
                .then(response => {
                    console.log('Locale set on server');
                })
                .catch(error => {
                    console.error('Error setting locale on server:', error);
                });
        },
        toggleLanguageDropdown() {
            this.isOpenLanguageDropdown = !this.isOpenLanguageDropdown;
        },
        closeDropdown() {
            this.isOpenLanguageDropdown = false;
        },
        handleDocumentClick(event) {
            const dropdownButton = this.$refs.languageButton;
            if (dropdownButton && !dropdownButton.contains(event.target)) {
                this.isOpenLanguageDropdown = false;
            }
        },
        toggleMenu() {
            this.isMenuOpen = !this.isMenuOpen;
        },
        closeMenu() {
            this.isMenuOpen = false;
        },
        scrollToHome() {
            document.querySelector("#home-section").scrollIntoView({ behavior: "smooth" });
        },
        scrollToAbout() {
            let offset = 250;

            if (window.innerWidth >= 1536) { // 2xl
                offset = 0;
            } else if (window.innerWidth >= 1280) { // xl
                offset = 0;
            } else {
                offset = 0;
            }

            const element = document.querySelector("#feature-section");
            if (element) {
                const elementOffset = element.offsetTop - offset;
                window.scrollTo({ top: elementOffset, behavior: "smooth" });
            }
        },
        scrollToPricing() {
            let offset = 250;

            if (window.innerWidth >= 1536) { // 2xl
                offset = 0;
            } else if (window.innerWidth >= 1280) { // xl
                offset = 0;
            } else {
                offset = 0;
            }

            const element = document.querySelector("#pricing-section");
            if (element) {
                const elementOffset = element.offsetTop - offset;
                window.scrollTo({ top: elementOffset, behavior: "smooth" });
            }
        },
        scrollToContact() {
            let offset = 0;

            if (window.innerWidth >= 1536) { // 2xl
                offset = 0;
            } else if (window.innerWidth >= 1280) { // xl
                offset = 0;
            } else {
                offset = 0;
            }

            const element = document.querySelector("#contact-section");
            if (element) {
                const elementOffset = element.offsetTop - offset;
                window.scrollTo({ top: elementOffset, behavior: "smooth" });
            }
        },

        scrollToAboutPhone() {
            const element = document.querySelector("#feature-section-phone");
            if (element) {
                const offset = element.offsetTop - 190;
                window.scrollTo({ top: offset, behavior: "smooth" });
            }
        },
        scrollToPricingPhone() {
            const element = document.querySelector("#pricing-section-phone");
            if (element) {
                const offset = element.offsetTop - 140;
                window.scrollTo({ top: offset, behavior: "smooth" });
            }
        },
    },
    mounted() {
        document.addEventListener('click', this.handleDocumentClick);
        if (localStorage.getItem('selectedLanguage')) {
            this.$i18n.locale = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
            this.$vuetify.locale.current = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
        }
    },
    beforeDestroy() {
        document.removeEventListener('click', this.handleDocumentClick);
    },
};
</script>

<style scoped>
.slide-right-enter-active, .slide-right-leave-active {
    transition: transform 0.5s;
}

.slide-right-enter, .slide-right-leave-to {
    transform: translateX(100%);
}

.slide-right-enter-to, .slide-right-leave {
    transform: translateX(0);
}
</style>
