<template>
    <section class="w-full">
        <div class="flex md:mb-10">
            <h2 class="text-2xl md:text-4xl mt-10 ms-4 md:ms-10 font-bold">{{ $t('settings.deleteAccount.tittle') }}</h2>
        </div>

        <div class="absolute left-80 right-0 flex justify-center">
            <div
                class="w-96 p-4 text-red-800 text-sm rounded-lg bg-red-100"
                v-if="errors.general"
            >
                {{ errors.general }}
            </div>
            <div
                class="w-96 p-4 text-sm text-green-800 rounded-lg bg-green-100"
                v-if="successMessage"
            >
                {{ successMessage }}
            </div>
        </div>

        <div class="flex mx-auto md:px-10 lg:px-28">
            <form class="w-96 md:w-full mx-auto py-8 text-start">
                <input type="hidden" name="_token" :value="csrf" />

                <!-- Old Password -->
                <div class="mb-4 md:mb-8">
                    <label
                        class="block text-gray-700 text-sm font-bold mb-2"
                        for="oldPassword"
                    >
                        {{ $t('settings.deleteAccount.label') }}
                    </label>
                    <v-text-field
                        v-model="password"
                        id="oldPassword"
                        name="oldPassword"
                        autocomplete="off"
                        density="comfortable"
                        bg-color="#F2F2F2"
                        variant="solo"
                        flat
                        :label="$t('settings.deleteAccount.input')"
                        :append-inner-icon="showPassword.password
              ? 'mdi-eye-off'
              : 'mdi-eye'"
                        :type="showPassword.password ? 'text' : 'password'"
                        @click:append-inner="showPassword.password = !showPassword.password"
                    ></v-text-field>
                    <span v-if="errors.password" class="text-red-500 text-sm">
            {{ errors.password }}
          </span>
                </div>

                <!-- Button -->
                <div class="space-x-8 mt-5">
                    <button
                        :disabled="isButtonDisabled || submitting"
                        :class="{
              'opacity-50 cursor-not-allowed': isButtonDisabled || submitting,
            }"
                        class="uppercase border border-[#149BFC] bg-red-500 hover:bg-red-600 text-white py-2 px-8 rounded-md"
                        @click.prevent="openConfirmationModal"
                    >
                        {{ $t('settings.deleteAccount.tittle') }}
                    </button>
                </div>
            </form>
        </div>

        <!-- Confirmation Modal -->
        <v-dialog
            v-model="isConfirmationModalOpen"
            max-width="500"
            persistent
            transition="dialog-bottom-transition"
        >
            <v-card>
                <v-card-title class="text-h5 text-red-500 mt-2">{{ $t('settings.deleteAccount.tittle') }}</v-card-title>
                <v-card-text>
                    <p class="tracking-wider">{{ $t('settings.deleteAccount.txtModal') }}</p>
                </v-card-text>
                <v-card-actions>
                    <v-spacer />
                    <v-btn color="blue" variant="elevated" @click="isConfirmationModalOpen = false">
                        {{ $t('settings.deleteAccount.cancelBtn') }}
                    </v-btn>
                    <v-btn color="red" variant="elevated" @click="confirmDeletion">
                        {{ $t('settings.deleteAccount.confirmBtn') }}
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </section>
</template>

<script>
import { useToast } from "vue-toastification";

export default {
    name: "EditPassword",
    props: {
        user: String,
        selectedMenuItem: String,
        csrf: String,
        passwordUser: String,
        logoutRoute: String,
    },
    data() {
        return {
            errors: {},
            userId: null,
            successMessage: "",
            password: "",
            showPassword: {
                password: false,
            },
            submitting: false,
            originalFormData: {},
            isConfirmationModalOpen: false,
            toast: useToast(),
        };
    },
    computed: {
        isButtonDisabled() {
            return !this.password;
        },
    },
    methods: {
        fetchUserId() {
            const userObject = JSON.parse(this.user);
            this.userId = userObject.id;
        },
        openConfirmationModal() {
            this.isConfirmationModalOpen = true;
        },
        confirmDeletion() {
            this.isConfirmationModalOpen = false;
            this.submitForm();
        },
        clearErrors() {
            this.errors = {};
        },
        submitForm() {
            this.submitting = true;
            this.clearErrors();

            if (!this.password) {
                this.errors.password = "Please enter your password.";
                this.submitting = false;
                return;
            }

            axios
                .post("verifyPassword", {
                    password: this.password,
                    hashedPassword: this.passwordUser,
                })
                .then((response) => {
                    if (response.data.success) {
                        axios
                            .delete(`/users/${this.userId}`)
                            .then(() => {
                                window.location.href = this.logoutRoute;
                            })
                            .catch((error) => {
                                this.submitting = false;
                                console.error("Error during deletion:", error);
                            });
                    } else {
                        this.errors.password = this.$t('settings.deleteAccount.error1');
                        this.submitting = false;
                        this.password = null;
                    }
                })
                .catch((error) => {
                    this.toast.error(this.$t('expiredRegister.error4'));
                    this.submitting = false;
                });
        },
    },
    mounted() {
        this.fetchUserId();
    },
};
</script>

<style scoped>

</style>
