<template>
    <section class="w-full h-screen">
        <div class="flex">
            <h2 class="text-2xl md:text-4xl mt-10 ms-4 md:ms-10 font-bold text-no-wrap">{{ $t('settings.editProfile.tittle') }}</h2>
            <!-- Photo Profile -->
            <div class="hidden md:flex justify-center flex-col mx-auto mt-10 me-80">
                <div class="shrink-0 mx-auto">
                    <img :src="`https://speaklingo.s3.eu-north-1.amazonaws.com/${formData.avatar}`"
                         id='preview_img' class="h-16 w-16 object-cover rounded-full" alt="Current profile photo" />
                </div>
                <div class="me-6 mt-3">
                    <label class="text-sm cursor-pointer
                                  ml-8 py-2 px-4
                                  rounded-full border-0
                                  font-semibold
                                  bg-blue-50 text-[#149BFC]
                                  hover:bg-blue-100">
                        {{ $t('settings.editProfile.btnPhoto') }}
                        <input type="file" id="inputFile" @change="updateProfilePhoto" class="hidden"/>
                    </label>
                    <v-icon v-if="loading" :class="{ 'rotate': loading }" color="white">mdi-loading</v-icon>
                </div>
            </div>

        </div>
        <div class="absolute left-80 right-0 flex justify-center">
            <div class="w-96 p-4 text-red-800 text-sm rounded-lg bg-red-100" v-if="errors.general">
                {{ errors.general }}
            </div>
            <div class="w-96 p-4 text-sm text-green-800 rounded-lg bg-green-100" v-if="successMessage">
                {{ successMessage }}
            </div>
        </div>


        <div class="flex mx-auto">
            <form @submit.prevent="submitForm" class="w-96 mb-10 md:w-full mx-auto md:px-10 lg:px-28 py-8 text-start">

                <input type="hidden" name="_token" :value="csrf">

                <!-- Firstname & Lastname & Photo phone -->
                <div class="flex">
                    <div class="md:flex">
                        <!-- Firstname -->
                        <div class="mb-4 w-52">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">
                                {{$t('signUp.form.txt1')}}
                            </label>
                            <v-text-field
                                v-model="formData.firstname"
                                id="firstname"
                                type="text"
                                name="firstname"
                                :rules="firstnameRules"
                                density="comfortable"
                                variant="solo"
                                flat
                                bg-color="#F2F2F2"
                            ></v-text-field>
                            <span v-if="errors.firstname" class="text-red-500 text-sm inline-block">{{ errors.firstname }}</span>
                        </div>

                        <!-- Lastname -->
                        <div class="md:ms-12 mb-4 w-52">
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="lastname">
                                {{$t('signUp.form.txt2')}}
                            </label>
                            <v-text-field
                                v-model="formData.lastname"
                                id="lastname"
                                type="text"
                                name="lastname"
                                :rules="lastnameRules"
                                density="comfortable"
                                variant="solo"
                                flat
                                bg-color="#F2F2F2"
                            ></v-text-field>
                            <span v-if="errors.lastname" class="text-red-500 text-sm mt-2 inline-block">{{ errors.lastname }}</span>
                        </div>
                    </div>
                    <!-- Photo phone -->
                    <div class="flex md:hidden justify-center flex-col">
                        <div class="shrink-0">
                            <img :src="`https://speaklingo.s3.eu-north-1.amazonaws.com/${formData.avatar}`"
                                 id='preview_img' class="ms-16 h-16 w-16 object-cover rounded-full" alt="Current profile photo" />
                        </div>
                        <div class="mt-3 ms-6">
                            <label class="text-sm cursor-pointer
                                          text-nowrap py-2 px-4
                                          rounded-full border-0
                                          font-semibold
                                          bg-blue-50 text-[#149BFC]
                                          hover:bg-blue-100">
                                {{ $t('settings.editProfile.btnPhoto') }}
                                <input type="file" id="inputFile" @change="updateProfilePhoto" class="hidden"/>
                            </label>
                        </div>

                    </div>
                </div>

                <!-- Email -->
                <div class="mb-3">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                        {{$t('signUp.form.txt3')}}
                    </label>
                    <v-text-field
                        v-model="formData.email"
                        id="email"
                        type="email"
                        name="email"
                        :rules="emailRules"
                        density="comfortable"
                        variant="solo"
                        flat
                        bg-color="#F2F2F2"
                    ></v-text-field>
                    <span v-if="errors.email" class="text-red-500 text-sm">{{ errors.email }}</span>
                </div>

                <!-- Country -->
                <div class="mb-3">
                    <p class="block text-gray-700 text-sm font-bold mb-2">
                        {{$t('signUp.form.txt5')}}
                    </p>
                    <v-combobox
                        v-model="formData.country"
                        :items="translatedCountries"
                        :placeholder="formData.country"
                        :rules="countryRules"
                        density="comfortable"
                        bg-color="#F2F2F2"
                        variant="solo"
                        flat
                        @change="updateCountryId"
                    ></v-combobox>
                    <span v-if="errors.country_id" class="text-red-500 text-sm">{{ errors.country_id }}</span>
                </div>

                <!-- Phone Number -->
                <div class="mb-3">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="number">
                        {{$t('signUp.form.txt4')}}
                    </label>
                    <div class="bg-[#F2F2F2] h-12 ps-4">
                        <v-phone-input
                            v-model="formData.phone"
                            enableSearchingCountry
                            defaultCountry="be"
                            country-label=""
                            density="comfortable"
                            variant="plain"
                            flat
                            label=""
                            :invalidMessage="$t('signUp.form.hintInput4Error')"
                            :label="$t('signUp.form.txtInput4')"
                            :rules="phoneRules"
                        />
                    </div>
                    <span v-if="errors.phone" class="text-red-500 text-sm">{{ errors.phone }}</span>
                </div>

                <!-- Button -->
                <div class="space-x-8 mt-10">
                    <button
                        :disabled="!valid || !formChanged || submitting"
                        :class="{ 'opacity-50 cursor-not-allowed': !valid || !formChanged || submitting }"
                        class="border border-[#149BFC] bg-[#149BFC] hover:bg-blue-500 text-white py-2 px-8 rounded-md"
                        type="submit"
                    >
                        {{ $t('settings.editProfile.btnSave') }}
                    </button>
                </div>

            </form>
        </div>
    </section>
</template>

<script>
import { useToast } from "vue-toastification";
import countriesData from '../../../../../../other/countries.json';
export default {
    name: "EditProfile",
    props: {
        selectedMenuItem: String,
        csrf: String,
        formData: Object,
    },
    data() {
        return {
            selectedLanguage: localStorage.getItem('selectedLanguage') || "English",
            errors: {},
            successMessage: '',
            originalFormData: {},
            submitting: false,
            countries: countriesData,
            toast: useToast(),
            loading: false,
            firstnameRules: [
                v => !!v || this.$t('signUp.form.txtInput1Error'), v => (v && v.length >= 3) || this.$t('signUp.form.txtInput1Error2'),
            ],
            lastnameRules: [
                v => !!v || this.$t('signUp.form.txtInput2Error'), v => (v && v.length >= 3) || this.$t('signUp.form.txtInput2Error2')
            ],
            emailRules: [
                v => !!v || this.$t('signUp.form.txtInput3Error'), v => /.+@.+\..+/.test(v) || this.$t('signUp.form.txtInput3Error2')
            ],
            countryRules: [
                v => !!v || this.$t('signUp.form.txtInput5Error')
            ],
            phoneRules: [
                v => !!v || this.$t('signUp.form.txtInput4Error'),
                v => /^\+?[0-9\s-().]{10,15}$/.test(v) || this.$t('signUp.form.hintInput4Error'),
            ],
            valid: true,
        };
    },
    watch: {
        formData: {
            handler() {
                this.validateForm();
            },
            deep: true,
        },
    },
    mounted() {
        this.originalFormData = { ...this.formData };
        if (localStorage.getItem('selectedLanguage')) {
            this.$i18n.locale = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
            this.$vuetify.locale.current = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
        }
    },
    computed: {
        formChanged() {
            return JSON.stringify(this.originalFormData) !== JSON.stringify(this.formData);
        },
        translatedCountries() {
            return this.countries.map(country => this.$t(`countries.${country.country_id}`));
        },
        updateCountryId() {
            const countryMappings = {
                "Australie": "Australia",
                "Autriche": "Austria",
                "Belgique": "Belgium",
                "Brésil": "Brazil",
                "Bulgarie": "Bulgaria",
                "Canada": "Canada",
                "Croatie": "Croatia",
                "Chypre": "Cyprus",
                "République Tchèque": "Czech Republic",
                "Danemark": "Denmark",
                "Estonie": "Estonia",
                "Finlande": "Finland",
                "France": "France",
                "Allemagne": "Germany",
                "Ghana": "Ghana",
                "Gibraltar": "Gibraltar",
                "Grèce": "Greece",
                "Hong Kong": "Hong Kong",
                "Hongrie": "Hungary",
                "Inde": "India",
                "Indonésie": "Indonesia",
                "Irlande": "Ireland",
                "Italie": "Italy",
                "Japon": "Japan",
                "Kenya": "Kenya",
                "Lettonie": "Latvia",
                "Liechtenstein": "Liechtenstein",
                "Lituanie": "Lithuania",
                "Luxembourg": "Luxembourg",
                "Malaisie": "Malaysia",
                "Malte": "Malta",
                "Mexique": "Mexico",
                "Pays-Bas": "Netherlands",
                "Nouvelle-Zélande": "New Zealand",
                "Nigéria": "Nigeria",
                "Norvège": "Norway",
                "Pologne": "Poland",
                "Portugal": "Portugal",
                "Roumanie": "Romania",
                "Singapour": "Singapore",
                "Slovaquie": "Slovakia",
                "Slovénie": "Slovenia",
                "Afrique du Sud": "South Africa",
                "Espagne": "Spain",
                "Suède": "Sweden",
                "Suisse": "Switzerland",
                "Thaïlande": "Thailand",
                "Émirats Arabes Unis": "United Arab Emirates",
                "Royaume-Uni": "United Kingdom",
                "États-Unis": "United States"
            };
            const selectedCountryName = this.formData.country;
            const mappedCountryName = countryMappings[selectedCountryName];

            if (mappedCountryName) {
                const selectedCountry = this.countries.find(country => country.country_name === mappedCountryName);

                if (selectedCountry) {
                    this.formData.country_id = selectedCountry.country_id;
                    this.formData.country = mappedCountryName;
                }
            }
        },
    },
    methods: {
        clearErrors() {
            this.errors = {};
        },
        updateFormChanged() {
            this.formChanged = true;
        },
        updateProfilePhoto(event) {
            this.loading = true;
            const file = event.target.files[0];
            if (file) {
                const previewImg = document.getElementById('preview_img');
                const objectUrl = URL.createObjectURL(file);
                previewImg.src = objectUrl;
            }
            const formData = new FormData();
            formData.append('avatar', file);

            axios.post('updateProfilePhoto', formData)
                .then(response => {
                    this.formData.avatar = response.data.avatar;

                    const baseUrl = 'https://speaklingo.s3.eu-north-1.amazonaws.com/';
                    const fullImageUrl = baseUrl + response.data.avatar;

                    document.getElementById('preview_img').src = fullImageUrl;
                    this.loading = false;
                    window.location.reload();
                })
                .catch(error => {
                    this.loading = false;
                    this.toast.error(this.$t('expiredRegister.error4'));
                });
        },
        validateForm() {
            this.valid = this.firstnameRules.every(rule => rule(this.formData.firstname) === true) &&
                this.lastnameRules.every(rule => rule(this.formData.lastname) === true) &&
                this.emailRules.every(rule => rule(this.formData.email) === true) &&
                this.countryRules.every(rule => rule(this.formData.country) === true) &&
                this.phoneRules.every(rule => rule(this.formData.phone) === true);
        },
        submitForm() {
            this.submitting = true;

            const selectedCountry = this.countries.find(country => country.country_name === this.formData.country);
            if (selectedCountry) {
                this.formData.country_id = selectedCountry.country_id;
            }

            const updatedFields = {};
            for (const key in this.formData) {
                if (this.formData.hasOwnProperty(key) && this.formData[key] !== this.originalFormData[key]) {
                    updatedFields[key] = this.formData[key];
                }
            }

            if (this.valid) {
                axios.post('updateProfile', updatedFields)
                    .then(response => {
                        if (response.data.success) {
                            this.originalFormData = {...this.formData};
                            this.formChanged = false;
                            this.submitting = false;
                            this.toast.success(this.$t('settings.editProfile.successMsg'));
                        } else {
                            this.originalFormData = {...this.formData};
                            this.formChanged = false;
                            this.submitting = false;
                            this.toast.error(this.$t('settings.editProfile.errorMsg'));
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.submitting = false;
                            const serverErrors = error.response.data.errors;

                            this.errors = Object.keys(serverErrors).reduce((acc, key) => {
                                acc[key] = serverErrors[key][0];
                                return acc;
                            }, {});
                        } else {
                            this.submitting = false;
                            this.toast.error(this.$t('settings.editProfile.errorMsg'));
                        }
                    });
            }
        }
    }
}
</script>

<style scoped>
input[type="file"] {
    color: transparent;
}

.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
</style>
