<template>
    <section class="w-full h-screen overflow-y-auto">
        <div class="flex md:mb-10">
            <h2 class="text-2xl md:text-4xl mt-10 ms-4 md:ms-10 font-bold">{{ $t('settings.password.tittle') }}</h2>
        </div>

        <div class="absolute left-80 right-0 flex justify-center">
            <div class="w-96 p-4 text-red-800 text-sm rounded-lg bg-red-100" v-if="errors.general">
                {{ errors.general }}
            </div>
            <div class="w-96 p-4 text-sm text-green-800 rounded-lg bg-green-100" v-if="successMessage">
                {{ successMessage }}
            </div>
        </div>

        <div class="flex mx-auto md:px-10 lg:px-28">
            <form @submit.prevent="submitForm" class="w-96 md:w-full mx-auto py-8 text-start">

                <input type="hidden" name="_token" :value="csrf">

                <!-- Old Password -->
                <div class="mb-4 md:mb-8">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="oldPassword">
                        {{ $t('settings.password.label1') }}
                    </label>
                    <div class="relative">
                        <v-text-field
                            v-model="oldPassword"
                            id="password"
                            name="oldPassword"
                            autocomplete="off"
                            density="comfortable"
                            bg-color="#F2F2F2"
                            variant="solo"
                            flat
                            :label="$t('settings.password.inputLabel1')"
                            :append-inner-icon="showPassword.oldPassword ? 'mdi-eye-off' : 'mdi-eye'"
                            :type="showPassword.oldPassword ? 'text' : 'password'"
                            @click:append-inner="showPassword.oldPassword = !showPassword.oldPassword"
                        ></v-text-field>
                    </div>
                    <span v-if="errors.oldPassword" class="text-red-500 text-sm">{{ errors.oldPassword }}</span>
                </div>

                <!-- New Password -->
                <div class="mb-4 md:mb-8">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                        {{ $t('settings.password.label2') }}
                    </label>
                    <div class="relative">
                        <v-text-field
                            v-model="formData.newPassword"
                            id="newPassword"
                            name="password"
                            autocomplete="off"
                            density="comfortable"
                            bg-color="#F2F2F2"
                            variant="solo"
                            flat
                            :label="$t('settings.password.inputLabel2')"
                            :hint="$t('signUp.form.txtInput6Hint')"
                            :rules="[v => !!v || $t('login.form.txtInput2Error'), v => (v && /[A-Z]/.test(v) && v.length >= 9) || $t('newPasswordReset.passwordLengthError')]"
                            :append-inner-icon="showPassword.newPassword ? 'mdi-eye-off' : 'mdi-eye'"
                            :type="showPassword.newPassword ? 'text' : 'password'"
                            @click:append-inner="showPassword.newPassword = !showPassword.newPassword"
                        ></v-text-field>
                    </div>
                    <span v-if="errors.newPassword" class="text-red-500 text-sm">{{ errors.newPassword }}</span>
                </div>

                <!-- Check New Password -->
                <div class="mb-3">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                        {{ $t('settings.password.label3') }}
                    </label>
                    <div class="relative">
                        <v-text-field
                            v-model="formData.checkNewPassword"
                            id="checkNewPassword"
                            name="checkNewPassword"
                            autocomplete="off"
                            density="comfortable"
                            bg-color="#F2F2F2"
                            variant="solo"
                            flat
                            :label="$t('settings.password.inputLabel3')"
                            :rules="[v => !!v || $t('login.form.txtInput2Error'), v => formData.checkNewPassword === formData.newPassword || $t('newPasswordReset.confirmPasswordError')]"
                            :append-inner-icon="showPassword.checkNewPassword ? 'mdi-eye-off' : 'mdi-eye'"
                            :type="showPassword.checkNewPassword ? 'text' : 'password'"
                            @click:append-inner="showPassword.checkNewPassword = !showPassword.checkNewPassword"
                        ></v-text-field>
                    </div>
                    <span v-if="errors.checkNewPassword" class="absolute text-red-500 text-sm">{{ errors.checkNewPassword }}</span>
                </div>

                <!-- Button -->
                <div class="space-x-8 mt-10">
                    <button
                        :disabled="isButtonDisabled || submitting"
                        :class="{ 'opacity-50 cursor-not-allowed': isButtonDisabled || submitting }"
                        class="border border-[#149BFC] bg-[#149BFC] hover:bg-blue-500 text-white py-2 px-8 rounded-md"
                        type="submit"
                    >
                        {{ $t('settings.editProfile.btnSave') }}
                    </button>
                </div>

            </form>
        </div>
    </section>
</template>

<script>
import {useToast} from "vue-toastification";

export default {
    name: "EditPassword",
    props: {
        selectedMenuItem: String,
        csrf: String,
        formData: Object,
        passwordUser: String,
    },
    data() {
        return {
            selectedLanguage: localStorage.getItem('selectedLanguage') || "English",
            errors: {},
            successMessage: '',
            oldPassword: '',
            showPassword: {
                oldPassword: false,
                newPassword: false,
                checkNewPassword: false
            },
            submitting: false,
            originalFormData: {},
            toast: useToast()
        };
    },
    mounted() {
        if (localStorage.getItem('selectedLanguage')) {
            this.$i18n.locale = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
            this.$vuetify.locale.current = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
        }
    },
    computed: {
        formChanged() {
            return JSON.stringify(this.originalFormData) !== JSON.stringify(this.formData);
        },
        fieldsAreEmpty() {
            return !this.formData.newPassword || !this.formData.checkNewPassword;
        },
        isButtonDisabled() {
            return !this.oldPassword || !this.formData.newPassword || this.formData.checkNewPassword !== this.formData.newPassword || this.formData.newPassword.length < 9 || !/[A-Z]/.test(this.formData.newPassword);
        }
    },
    methods: {
        clearErrors() {
            this.errors = {};
        },
        submitForm() {
            if (!this.oldPassword || !this.formData.newPassword || this.formData.checkNewPassword !== this.formData.newPassword || this.formData.newPassword.length < 9 || !/[A-Z]/.test(this.formData.newPassword)) {
                return;
            }
            this.submitting = true;
            this.clearErrors();

            if (!this.oldPassword) {
                this.errors.oldPassword = "Please enter your old password.";
                this.submitting = false;
                return;
            }

            axios.post('verifyPassword', {
                password: this.oldPassword,
                hashedPassword: this.passwordUser
            })
                .then(response => {
                    if (response.data.success) {
                        if (!this.formData.newPassword) {
                            this.errors.newPassword = "Please enter your new password.";
                            this.submitting = false;
                            return;
                        } else if (!/^(?=.*[A-Z])(?=.*\d).+$/.test(this.formData.newPassword)) {
                            this.errors.newPassword = this.$t('login.form.txtInput6Error2');
                            this.submitting = false;
                            return;
                        }

                        if (!this.formData.checkNewPassword) {
                            this.errors.checkNewPassword = "Please verify your new password.";
                            this.submitting = false;
                            return;
                        } else if (this.formData.newPassword !== this.formData.checkNewPassword) {
                            this.errors.checkNewPassword = "Passwords do not match.";
                            this.submitting = false;
                            return;
                        }

                        axios.post('updatePassword', {
                            oldPassword: this.oldPassword,
                            newPassword: this.formData.newPassword,
                            checkNewPassword: this.formData.checkNewPassword,
                        })
                            .then(response => {
                                if (response.data.success) {
                                    this.toast.success(this.$t('settings.password.successMsg'));
                                    this.originalFormData = { ...this.formData };
                                    this.errors.oldPassword = '';
                                    this.oldPassword = '';
                                    this.formData.newPassword = null;
                                    this.formData.checkNewPassword = null;
                                } else {
                                    if (response.data.errors && response.data.errors.oldPassword) {
                                        this.errors.oldPassword = response.data.errors.oldPassword;
                                    } else {
                                        this.toast.error(this.$t('settings.editProfile.errorMsg'));
                                    }
                                }
                                this.submitting = false;
                            })
                            .catch(error => {
                                if (error.response && error.response.status === 422 && error.response.data.errors) {
                                    const errorMessages = Object.values(error.response.data.errors).join(', ');
                                    this.toast.error(errorMessages);
                                } else {
                                    this.toast.error(this.$t('settings.editProfile.errorMsg'));
                                }
                                this.submitting = false;
                            });
                    } else {
                        this.errors.oldPassword = this.$t('settings.password.errorMdp');
                        this.toast.error(this.$t('settings.password.errorMdp'));
                        this.submitting = false;
                        this.oldPassword = '';
                        this.formData.newPassword = null;
                        this.formData.checkNewPassword = null;
                    }
                })
                .catch(error => {
                    this.toast.error(this.$t('settings.editProfile.errorMsg'));
                    this.submitting = false;
                });
        }
    },

};
</script>

<style scoped>

</style>
