<template>
    <v-container>
        <v-card class="mt-8 mx-auto" max-width="1100">
            <v-card-title class="text-h5 text-center my-5">{{ $t('settings.exportData.tittle') }}</v-card-title>
            <v-card-text>
                <v-form @submit.prevent="exportData">
                    <v-row align="center" justify="center" class="flex flex-col">
                        <v-col cols="12" sm="10">
                            <v-select
                                v-model="exportFormat"
                                :items="['CSV', 'JSON', 'PDF']"
                                :label="$t('settings.exportData.input')"
                                variant="outlined"
                                required
                            ></v-select>
                        </v-col>
                        <v-col cols="12" sm="6">
                            <v-btn
                                type="submit"
                                :loading="isLoading"
                                color="#149BFC"
                                dark
                                :disabled="!exportFormat"
                            >
                                <template v-if="isLoading">
                                    <v-icon left>mdi-loading</v-icon>
                                </template>
                                {{ $t('settings.exportData.tittle') }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-form>
            </v-card-text>
        </v-card>
    </v-container>
</template>

<script>
import { saveAs } from 'file-saver';
import jsPDF from 'jspdf';

export default {
    name: "ExportData",
    data() {
        return {
            isLoading: false,
            exportFormat: null
        };
    },
    props: {
        user: String,
        purchases: Array,
        agendas: Array,
        deletedAgendas: Array,
        messagesSent: Array,
        messagesReceived: Array,
        roles: Array,
        country: String,
    },
    methods: {
        exportData() {
            if (!this.exportFormat) return;

            this.isLoading = true;

            switch (this.exportFormat) {
                case 'CSV':
                    this.exportCSV();
                    break;
                case 'JSON':
                    this.exportJSON();
                    break;
                case 'PDF':
                    this.exportPDF();
                    break;
                default:
                    console.error('Format d\'exportation non pris en charge');
            }

            this.isLoading = false;
        },
        exportCSV() {
            let csvContent = '';

            // User Information
            csvContent += this.convertUserToCSV(this.user);

            // Purchases
            csvContent += this.convertPurchasesToCSV(this.purchases);

            // Agendas
            csvContent += this.convertAgendasToCSV(this.agendas);

            // Deleted Agendas
            csvContent += this.convertDeletedAgendasToCSV(this.deletedAgendas);

            // Messages Sent
            csvContent += this.convertMessagesSentToCSV(this.messagesSent);

            // Messages Received
            csvContent += this.convertMessagesReceivedToCSV(this.messagesReceived);

            // Role
            csvContent += this.convertRolesToCSV(this.roles);

            // Country
            csvContent += this.convertCountryToCSV(this.country);

            // Sauvegarde du fichier CSV
            saveAs(new Blob([csvContent], { type: 'text/csv;charset=utf-8' }), 'export.csv');
        },
        exportJSON() {
            const userData = JSON.parse(this.user);

            const jsonData = {
                userInformation: {},
                purchases: [],
                agendas: [],
                deletedAgendas: [],
                messagesSent: [],
                messagesReceived: [],
                role: this.roles[0],
                country: this.country
            };

            const allowedUserKeys = ['lastname', 'firstname', 'email', 'phone', 'country_id', 'terms', 'credits', 'created_at', 'updated_at', 'avatar'];
            allowedUserKeys.forEach((key) => {
                jsonData.userInformation[key] = userData[key];
            });

            this.purchases.forEach((purchase) => {
                const purchaseData = {};
                const allowedPurchaseKeys = ['amount', 'currency', 'credits_earned', 'created_at', 'updated_at'];
                allowedPurchaseKeys.forEach((key) => {
                    purchaseData[key] = purchase[key];
                });
                jsonData.purchases.push(purchaseData);
            });

            this.agendas.forEach((agenda) => {
                const agendaData = {};
                const allowedAgendaKeys = ['name', 'start_time', 'end_time'];
                allowedAgendaKeys.forEach((key) => {
                    agendaData[key] = agenda[key];
                });
                jsonData.agendas.push(agendaData);
            });

            this.deletedAgendas.forEach((agenda) => {
                const deletedAgendaData = {};
                const allowedDeletedAgendaKeys = ['name', 'start_time', 'end_time'];
                allowedDeletedAgendaKeys.forEach((key) => {
                    deletedAgendaData[key] = agenda[key];
                });
                jsonData.deletedAgendas.push(deletedAgendaData);
            });

            this.messagesSent.forEach((msg) => {
                const sentMsgData = {};
                const allowedSentMsgKeys = ['body', 'attachment', 'created_at'];
                allowedSentMsgKeys.forEach((key) => {
                    sentMsgData[key] = msg[key];
                });
                jsonData.messagesSent.push(sentMsgData);
            });

            this.messagesReceived.forEach((msg) => {
                const receivedMsgData = {};
                const allowedReceivedMsgKeys = ['body', 'attachment', 'created_at'];
                allowedReceivedMsgKeys.forEach((key) => {
                    receivedMsgData[key] = msg[key];
                });
                jsonData.messagesReceived.push(receivedMsgData);
            });

            const jsonString = JSON.stringify(jsonData, null, 2);

            saveAs(new Blob([jsonString], { type: 'application/json;charset=utf-8' }), 'export.json');
        },
        exportPDF() {
        const doc = new jsPDF();

        const pageHeight = doc.internal.pageSize.height;
        const bottomMargin = 20;

        // Police settings
        doc.setFont("Helvetica", "bold");
        doc.setFontSize(16);
        let y = 20;
        doc.text(this.$t('settings.pdfExportData.tittle'), doc.internal.pageSize.width / 2, y, { align: 'center' });
        function checkMargin(y) {
          const maxPosition = pageHeight - bottomMargin;
            if (y > maxPosition) {
               doc.addPage();
               y = 20;
            }
          return y;
        }
        y += 15;

        // User Information
        y = checkMargin(y);
        doc.setFont("Helvetica", "bold");
        doc.setFontSize(14);
        doc.text(20, y, this.$t('settings.pdfExportData.infoUserTittle'));
        y += 15;

        doc.setFontSize(12);
        doc.setFont("Helvetica", "normal");

        const userData = JSON.parse(this.user);

        const allowedKeys = ['lastname', 'firstname', 'email', 'phone', 'country_id', 'terms', 'credits', 'created_at', 'updated_at', 'avatar'];

        allowedKeys.forEach((key) => {
          if (userData[key]) {
            if (y > 280) {
              doc.addPage();
              y = 20;
            }
            y = checkMargin(y);
            doc.text(20, y, `${key}: ${userData[key]}`);
            y += 10;
          }
        });

        // Purchases
        y = checkMargin(y);
        doc.setFont("Helvetica", "bold");
        doc.setFontSize(14);
        y += 20;

        y = checkMargin(y);
        doc.text(20, y, this.$t('settings.pdfExportData.purchasesTittle'));
        y += 15;

        doc.setFont("Helvetica", "normal");

        this.purchases.forEach((purchase, index) => {
          if (y > 280) {
            doc.addPage();
            y = 20;
          }
          doc.setFont("Helvetica", "bold");
          doc.setFontSize(12);
          y = checkMargin(y);
          doc.text(20, y, this.$t('settings.pdfExportData.purchasesSubTittle') + `${index + 1} :`);
          y += 10;

          doc.setFont("Helvetica", "normal");

          const allowedPurchaseKeys = ['amount', 'currency', 'credits_earned', 'created_at', 'updated_at'];

          allowedPurchaseKeys.forEach((key) => {
            if (y > 280) {
              doc.addPage();
              y = 20;
            }
            doc.text(20, y, `${key}: ${purchase[key]}`);
            y += 10;
          });
          y += 10;
        });
        y += 10;

        // Agendas
        y = checkMargin(y);
        doc.setFont("Helvetica", "bold");
        doc.setFontSize(14);
        doc.text(20, y, 'Agendas :');
        y += 15;

        doc.setFont("Helvetica", "normal");

        this.agendas.forEach((agenda, index) => {
          if (y > 280) {
            doc.addPage();
            y = 20;
          }
          doc.setFont("Helvetica", "bold");
          doc.setFontSize(12);
          y = checkMargin(y);
          doc.text(20, y, this.$t('settings.pdfExportData.appointmentSubTittle') + `${index + 1} :`);
          y += 10;
          doc.setFont("Helvetica", "normal");

          const allowedAgendaKeys = ['name', 'start_time', 'end_time'];

          allowedAgendaKeys.forEach((key) => {
            y = checkMargin(y);
            doc.text(20, y, `${key}: ${agenda[key]}`);
            y += 10;
          });
          y += 10;
        });
        y += 10;

        // Deleted Agendas
        y = checkMargin(y);
        doc.setFont("Helvetica", "bold");
        doc.setFontSize(14);
        y = checkMargin(y);
        doc.text(20, y, this.$t('settings.pdfExportData.deletedAgendasTittle'));
        y += 15;

        doc.setFont("Helvetica", "normal");
        this.deletedAgendas.forEach((agenda, index) => {
          if (y > 280) {
            doc.addPage();
            y = 20;
          }
          doc.setFontSize(12);
          y = checkMargin(y);
          doc.setFont("Helvetica", "bold");
          doc.text(20, y, this.$t('settings.pdfExportData.appointmentCanceledSubTittle') + `${index + 1} :`);
          y += 10;

          doc.setFont("Helvetica", "normal");
          const allowedDeletedAgendaKeys = ['name', 'start_time', 'end_time'];

          allowedDeletedAgendaKeys.forEach((key) => {
            y = checkMargin(y);
            doc.text(20, y, `${key}: ${agenda[key]}`);
            y += 10;
          });
          y += 10;
        });
        y += 10;

        // Messages Sent
        y = checkMargin(y);
        doc.setFont("Helvetica", "bold");
        doc.setFontSize(14);
        y = checkMargin(y);
        doc.text(20, y, this.$t('settings.pdfExportData.messageSentTittle'));
        y += 15;
        const maxWidth = doc.internal.pageSize.width - 40;

        doc.setFont("Helvetica", "normal");
        this.messagesSent.forEach((msg, index) => {
          if (y > 280) {
            doc.addPage();
            y = 20;
          }
          doc.setFontSize(12);
          y = checkMargin(y);
          doc.setFont("Helvetica", "bold");
          doc.text(20, y, this.$t('settings.pdfExportData.messageSentSubTittle') + `${index + 1}:`, { maxWidth: maxWidth });
          y += 10;

          doc.setFont("Helvetica", "normal");
          const allowedSentMsgKeys = ['body', 'attachment', 'created_at'];

          allowedSentMsgKeys.forEach((key) => {
            y = checkMargin(y);
            const text = `${key}: ${msg[key]}`;
            doc.text(20, y, text, { maxWidth: maxWidth });
            y += 10;
          });
          y += 10;
        });
        y += 10;

        // Messages Received
        y = checkMargin(y);
        doc.setFont("Helvetica", "bold");
        doc.setFontSize(14);
        y = checkMargin(y);
        doc.text(20, y, this.$t('settings.pdfExportData.messageReceivedTittle'));
        y += 15;

        doc.setFont("Helvetica", "normal");
        this.messagesReceived.forEach((msg, index) => {
          if (y > 280) {
            doc.addPage();
            y = 20;
          }
          doc.setFontSize(12);
          y = checkMargin(y);
          doc.setFont("Helvetica", "bold");
          doc.text(20, y, this.$t('settings.pdfExportData.messageReceivedSubTittle') + `${index + 1}:`, { maxWidth: maxWidth });
          y += 10;

          doc.setFont("Helvetica", "normal");
          const allowedReceivedMsgKeys = ['body', 'attachment', 'created_at'];

          allowedReceivedMsgKeys.forEach((key) => {
              y = checkMargin(y);
              const text = `${key}: ${msg[key]}`;
              doc.text(20, y, text, { maxWidth: maxWidth });
            y += 10;
          });
          y += 10;
        });
        y += 10;

        // Role
        y = checkMargin(y);
        doc.setFont("Helvetica", "bold");
        doc.setFontSize(14);
        doc.text(20, y, this.$t('settings.pdfExportData.roleTittle'));
        doc.setFontSize(12);
        doc.setFont("Helvetica", "normal");
        y = checkMargin(y);
        doc.text(20, y + 10, `role_name: ${this.roles[0]}`);
        y += 40;

        // Country
        y = checkMargin(y);
        doc.setFont("Helvetica", "bold");
        doc.setFontSize(14);
        doc.text(20, y, this.$t('settings.pdfExportData.countryTittle'));
        doc.setFontSize(12);
        doc.setFont("Helvetica", "normal");
        y = checkMargin(y);
        doc.text(20, y + 10, `country_name: ${this.country}`);

        // Save PDF
        doc.save('user_export.pdf');
      },


        convertUserToCSV(user) {
            const obj = JSON.parse(user);
            let csv = 'lastname,firstname,email,phone,country_id,terms,created_at,updated_at,avatar\r\n';
            csv += `"${obj.lastname}","${obj.firstname}","${obj.email}","${obj.phone}",${obj.country_id},${obj.terms},"${obj.created_at}","${obj.updated_at}","${obj.avatar}"\r\n\r\n`;
            return csv;
        },

        convertPurchasesToCSV(purchases) {
            let csv = this.$t('settings.pdfExportData.purchasesSubTittle') + ',amount,currency,credits_earned,created_at,updated_at\r\n';
            purchases.forEach((purchase, index) => {
                csv += `${index + 1},"${purchase.amount}","${purchase.currency}",${purchase.credits_earned},"${purchase.created_at}","${purchase.updated_at}"\r\n\r\n`;
            });
            return csv;
        },

        convertAgendasToCSV(agendas) {
            let csv = this.$t('settings.pdfExportData.appointmentSubTittle') + ',name,start_time,end_time\r\n';
            agendas.forEach((agenda, index) => {
                csv += `${index + 1},"${agenda.name}","${agenda.start_time}","${agenda.end_time}"\r\n\r\n`;
            });
            return csv;
        },

        convertDeletedAgendasToCSV(deletedAgendas) {
            let csv = this.$t('settings.pdfExportData.appointmentCanceledSubTittle') + ',name,start_time,end_time\r\n';
            deletedAgendas.forEach((agenda, index) => {
                csv += `${index + 1},"${agenda.name}","${agenda.start_time}","${agenda.end_time}"\r\n\r\n`;
            });
            return csv;
        },

        convertMessagesSentToCSV(messages) {
            let csv = this.$t('settings.pdfExportData.messageSentSubTittle') + ',body,attachment,created_at\r\n';
            messages.forEach((msg, index) => {
                csv += `${index + 1},"${msg.body}","${msg.attachment}","${msg.created_at}"\r\n\r\n`;
            });
            return csv;
        },

        convertMessagesReceivedToCSV(messages) {
            let csv = this.$t('settings.pdfExportData.messageReceivedSubTittle') + ',body,attachment,created_at\r\n';
            messages.forEach((msg, index) => {
                csv += `${index + 1},"${msg.body}","${msg.attachment}","${msg.created_at}"\r\n\r\n`;
            });
            return csv;
        },

        convertRolesToCSV(roles) {
            let csv = 'role_name\r\n';
            roles.forEach((role) => {
                csv += `"${role}"\r\n\r\n`;
            });
            return csv;
        },

        convertCountryToCSV(country) {
            let csv = 'country_name\r\n';
            csv += `"${country}"\r\n\r\n`;
            return csv;
        },
    }
};
</script>

