<template>
    <section class="w-full">
        <div class="flex">
            <h2 class="text-2xl md:text-4xl mt-10 ms-4 md:ms-10 font-bold">Notification</h2>


        </div>

    </section>
</template>

<script>
export default {
    name: "NotificationSetting"
}
</script>

<style scoped>

</style>
