<template>
    <div class="overflow-auto w-full pt-10">
        <!-- Onglets -->
        <div class="tab ms-10 space-x-3">
            <button
                v-for="(tab, index) in tabs"
                :key="index"
                @click="activeTab = index"
                :class="{ active: activeTab === index }"
            >
                {{ tab }}
            </button>
        </div>
        <div v-for="(content, index) in tabContents" :key="index" v-show="activeTab === index">

            <!-- Tab 1 -->
            <div v-if="index === 0" class="md:mx-5">
                <div class="mt-5 md:ms-20 px-5 pt-4 md:pt-0 md:py-8 mb-28 md:mb-0 mx-5 relative border rounded-xl shadow-xl">
                    <h2 class="text-xl font-bold pb-2">Calendar</h2>
                    <vue-cal class="vuecal--blue-theme"
                             :hideWeekends="isMobile"
                             active-view="week"
                             :time-cell-height=60
                             :disable-views="['years', 'year']"
                             :events="events"
                             today-button
                             style="height: 600px"
                             @event-click="onEventClick"
                             :dblclickToNavigate="false"
                             @cell-dblclick="onCellDoubleClick"
                             :editable-events="{ title: false, drag: true, resize: false, delete: false, create: false }"
                             :snap-to-time="60"
                             @event-change="onEventDrag">
                    </vue-cal>

                    <!-- Modal user Info -->
                    <v-dialog v-model="isModalOpen" max-width="400">
                        <v-card>
                            <div class="ms-auto pt-2">
                                <v-icon @click="isModalOpen = false" class="ms-auto p-5 hover:text-red-500">mdi-close</v-icon>
                            </div>
                            <v-card-text v-if="hoveredEvent" class="my-5 py-5">
                                <div class="flex gap-x-3 align-center mb-3">
                                    <v-icon size="20">mdi-account</v-icon>
                                    <p class="font-bold text-xl">{{ hoveredEvent.title }}</p>
                                </div>
                                <div class="flex gap-x-3 align-center">
                                    <v-icon size="20">mdi-clock-outline</v-icon>
                                    <p>{{ formatDateModal(hoveredEvent.start) }} • {{ formatTimeModal(hoveredEvent.start) }} - {{ formatTimeModal(hoveredEvent.end) }}</p>
                                </div>
                            </v-card-text>
                            <v-card-actions class="mx-auto gap-x-6">
                                <v-btn color="blue darken-1" @click="isModalOpen = false">Cancel</v-btn>
                                <v-btn color="red darken-1" @click="deleteTimeFromSchedule(hoveredEvent)" :loading="loading">
                                    Delete this appointment
                                    <v-icon class="ms-2">mdi-delete</v-icon>
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading }" color="red darken-1">mdi-loading</v-icon>
                                    </template>
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <!-- Modal Add Appointment -->
                    <v-dialog v-model="isEventModalOpen" max-width="400">
                        <v-card>
                            <div class="ms-auto pt-2">
                                <v-icon @click="isEventModalOpen = false" class="ms-auto p-5 hover:text-red-500">mdi-close</v-icon>
                            </div>
                            <v-card-text class="py-5">
                                <div class="flex gap-x-3 align-center" v-if="eventStartTime">
                                    <v-icon size="20">mdi-clock-outline</v-icon>
                                    <p>{{ formatDateModal(eventStartTime) }} • {{ formatTimeModal(eventStartTime) }} - {{ formatTimeModal(new Date(eventStartTime.getTime() + 50 * 60 * 1000)) }}</p>
                                </div>
                                <div class="flex gap-x-3 mt-8 align-center">
                                    <v-combobox filterKeys="userConcat"
                                                v-model="selectedUser"
                                                :items="filteredUsers"
                                                :item-title="userConcat"
                                                label="Select an user"
                                                @keydown="$event.target.blur()"
                                                @keyup="$event.target.blur()">
                                    </v-combobox>
                                </div>
                            </v-card-text>
                            <v-card-actions class="mx-auto gap-x-6">
                                <v-btn color="blue darken-1" @click="isEventModalOpen = false">Cancel</v-btn>
                                <v-btn color="green darken-1" @click="addTimeToSchedule(hoveredEvent)" :loading="loading">
                                    Add the appointment
                                    <v-icon class="ms-2">mdi-plus-circle</v-icon>
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading }" color="green darken-1">mdi-loading</v-icon>
                                    </template>
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>

                    <!-- Modal drag update date -->
                    <v-dialog v-model="confirmUpdateModal" max-width="500">
                        <v-card>
                            <v-card-title class="headline">Confirmation</v-card-title>
                            <v-card-text>
                                Are you sure you want to update this event?
                            </v-card-text>
                            <v-card-actions>
                                <v-btn color="blue darken-1" @click="cancelEventDrag">Cancel</v-btn>
                                <v-btn color="green darken-1" @click="updateEvent" :loading="loading">
                                    Confirm
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading }" color="green darken-1">mdi-loading</v-icon>
                                    </template>
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </div>
            </div>

            <!-- Tab 2 -->
            <div v-else-if="index === 1" class="md:mx-5">
                <div class="mt-10 mb-28 md:mb-5 border p-5 rounded-xl shadow-xl mx-5 bg-white md:flex justify-between">
                    <!-- Calendar -->
                    <div class="mb-5 md:mb-0">
                        <v-date-picker
                            v-model="meetingDate"
                            :allowed-dates="allowedDates"
                            class="border"
                            title=""
                        >
                        </v-date-picker>
                    </div>

                    <!-- date & time picker + times' list -->
                    <div class="md:w-[60%]">
                        <div class="border p-5 rounded shadow-sm">
                            <p class="text-xl mb-10">You can add a date and time to your calendar here</p>
                            <v-form class="space-y-4 flex flex-col">
                                <div class="md:flex align-center md:space-x-5">
                                    <div class="mb-5 md:w-52">
                                        <VueDatePicker
                                            v-model="newDate"
                                            :disabledDates="isTodayOver"
                                            :enable-time-picker="false"
                                            auto-apply
                                            placeholder="Select Date"
                                        />
                                    </div>

                                    <!-- combobox picker times -->
                                    <v-combobox
                                        multiple
                                        v-model="selectedTime"
                                        :items="allowedTimes"
                                        label="Choose times"
                                        dense
                                        variant="outlined"
                                        clearable
                                        background-color="#F2F2F2"
                                        :rules="[v => !!v || 'The time is required']"
                                        class="text-sm"
                                    ></v-combobox>
                                </div>
                                <div class="flex items-center space-x-4">
                                    <button @click.prevent="addNewDate" class="bg-blue-500 text-white px-4 py-2 rounded-lg cursor-pointer hover:bg-blue-600">Add</button>
                                </div>

                            </v-form>
                        </div>
                        <div v-if="meetingDate && scheduleTimes" class="border px-5 pb-5 mt-5 rounded shadow-sm">
                            <p class="ms-2 my-5">Available time for this date : </p>
                            <v-table>
                                <thead>
                                <tr>
                                    <th>
                                        Time
                                    </th>
                                    <th>
                                        Reserved
                                    </th>
                                    <th>
                                        Delete time
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr
                                    v-for="(isReserved, time) in scheduleTimes"
                                    :key="time"
                                >
                                    <td>{{ time }}</td>
                                    <td>
                                        <v-icon color="green" v-if="isReserved">mdi-checkbox-marked-circle</v-icon>
                                        <v-icon v-else color="red">mdi-checkbox-blank-circle-outline</v-icon>
                                    </td>
                                    <td>
                                        <v-icon color="red" class="cursor-pointer" @click="deleteScheduledTime(time)">mdi-delete</v-icon>
                                    </td>
                                </tr>
                                </tbody>
                            </v-table>
                            <div class="w-full flex justify-center">
                                <v-btn class="mt-5" :size="isMobile ? 'small' : 'default'" color="red" prepend-icon="mdi-delete" @click="confirmDeleteScheduledDate">Delete this date of the schedule</v-btn>
                            </div>

                            <!-- Modal deleting reserved time -->
                            <v-dialog v-model="dialogDeleteTime" max-width="500">
                                <v-card>
                                    <v-card-title class="headline">Confirm deletion</v-card-title>
                                    <v-card-text>
                                        <p>Are you sure you want to delete this scheduled time slot?</p>
                                        <p>The student will be notified and refunded 1 credit</p>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" @click="dialogDeleteTime = false">Cancel</v-btn>
                                        <v-btn color="red darken-1" @click="deleteScheduledTimeConfirmed">Delete</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>

                            <!-- Modal deleting reserved date -->
                            <v-dialog v-model="dialogDelete" max-width="500">
                                <v-card>
                                    <v-card-title class="headline">Confirm deletion</v-card-title>
                                    <v-card-text>
                                        <p>Are you sure you want to delete this date?</p>
                                        <p>Each scheduled student will be notified and refunded 1 credit</p>
                                    </v-card-text>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" @click="dialogDelete = false">Cancel</v-btn>
                                        <v-btn color="red darken-1" @click="deleteScheduledDateConfirmed">Delete</v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
import VueCal from 'vue-cal'
import 'vue-cal/dist/vuecal.css'
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'

import {useToast} from "vue-toastification";
import UsersList from "./UsersList.vue";

export default {
    name: "CalendarPartial",
    props: {
        users: Array,
    },
    components: {
        UsersList,
        VueCal,
        VueDatePicker,
    },
    setup() {
        const isTodayOver = (date) => {
            return date < new Date();
        };

        return {
            isTodayOver,
        }
    },
    data() {
        return {
            loading: false,
            confirmUpdateModal: false,
            isEventModalOpen: false,
            eventStartTime: null,
            isModalOpen: false,
            hoveredEvent: null,
            allowedDates: [],
            toast: useToast(),
            appointmentName: '',
            meetingDate: null,
            selectedTime: null,
            allowedTimes: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
            scheduleTimes: [],
            newDate: null,
            events: [],
            activeTab: 0,
            tabs: ['Calendar', 'Schedule'],
            tabContents: ['Content 1', 'Content 2'],
            originalEvent: null,
            dialogDeleteTime: false,
            dialogDelete: false,
            selectedUser: null,
            eventDataToUpdate: null,
            draggedEvent: null,
        };
    },
    created() {
        this.getAllowedDates();
        this.getAllowedTimes();
        this.getEvents();
    },
    watch: {
        meetingDate(newValue) {
            this.onDateChange();
        }
    },
    computed: {
        isMobile() {
            return window.innerWidth <= 640;
        },
        userConcat() {
            return (user) => `${user.firstname} ${user.lastname} - ${user.credits} credits left`;
        },
        filteredUsers() {
            return this.users.filter(user => user.credits > 0);
        }
    },
    methods: {
        // GETTER
        async getEvents() {
            try {
                const response = await axios.get('get-all-events');
                this.events = response.data;
            } catch (error) {
                console.error('Error fetching events:', error);
            }
        },
        async getAllowedDates() {
            try {
                const response = await axios.get('get-allowed-dates-teacher');
                this.allowedDates = response.data.allowedDates;
            } catch (error) {
                console.error('Error fetching allowed dates:', error);
            }
        },
        async getAllowedTimes() {
            if (!this.meetingDate) {
                return;
            }
            try {
                const response = await axios.get('get-allowed-times-teacher');
                this.scheduleTimes = response.data.scheduleTimes.flatMap(times => JSON.parse(times));
            } catch (error) {
                console.error('Error fetching allowed times:', error);
            }
        },

        async addNewDate() {
            const areAllTimesAllowed = this.selectedTime.every(time => this.allowedTimes.includes(time));
            if (!areAllTimesAllowed) {
                this.toast.error(this.$t('calendar.toastError'));
                return;
            }
            function formatDateISO(date) {
                const year = date.getFullYear();
                let month = date.getMonth() + 1;
                let day = date.getDate();

                if (month < 10) {
                    month = '0' + month;
                }
                if (day < 10) {
                    day = '0' + day;
                }

                return `${year}-${month}-${day}`;
            }
            if (this.newDate && this.selectedTime.length > 0) {
                try {
                    const formattedDate = formatDateISO(new Date(this.newDate));
                    const response = await axios.post('add-date', {
                        newDate: formattedDate,
                        times: this.selectedTime
                    });
                    console.log(response.data);
                    this.allowedDates.push(new Date(this.newDate));
                    await this.getAllowedDates();
                    this.newDate = null;
                    this.selectedTime = null
                    this.toast.success('New date added successfully!');

                    await this.onDateChange();
                } catch (error) {
                    console.error('Error adding new date:', error);
                    this.toast.error('Failed to add new date. Please try again later.');
                }
            } else {
                this.toast.error('Please select at least one date and time.');
            }
        },
        async onDateChange() {
            if (!this.meetingDate) {
                this.scheduleTimes = [];
                return;
            }
            const formattedDate = this.formatDate(this.meetingDate);

            try {
                const response = await axios.get('get-allowed-times-teacher', {
                    params: {
                        date: formattedDate
                    }
                });
                this.scheduleTimes = response.data.allowedTimes;
            } catch (error) {
                console.error('Error fetching allowed times:', error);
            }
        },

        // While dragging
        async onEventDrag(event) {
            this.originalEvent = event.originalEvent;

            this.eventDataToUpdate = {
                event: event.event,
                original: event.originalEvent,
            };

            this.confirmUpdateModal = true;

            this.draggedEvent = event;
        },
        async updateEvent() {
            this.loading = true;
            try {
                const response = await axios.post('/event-update', this.eventDataToUpdate);
                this.loading = false;
                this.getEvents();
            } catch (error) {
                this.toast.error('Error updating event');
                this.loading = false;
            } finally {
                this.confirmUpdateModal = false;
                this.loading = false;
            }
        },
        cancelEventDrag() {
            if (this.originalEvent) {
                this.events = this.events.map(e => {
                    if (e._eid === this.originalEvent._eid) {
                        return this.originalEvent;
                    }
                    return e;
                });
            }
            this.originalEvent = null;
            this.confirmUpdateModal = false;
        },

        // Double clic on a cell
        onCellDoubleClick(cellInfo) {
            if (cellInfo instanceof Date) {
                this.openEventModal(cellInfo);
            } else {
                this.toast.error('Invalid cellInfo format.');
            }
        },
        openEventModal(startTime) {
            const newStartTime = new Date(startTime);
            newStartTime.setMinutes(0);
            this.isEventModalOpen = true;
            this.eventStartTime = newStartTime;
        },
        addTimeToSchedule() {
            if (!this.selectedUser || !this.eventStartTime) {
                console.error("No user or start time selected.");
                return;
            }
            this.loading = true;
            this.eventStartTime.setMinutes(0);
            const eventName = `${this.selectedUser.firstname} ${this.selectedUser.lastname}`;
            const userID = this.selectedUser.id;

            const newEvent = {
                user_id: userID,
                name: eventName,
                meeting_date: this.eventStartTime.toISOString().slice(0, 10),
                meeting_time: this.eventStartTime.toISOString().slice(11, 16),
            };
            axios.post('add-date-from-calendar-teacher', newEvent)
                .then(response => {
                    this.events.push(response.data);
                    this.isEventModalOpen = false;
                    this.eventStartTime = null;
                    this.loading = false;
                    const updatedUser = this.users.find(user => user.id === this.selectedUser.id);
                    if (updatedUser) {
                        updatedUser.credits--;
                        this.$emit('user-credits-updated', updatedUser);
                    }
                })
                .catch(error => {
                    if (error.response && error.response.data && error.response.data.error === "Another event already exists at this time") {
                        this.toast.error('Another event already exists at this time');
                        this.loading = false;
                    } else {
                        this.toast.error('An error occurred while adding the event. Please try again.');
                        this.loading = false;
                    }
                });
        },

        // Clic on a event
        onEventClick(event) {
            this.hoveredEvent = event;
            this.isModalOpen = true;
        },

        // DELETE TIME
        deleteScheduledTime(time) {
            this.timeToDelete = time;
            const isReserved = this.scheduleTimes[time];
            if (isReserved) {
                this.dialogDeleteTime = true;
            } else {
                this.deleteScheduledTimeConfirmed();
            }
        },
        deleteScheduledTimeConfirmed() {
            this.dialogDeleteTime = false;

            const time = this.timeToDelete;
            delete this.scheduleTimes[time];

            const formattedDate = this.formatDateISO(this.meetingDate);
            axios.delete(`delete-scheduled-time/${formattedDate}/${time}`)
                .then(response => {
                    if (Object.keys(this.scheduleTimes).length === 0) {
                        const formattedMeetingDate = this.formatDate(this.meetingDate);
                        const index = this.allowedDates.findIndex(date => date === formattedMeetingDate);
                        if (index !== -1) {
                            this.allowedDates.splice(index, 1);
                            this.allowedDates = [...this.allowedDates];
                        }
                        this.scheduleTimes = null;
                    }
                })
                .catch(error => {
                    console.error('Error deleting scheduled time:', error);
                });
        },

        // DELETE DATE
        deleteScheduledDate() {
            const dateToDelete = this.formatDateISO(this.meetingDate);

            if (dateToDelete) {
                axios.delete(`delete-scheduled-date/${dateToDelete}`)
                    .then(response => {
                        console.log(response.data);
                        this.toast.success('Scheduled date deleted successfully');
                    })
                    .catch(error => {
                        console.error('Error deleting scheduled date:', error);
                        this.toast.error('Failed to delete scheduled date. Please try again later.');
                    });
            } else {
                this.toast.error('No date selected to delete.');
            }
        },
        // modal confirmation delete date if reserved
        confirmDeleteScheduledDate() {
            const reserved = Object.values(this.scheduleTimes).some(isReserved => isReserved);
            if (reserved) {
                this.dialogDelete = true;
            } else {
                this.deleteScheduledDateConfirmed();
            }
        },
        deleteScheduledDateConfirmed() {
            this.dialogDelete = false;

            const formattedMeetingDate = this.formatDate(this.meetingDate);

            const index = this.allowedDates.findIndex(date => date === formattedMeetingDate);
            if (index!== -1) {
                this.allowedDates.splice(index, 1);

                this.allowedDates = [...this.allowedDates];
                this.scheduleTimes = null

                this.deleteScheduledDate();
            } else {
                console.error('Meeting date not found in allowedDates');
                this.toast.error('The selected date is not found in the allowed dates.');
            }
        },

        // DELETE TIME FROM THE CALENDAR
        deleteTimeFromSchedule(event) {
            this.loading = true;
            if (!event) {
                console.error("No event provided for deletion.");
                this.loading = false;
                return;
            }

            const formattedDate = this.formatDateISO(event.start);
            const formattedTime = this.formatTimeModal(event.start);

            axios.delete(`delete-scheduled-time/${formattedDate}/${formattedTime}`)
                .then(response => {

                    // close the modal
                    this.isModalOpen = false;
                    this.loading = false;

                    const eventUser = this.users.find(user => user.firstname === event.title.split(' ')[0] && user.lastname === event.title.split(' ')[1]);

                    if (eventUser) {
                        eventUser.credits++; // Incrémenter les crédits de l'utilisateur
                        this.$emit('user-credits-updated', eventUser); // Émettre l'événement pour mettre à jour le combobox
                    }

                    const index = this.events.findIndex((e) => {
                        const eventDate = this.formatDateISO(new Date(e.start));
                        const eventTime = this.formatTimeModal(new Date(e.start));

                        return formattedDate === eventDate && formattedTime === eventTime;
                    });

                    if (index !== -1) {
                        this.events.splice(index, 1);
                        // console.log("Event successfully deleted.");
                        this.loading = false;
                    } else {
                        console.log("Event not found.");
                        this.loading = false;
                    }

                    this.$forceUpdate();
                })
                .catch(error => {
                    console.error("Error deleting event:", error);
                    this.loading = false;
                });
        },

        // FORMATTING DATE
        formatDate(date) {
            const year = date.getFullYear();
            let month = date.getMonth() + 1;
            let day = date.getDate();

            if (month < 10) {
                month = '0' + month;
            }
            if (day < 10) {
                day = '0' + day;
            }

            return year + '-' + month + '-' + day;
        },
        formatDateISO(date) {
            const year = date.getFullYear();
            let month = date.getMonth() + 1;
            let day = date.getDate();

            if (month < 10) {
                month = '0' + month;
            }
            if (day < 10) {
                day = '0' + day;
            }

            return `${year}-${month}-${day}`;
        },

        formatDateModal(date) {
            const options = { weekday: 'long', month: 'long', day: 'numeric' };
            const formattedDate = new Intl.DateTimeFormat('en-US', options).format(date);
            return formattedDate;
        },

        formatTimeModal(date) {
            let hours = date.getHours();
            let minutes = date.getMinutes();

            if (hours < 10) {
                hours = '0' + hours;
            }
            if (minutes < 10) {
                minutes = '0' + minutes;
            }

            return `${hours}:${minutes}`;
        }

    }
}
</script>

<style scoped>
/* Spinner loading */
.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.tab {
    display: flex;
}

.tab button {
    padding: 10px 20px;
    border: 1px solid #64b6ff33;
    background-color: #f2f2f2;
    cursor: pointer;
}

.tab button.active {
    background-color: #ccc;
}

:deep(.vuecal__flex.vuecal__menu) {
    background-color: #149BFC;
}

:deep(.vuecal__title-bar) {
    background-color: #64b6ff33;
}

:deep(.vuecal__event) {
    background-color: #64b6ff33;
}

:deep(.vuecal__event) > div:first-child{
    margin-top: 5px;
    font-size: 0.8rem;
}
</style>
