<template>
    <div class="h-screen overflow-y-auto px-5 md:px-15 py-10 w-screen text-nowrap">
        <h2 class="text-3xl font-bold">Dashboard</h2>

        <div class="md:flex w-full justify-center">
            <div class="mt-5">
                <div class="md:flex gap-8">

                    <div class="flex bg-white rounded-lg shadow-xl w-auto mb-5 md:mb-0">
                        <div>
                            <p class="p-5 md:p-10 md:me-5 text-xl">Total users</p>
                            <p class="p-5 md:p-10 md:me-5 0 text-3xl text-no-wrap">{{users.length}}</p>
                        </div>
                        <div class="relative ps-24 md:ps-0 top-2 md:top-0">
                            <img src="../../../../img/personne-icon.png" alt="icon d'une personne" class="w-32 h-32 p-5">
                        </div>
                    </div>

                    <div class="flex bg-white rounded-lg shadow-xl w-auto mb-5 md:mb-0">
                        <div>
                            <p class="p-5 md:p-10 md:me-5 text-xl">Total sales</p>
                            <p class="p-5 md:p-10 md:me-5 text-3xl text-no-wrap">{{ totalSales.toFixed(0) }} €</p>
                        </div>
                        <div class="relative ps-24 md:ps-0 top-2 md:top-0">
                            <img src="../../../../img/money-icon.png" alt="icon d'un billet" class="w-32 h-32 p-5">
                        </div>
                    </div>

                    <div class="flex bg-white rounded-lg shadow-xl w-auto mb-5 md:mb-0">
                        <div>
                            <p class="p-10 text-xl">Next meeting</p>
                            <p class="ps-10 py-10 text-xl text-no-wrap" v-html="nextMeeting"></p>
                        </div>
                        <img src="../../../../img/calendar-icon.png" alt="icon d'une personne" class="w-32 h-32 p-5">
                    </div>

                </div>

            </div>
        </div>

        <div class="md:flex gap-10 mt-10 pb-20 md:pb-0">
            <div class="md:bg-white rounded-lg shadow-xl md:w-[50%] pb-6">
                <p class="text-center text-xl py-5">Users by countries</p>
                <VueApexCharts type="pie" :options="DoughnutChartOptions" :series="DoughnutSeries"></VueApexCharts>
            </div>
            <div class="md:bg-white rounded-lg shadow-xl md:w-[80%]">
                <p class="text-center text-xl pt-5">Money earned in euro (€)</p>
                <VueApexCharts type="bar"
                               :options="chartOptions"
                               :series="series">
                </VueApexCharts>
            </div>
        </div>

    </div>
</template>

<script>
import VueApexCharts from "vue3-apexcharts";
import countries from "../../../../other/countries.json";
export default {
    name: "DashboardPartial",
    components: {
        VueApexCharts
    },
    props: {
        users: Array,
        purchases: Array,
        agendas: Array,
    },
    data() {
        return {
            exchangeRateAPI: import.meta.env.VITE_EXCHANGE_RATE_API_KEY,
            totalSales: 0,
            nextMeeting: '',
            countriesData: {},
            exchangeRates: {},
            chartOptions: {
                chart: {
                    id: "vuechart-example",
                },
                xaxis: {
                    categories: ['January', 'February', 'March', 'April',  'May',  'June', 'July', 'August', 'September', 'October', 'November',  'December'],
                },
            },
            series: [
                {
                    name: "Earnings",
                    data: [],
                },
            ],
            DoughnutSeries: [],
            DoughnutChartOptions: {
                labels: [],
                legend: {
                    position: 'bottom'
                },
            },
        };
    },
    created() {
        this.fetchExchangeRates()
            .then(() => {
                this.calculateTotalSales();
                this.calculateBarData();
            });
        this.calculateDoughnutData();
        this.calculateNextMeeting();
    },
    methods: {
        async fetchExchangeRates() {
            try {
                const response = await axios.get(`https://v6.exchangerate-api.com/v6/${this.exchangeRateAPI}/latest/USD`);
                this.exchangeRates = response.data.conversion_rates;
            } catch (error) {
                console.error("Failed to fetch exchange rates", error);
            }
        },
        convertToEuro(amount, currency) {
            const upperCaseCurrency = currency.toUpperCase();
            const rate = this.exchangeRates[upperCaseCurrency];
            if (rate) {
                return amount / rate;
            } else {
                return null;
            }
        },
        calculateTotalSales() {
            let totalSales = 0;
            this.purchases.forEach(purchase => {
                const amountInEuro = this.convertToEuro(Number(purchase.amount), purchase.currency);
                totalSales += amountInEuro;
            });
            this.totalSales = totalSales;
        },
        calculateDoughnutData() {
            const countryCounts = {};
            this.users.forEach(user => {
                const countryName = this.getCountryName(user.country_id);
                if (countryCounts[countryName]) {
                    countryCounts[countryName]++;
                } else {
                    countryCounts[countryName] = 1;
                }
            });
            this.DoughnutChartOptions.labels = Object.keys(countryCounts);
            this.DoughnutSeries = Object.values(countryCounts);
        },
        getCountryName(countryId) {
            countryId = String(countryId);
            const country = countries.find(country => country.country_id === countryId);
            return country ? country.country_name : 'Unknown';
        },
        calculateBarData() {
            const monthlyEarnings = {};

            this.purchases.forEach(purchase => {
                const date = new Date(purchase.created_at);
                const monthYear = `${date.getFullYear()}-${date.getMonth() + 1}`;

                if (!monthlyEarnings[monthYear]) {
                    monthlyEarnings[monthYear] = 0;
                }

                monthlyEarnings[monthYear] += this.convertToEuro(Number(purchase.amount), purchase.currency);
            });

            const currentYear = new Date().getFullYear();
            const months = Array.from({ length: 12 }, (_, i) => i + 1);

            const locale = this.$i18n.locale;
            const labels = months.map(month => {
                const monthDate = new Date(2000, month - 1, 1);
                return monthDate.toLocaleString(locale, { month: 'long' });
            });

            const data = months.map(month => {
                const monthYear = `${currentYear}-${month}`;
                return (monthlyEarnings[monthYear] || 0).toFixed(0);
            });

            this.chartOptions.xaxis.categories = labels;
            this.series[0].data = data;

            this.chartOptions.xaxis.labels = {
                position: 'bottom'
            };
        },
        calculateNextMeeting() {
            if (this.agendas && this.agendas.length > 0) {
                const sortedAgendas = this.agendas.sort((a, b) => new Date(a.start_time) - new Date(b.start_time));
                let nextMeeting = null;
                for (const agenda of sortedAgendas) {
                    const agendaDate = new Date(agenda.start_time);
                    if (agendaDate > new Date()) {
                        nextMeeting = agenda;
                        break;
                    }
                }
                const locale = this.$i18n.locale;
                if (nextMeeting) {
                    const locale = this.$i18n.locale;
                    const nextMeetingDate = new Date(nextMeeting.start_time);
                    const formattedDate = nextMeetingDate.toLocaleDateString(locale, {
                        weekday: 'long',
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                    });
                    const formattedTime = nextMeetingDate.toLocaleTimeString(locale, {
                        hour: 'numeric',
                        minute: 'numeric'
                    });

                    this.nextMeeting = `<div>${formattedDate}</div><div>${formattedTime}</div><div>${nextMeeting.name}</div>`;
                } else {
                    this.nextMeeting = 'No upcoming meetings';
                }
            } else {
                this.nextMeeting = 'No upcoming meetings';
            }
        }
    }
}
</script>

<style scoped>

</style>
