<template>
    <section class="w-full h-screen">
        <div class="mt-20 flex align-center justify-center">
            <div class="bg-white rounded-lg shadow-xl w-[90%] md:w-9/12 md:flex align-center justify-center gap-32 md:py-20 p-5">
                <div>
                    <p class="pb-5 text-2xl font-bold">{{ countdown }}</p>
                    <p class="pt-5 text-xl text-no-wrap" v-html="nextMeeting"></p>
                </div>

                <v-col md="4" sm="6" class="mt-10 md:mt-0">
                    <v-btn class="text-none" rounded="xl" size="large" color="#149BFC" variant="flat" block @click="redirectToMeeting" text="Join the lesson"></v-btn>
                </v-col>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: "MeetingPartial",
    data() {
        return {
            nextMeeting: '',
            countdown: '',
            nextMeetingEnd: null,
        };
    },
    props: {
        meetingRoute: String,
        agendas: Array,
    },
    created() {
        this.calculateNextMeeting();
        setInterval(this.calculateNextMeeting, 60000);
    },
    methods: {
        redirectToMeeting() {
            window.location.href = this.meetingRoute;
        },
        calculateNextMeeting() {
            if (this.agendas && this.agendas.length > 0) {
                const sortedAgendas = this.agendas.sort((a, b) => new Date(a.start_time) - new Date(b.start_time));

                let nextMeeting = null;
                const now = new Date();
                now.setMinutes(now.getMinutes() - 50); // now est ajusté pour simuler une heure 50 minutes plus tôt

                for (const agenda of sortedAgendas) {
                    const agendaDate = new Date(agenda.start_time);

                    if (agendaDate > now) {
                        nextMeeting = agenda;
                        break;
                    }
                }

                if (nextMeeting) {
                    const nextMeetingDate = new Date(nextMeeting.start_time);

                    const formattedDateMonth = nextMeetingDate.toLocaleDateString(this.$i18n.locale, {
                        month: 'long',
                        day: 'numeric',
                        timeZone: 'Europe/Paris',
                    });

                    const formattedDateDayHour = nextMeetingDate.toLocaleDateString(this.$i18n.locale, {
                        weekday: 'long',
                        hour: 'numeric',
                        minute: 'numeric',
                        timeZone: 'Europe/Paris',
                    });

                    const nextMeetingEnd = new Date(nextMeetingDate);
                    nextMeetingEnd.setMinutes(nextMeetingEnd.getMinutes() + 50);
                    const formattedEnd = nextMeetingEnd.toLocaleTimeString(this.$i18n.locale, {
                        hour: 'numeric',
                        minute: 'numeric',
                        timeZone: 'Europe/Paris',
                    });

                    this.nextMeetingEnd = formattedEnd;

                    this.nextMeeting = `<div>${formattedDateMonth}</div><div class="py-2 text-2xl font-bold">${formattedDateDayHour} - ${formattedEnd}</div><div class="pt-2">With: ${nextMeeting.name}</div>`;

                    // Vérifier si le cours est en cours
                    if (now >= nextMeetingDate && now <= nextMeetingEnd) {
                        this.countdown = 'The lesson is ongoing';
                    } else {
                        const diff = nextMeetingDate.getTime() - now.getTime();
                        const oneDayMs = 1000 * 60 * 60 * 24;
                        const daysUntilMeeting = Math.ceil(diff / oneDayMs);

                        // Référence pour vérifier si c'est le même jour
                        const sameDay = now.getDate() === nextMeetingDate.getDate() &&
                            now.getMonth() === nextMeetingDate.getMonth() &&
                            now.getFullYear() === nextMeetingDate.getFullYear();

                        if (sameDay) {
                            this.countdown = 'The lesson is today';
                        } else if (daysUntilMeeting === 1) {
                            this.countdown = 'The lesson starts tomorrow';
                        } else {
                            this.countdown = `The next lesson starts in ${daysUntilMeeting} days`;
                        }
                    }
                } else {
                    this.nextMeeting = 'No upcoming meetings';
                    this.countdown = '';
                }
            } else {
                this.nextMeeting = 'No upcoming meetings';
                this.countdown = '';
            }
        }
    }
}
</script>

<style scoped>

</style>
