<template>
    <section class="overflow-y-auto w-full h-full">
            <h2 class="mt-10 text-center text-3xl font-extrabold text-gray-900 | md:text-5xl">{{ $t('homepage.titlePrice') }}</h2>
            <v-divider class="border-opacity-100 mx-auto mt-5 w-52 md:w-full" inset length="340"></v-divider>
            <!-- PRICING CAROUSEL PHONE -->
            <v-carousel id="pricing-section-phone" class="lg:hidden mb-5" height="520" draggable="true" color="#149BFC" hide-delimiter-background hide-icons :show-arrows="false">
                <v-carousel-item>
                    <div
                        class="w-80 mx-auto shadow-md ring-1 ring-zinc-300 min-h-[80%] border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                    >
                        <div class="mb-5">
                            <h2 class="text-2xl font-bold text-gray-900">1 {{ $t('homepage.titleCardPriceSingular') }}</h2>
                            <div class="mt-5 ">
                                <div class="text-4xl font-extrabold text-gray-900 flex align-center">
                                    <span class="me-3">€</span>
                                    <textarea v-model="price1" class="w-32 h-10 text-nowrap resize-none">{{ Math.round( prices[0].value) }} </textarea>
                                </div>
                            </div>
                            <h3
                                class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                            >
                                {{ $t('homepage.subTitleCardPrice') }} :
                            </h3>
                        </div>

                        <ul class="flex flex-grow flex-shrink-0 flex-col">
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                                {{ $t('homepage.text1CardPrice') }}
                            </span>
                            </li>
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                                {{ $t('homepage.text2CardPrice') }}
                            </span>
                            </li>
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                                {{ $t('homepage.text3CardPrice') }}
                            </span>
                            </li>

                            <li class="flex space-x-3 py-2 mt-20">
                                <v-btn class="me-10 text-none !font-bold"
                                       block
                                       size="large"
                                       color="#149BFC"
                                       :text="$t('homepage.textBtnCardPrice')"
                                       :loading="loading1"
                                       @click="updatePrice(1, price1, 'loading1')">
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading1 }" color="white">mdi-loading</v-icon>
                                    </template>
                                </v-btn>
                            </li>
                        </ul>
                    </div>
                </v-carousel-item>

                <v-carousel-item>
                    <div
                        class="w-80 mx-auto shadow-md ring-1 ring-zinc-300 min-h-[80%] border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                    >
                        <div class="mb-5">
                            <h2 class="text-2xl font-bold text-gray-900">2 {{ $t('homepage.titleCardPricePlurial') }}</h2>
                            <p class="mt-5">
                                <div class="text-4xl font-extrabold text-gray-900 flex align-center">
                                    <span class="me-3">€</span>
                                    <textarea v-model="price2" class="w-32 h-10 text-nowrap resize-none">{{ Math.round( prices[1].value) }} </textarea>
                                </div>
                            </p>
                            <h3
                                class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                            >
                                {{ $t('homepage.subTitleCardPrice') }} :
                            </h3>
                        </div>

                        <ul class="flex flex-grow flex-shrink-0 flex-col">
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                            {{ $t('homepage.text1CardPrice') }}
                        </span>
                            </li>
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                        {{ $t('homepage.text2CardPrice') }}
                    </span>
                            </li>
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                        {{ $t('homepage.text3CardPrice') }}
                    </span>
                            </li>

                            <li class="flex space-x-3 py-2 mt-20">
                                <v-btn class="me-10 text-none !font-bold"
                                       block
                                       size="large"
                                       color="#149BFC"
                                       :text="$t('homepage.textBtnCardPrice')"
                                       :loading="loading2"
                                       @click="updatePrice(2, price2, 'loading2')">
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading2 }" color="white">mdi-loading</v-icon>
                                    </template>
                                </v-btn>
                            </li>
                        </ul>
                    </div>
                </v-carousel-item>

                <v-carousel-item>
                    <div
                        class="w-80 mx-auto shadow-md ring-1 ring-zinc-300 min-h-[85%] border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                    >
                        <div class="mb-5">
                            <h2 class="text-2xl font-bold text-gray-900">4 {{ $t('homepage.titleCardPricePlurial') }}</h2>
                            <p class="mt-5">
                                <div class="text-4xl font-extrabold text-gray-900 flex align-center">
                                    <span class="me-3">€</span>
                                    <textarea v-model="price3" class="w-32 h-10 text-nowrap resize-none">{{ Math.round( prices[2].value) }} </textarea>
                                </div>
                            </p>
                            <h3
                                class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                            >
                                {{ $t('homepage.subTitleCardPrice') }} :
                            </h3>
                        </div>

                        <ul class="flex flex-grow flex-shrink-0 flex-col">
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                                {{ $t('homepage.text1CardPrice') }}
                            </span>
                            </li>
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                        {{ $t('homepage.text2CardPrice') }}
                    </span>
                            </li>
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                        {{ $t('homepage.text3CardPrice') }}
                    </span>
                            </li>

                            <li class="flex space-x-3 py-2 mt-20">
                                <v-btn class="me-10 text-none !font-bold"
                                       block
                                       size="large"
                                       color="#149BFC"
                                       :text="$t('homepage.textBtnCardPrice')"
                                       :loading="loading3"
                                       @click="updatePrice(3, price3, 'loading3')">
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading3 }" color="white">mdi-loading</v-icon>
                                    </template>
                                </v-btn>
                            </li>
                        </ul>
                    </div>
                </v-carousel-item>
            </v-carousel>

            <!-- PRICING DESKTOP -->
            <section class="hidden lg:block">
                <div class="mt-8 flex flex-wrap justify-center items-center flex-col md:space-x-10 md:flex-row 2xl:gap-x-32">
                    <!-- Pricing 1 -->
                    <div
                        class="flex flex-col max-w-sm min-h-[450px] shadow-md ring-1 ring-zinc-300 w-72 h-full border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                    >
                        <div class="mb-5">
                            <h2 class="text-2xl font-bold text-gray-900">1 {{ $t('homepage.titleCardPriceSingular') }}</h2>
                            <div class="mt-5 ">
                                <div class="text-4xl font-extrabold text-gray-900 flex align-center">
                                    <span class="me-3">€</span>
                                    <textarea v-model="price1" @input="handleTextareaInput" class="w-36 h-10 text-nowrap resize-none">{{ prices[0].value }}</textarea>
                                </div>
                            </div>
                            <h3
                                class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                            >
                                {{ $t('homepage.subTitleCardPrice') }} :
                            </h3>
                        </div>

                        <ul class="flex flex-grow flex-shrink-0 flex-col">
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                                {{ $t('homepage.text1CardPrice') }}
                            </span>
                            </li>
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                                {{ $t('homepage.text2CardPrice') }}
                            </span>
                            </li>
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                                {{ $t('homepage.text3CardPrice') }}
                            </span>
                            </li>

                            <li class="flex space-x-3 py-2 mt-auto">
                                <v-btn class="me-10 text-none !font-bold"
                                       block
                                       size="large"
                                       color="#149BFC"
                                       text="Update"
                                       :disabled="!isTextareaActive || price1 === prices[0].value"
                                       :loading="loading1"
                                       @click="updatePrice(1, price1, 'loading1')">
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading1 }" color="white">mdi-loading</v-icon>
                                    </template>
                                </v-btn>
                            </li>
                        </ul>
                    </div>

                    <!-- Pricing 2 -->
                    <div
                        class="flex flex-col max-w-sm min-h-[450px] shadow-md  ring-1 ring-zinc-300 w-72 h-full border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                    >
                        <div class="mb-5">
                            <h2 class="text-2xl font-bold text-gray-900">2 {{ $t('homepage.titleCardPricePlurial') }}</h2>
                            <div class="mt-5 ">
                                <span class="text-4xl font-extrabold text-gray-900 flex align-center">
                                    <span class="me-3">€</span>
                                    <textarea v-model="price2" @input="handleTextareaInput" class="w-36 h-10 text-nowrap resize-none">{{ prices[1].value }}</textarea>
                                </span>
                            </div>
                            <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">
                                {{ $t('homepage.subTitleCardPrice') }} :
                            </h3>
                        </div>

                        <ul class="flex flex-grow flex-shrink-0 flex-col">
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                        {{ $t('homepage.text1CardPrice') }}
                    </span>
                            </li>
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                        {{ $t('homepage.text2CardPrice') }}
                    </span>
                            </li>
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                        {{ $t('homepage.text3CardPrice') }}
                    </span>
                            </li>

                            <li class="flex space-x-3 py-2 mt-auto">
                                <v-btn class="me-10 text-none !font-bold"
                                       block
                                       size="large"
                                       color="#149BFC"
                                       text="Update"
                                       :disabled="!isTextareaActive || price2 === prices[1].value"
                                       :loading="loading2"
                                       @click="updatePrice(2, price2, 'loading2')">
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading2 }" color="white">mdi-loading</v-icon>
                                    </template>
                                </v-btn>
                            </li>
                        </ul>
                    </div>

                    <!-- Pricing 3 -->
                    <div
                        class="flex flex-col max-w-sm min-h-[450px] shadow-md  ring-1 ring-zinc-300 w-72 h-full border border-gray-200 rounded-lg mt-5 px-6 py-4 text-left bg-white"
                    >
                        <div class="mb-5">
                            <h2 class="text-2xl font-bold text-gray-900">4 {{ $t('homepage.titleCardPricePlurial') }}</h2>
                            <div class="mt-5 ">
                                <span class="text-4xl font-extrabold text-gray-900 flex align-center">
                                    <span class="me-3">€</span>
                                    <textarea v-model="price3" @input="handleTextareaInput" class="w-36 h-10 text-nowrap resize-none">{{ prices[2].value }}</textarea>
                                </span>
                            </div>
                            <h3
                                class="text-xs font-medium text-gray-900 tracking-wide uppercase"
                            >
                                {{ $t('homepage.subTitleCardPrice') }} :
                            </h3>
                        </div>

                        <ul class="flex flex-grow flex-shrink-0 flex-col">
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                        {{ $t('homepage.text1CardPrice') }}
                    </span>
                            </li>
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                        {{ $t('homepage.text2CardPrice') }}
                    </span>
                            </li>
                            <li class="flex items-center space-x-3 py-2">
                                <i class="bi bi-check-circle text-xl text-[#149BFC] flex-shrink-0 w-5"></i>
                                <span class="text-sm text-gray-800">
                        {{ $t('homepage.text3CardPrice') }}
                    </span>
                            </li>

                            <li class="flex space-x-3 py-2 mt-auto">
                                <v-btn class="me-10 text-none !font-bold"
                                       block
                                       size="large"
                                       color="#149BFC"
                                       text="Update"
                                       :disabled="!isTextareaActive || price3 === prices[2].value"
                                       :loading="loading3"
                                       @click="updatePrice(3, price3, 'loading3')">
                                    <template #loader>
                                        <v-icon :class="{ 'rotate': loading3 }" color="white">mdi-loading</v-icon>
                                    </template>
                                </v-btn>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
    </section>
</template>

<script>
import {useToast} from "vue-toastification";

export default {
    name: "PricingPartial",
    data() {
        return {
            toast: useToast(),
            loading1: false,
            loading2: false,
            loading3: false,
            price1: this.prices[0].value,
            price2: this.prices[1].value,
            price3: this.prices[2].value,
            isTextareaActive: false,
        };
    },
    props: {
        prices: Array,
    },
    methods: {
        handleTextareaInput() {
            this.isTextareaActive = true;
        },
        updatePrice(priceId, price, loadingProp) {
            this[loadingProp] = true;
            axios.post('update-price', { price_id: priceId, price: price })
                .then(response => {
                    this.isTextareaActive = false;
                    this.toast.success('Price updated successfully');
                    this[loadingProp] = false;
                })
                .catch(error => {
                    this.isTextareaActive = false;
                    this.toast.error('Error during the price updating');
                    console.error('Error during POST request:', error);
                    this[loadingProp] = false;
                });
        }
    }
}
</script>

<style scoped>

</style>
