<template>
    <section class="w-full h-screen overflow-auto">
        <div>
            <h2 class="text-4xl mt-10 ms-10 font-bold">Users List</h2>

            <template v-if="users.length > 0">
                <div class="mx-10 mt-10">
                    <v-text-field
                        class="mb-5"
                        v-model="search"
                        prepend-inner-icon="mdi-magnify"
                        label="Search"
                        single-line
                        hide-details
                        variant="outlined"
                        flat
                    ></v-text-field>
                    <v-data-table :headers="headers" :items="filteredUsers" :search="search" class="mb-10">
                        <template v-slot:item.country_id="{ item }">
                            {{ getCountryName(item.country_id) }}
                        </template>
                        <template v-slot:item.email_verified="{ item }">
                            <v-icon :color="item.email_verified ? 'green' : 'red'">
                                {{ item.email_verified ? 'mdi-checkbox-marked-circle' : 'mdi-checkbox-blank-circle-outline' }}
                            </v-icon>
                        </template>
                        <template v-slot:item.last_login="{ item }">
                            <div v-html="formatDate(item.last_login)"></div>
                        </template>
                        <template v-slot:item.actions="{ item }">
                            <div class="flex flex-nowrap">
                                <v-icon small @click="editItem(item)" class="mr-2">mdi-pencil</v-icon>
                                <v-icon small @click="confirmDelete(item)" color="red">mdi-delete</v-icon>
                            </div>
                        </template>
                    </v-data-table>
                </div>
            </template>
            <div v-else>No users yet</div>
            <v-dialog v-model="editDialog" max-width="600px">
                <v-card>
                    <v-card-title>
                        Modify user informations
                    </v-card-title>
                    <v-card-text>
                        <v-form ref="editForm">
                            <v-text-field
                                v-model="editedUser.firstname"
                                type="text"
                                :hint="$t('signUp.form.txtInput1Hint')"
                                label="First name"
                                :rules="[v => (v && v.length >= 3) || $t('signUp.form.txtInput1Error2')]"
                            ></v-text-field>
                            <v-text-field
                                v-model="editedUser.lastname"
                                type="text"
                                :hint="$t('signUp.form.txtInput1Hint')"
                                label="Last name"
                                :rules="[v => !!v || $t('signUp.form.txtInput2Error'), v => (v && v.length >= 3) || $t('signUp.form.txtInput2Error2')]"
                            ></v-text-field>
                            <v-text-field
                                v-model="editedUser.email"
                                type="email"
                                label="Email"
                                :rules="[v => !!v || $t('signUp.form.txtInput3Error'), v => /.+@.+\..+/.test(v) || $t('signUp.form.txtInput3Error2')]"
                                flat
                                bg-color="#F2F2F2"
                            ></v-text-field>
                            <v-phone-input
                                v-model="editedUser.phone"
                                enableSearchingCountry
                                countryLabel=""
                                :invalidMessage="$t('signUp.form.hintInput4Error')"
                                label="Phone"
                                :rules="[v => !!v || $t('signUp.form.txtInput4Error')]"
                            />
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" @click="closeEditDialog">Cancel</v-btn>
                        <v-btn color="green darken-1" @click="handleSubmit">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog v-model="confirmDeleteDialog" max-width="400px">
                <v-card>
                    <v-card-title>
                        <span>Confirm deletion</span>
                    </v-card-title>
                    <v-card-text>
                        Are you sure you want to delete this user?
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red" @click="confirmDeleteDialog = false">Cancel</v-btn>
                        <v-btn color="green" @click="deleteConfirmed">Delete</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </div>
        <div class="flex mx-auto">
        </div>
    </section>
</template>

<script>
import countries from './../../../../other/countries.json';
import {useToast} from "vue-toastification";

export default {
    props: {
        users: Array,
    },
    data() {
        return {
            selectedLanguage: localStorage.getItem('selectedLanguage') || "English",
            search: '',
            headers: [
                { title: 'Id', value: 'id' },
                { title: 'First name', value: 'firstname' },
                { title: 'Last name', value: 'lastname' },
                { title: 'Email', value: 'email' },
                { title: 'Phone', value: 'phone' },
                { title: 'Country', value: 'country_id' },
                { title: 'Credits', value: 'credits', align: 'center' },
                { title: 'Last login', value: 'last_login', align: 'center' },
                { title: 'Verified Email', value: 'email_verified', align: 'center' },
                { title: 'Actions', key: 'actions', sortable: false },
            ],
            editDialog: false,
            confirmDeleteDialog: false,
            userToDelete: null,
            editedUser: {},
            editedIndex: -1,
            usersReactive: [...this.users],
            toast: useToast(),
        };
    },
    computed: {
        filteredUsers() {
            return this.usersReactive.filter(user => user.id !== 1);
        },
    },
    mounted() {
        if (localStorage.getItem('selectedLanguage')) {
            this.$i18n.locale = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'en';
            this.$vuetify.locale.current = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'en';
        }
    },
    methods: {
        handleSubmit() {
            if (!this.editedUser.firstname || this.editedUser.firstname.length < 3) {
                return;
            }
            if (!this.editedUser.lastname || this.editedUser.firstname.length < 3) {
                return;
            }
            const emailPattern = /.+@.+\..+/;
            if (!this.editedUser.email || !emailPattern.test(this.editedUser.email)) {
                return;
            }
            this.saveEdit();
        },
        editItem(item) {
            this.editedUser = { ...item };
            this.editedIndex = this.usersReactive.indexOf(item);
            this.editDialog = true;
        },
        saveEdit() {
            axios.put(`/users/${this.editedUser.id}`, this.editedUser)
                .then(() => {
                    this.usersReactive[this.editedIndex] = { ...this.editedUser };
                    this.closeEditDialog();
                })
                .catch((error) => {
                    console.error("Error updating user :", error);
                });
        },
        closeEditDialog() {
            this.editDialog = false;
            this.editedUser = {};
        },
        confirmDelete(item) {
            this.userToDelete = item;
            this.confirmDeleteDialog = true;
        },
        deleteConfirmed() {
            if (this.userToDelete) {
                if (this.userToDelete.credits > 0) {
                    this.confirmDeleteDialog = false;
                    this.toast.error("This user has credits. You cannot delete them.");
                    return;
                }
                axios
                    .delete(`/users/${this.userToDelete.id}`)
                    .then(() => {
                        const index = this.usersReactive.indexOf(this.userToDelete);
                        if (index !== -1) {
                            this.usersReactive.splice(index, 1);
                        }
                        this.confirmDeleteDialog = false;
                        this.userToDelete = null;
                    })
                    .catch((error) => {
                        console.error("Error during deletion :", error);
                    });
            }
        },
        getCountryName(countryId) {
            const country = countries.find(c => c.country_id === String(countryId));
            return country ? country.country_name : 'Unknown';
        },
        formatDate(date) {
            if (!date) {
                return `<div class="text-center">-</div>`;
            }

            // Ajoute 2 heures à la date last_login
            const adjustedDate = new Date(date);
            adjustedDate.setHours(adjustedDate.getHours() + 2);

            // Options pour formater la date et l'heure
            const optionsDate = { year: 'numeric', month: 'long', day: '2-digit' };
            const optionsTime = { hour: '2-digit', minute: '2-digit', second: '2-digit' };

            // Formatage de la date et de l'heure selon les options
            const formattedDateString = adjustedDate.toLocaleDateString('en-US', optionsDate);
            const formattedTimeString = adjustedDate.toLocaleTimeString('en-US', optionsTime);

            const styledDate = `<div class="text-no-wrap">${formattedDateString}</div><div>${formattedTimeString}</div>`;

            return styledDate;
        },
    },
};
</script>


<style scoped>
:deep(.v-data-table-header__content) {
    font-weight: bold;
}
</style>
