<template>
    <div class="flex items-center justify-center min-h-screen p-5 min-w-screen">
        <div class="w-full max-w-xl px-8 pb-8 text-center text-gray-800 bg-white shadow-xl lg:max-w-3xl rounded-3xl ">
            <div class="flex justify-center my-4">
                <img src="../../../../../../../public/img/speaklingo-logo.png" alt="Logo du site Speaklingo" class="w-25">
            </div>
            <div class="flex justify-center gap-x-2 align-center">
                <v-icon size="x-large" color="#c2410c">mdi-alert-outline</v-icon>
                <h3 class="text-2xl font-bold">{{ $t('expiredRegister.title') }}</h3>
            </div>

            <div class="mt-10">
                <v-form @submit.prevent="sendNewVerificationLink">
                    <input type="hidden" name="_token" :value="csrf" />

                    <!-- Email -->
                    <div>
                        <div class="flex justify-center gap-x-2">
                            <v-icon color="#8ecae6">mdi-email-open-outline</v-icon>
                            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                                {{$t('signUp.form.txt3')}}<span class="text-red-500">*</span>
                            </label>
                        </div>

                        <v-col md="6" sm="4" class="w-full mx-auto py-0">
                            <v-text-field
                                v-model="email"
                                id="email"
                                type="email"
                                name="email"
                                :label="$t('signUp.form.txtInput3')"
                                :rules="[v => !!v || $t('signUp.form.txtInput3Error'), v => /.+@.+\..+/.test(v) || $t('signUp.form.txtInput3Error2')]"
                                density="comfortable"
                                variant="solo"
                                flat
                                bg-color="#F2F2F2"
                            ></v-text-field>
                        </v-col>
                    </div>
                    <v-col md="6" sm="4" class="w-full mx-auto py-0">
                        <v-btn
                            type="submit"
                            class="w-full bg-[#149BFC] hover:bg-blue-500 text-white py-2 px-4 text-none !tracking-normal"
                            size="large"
                            color="#149BFC"
                            :text="$t('expiredRegister.btn1')"
                            append-icon="mdi-arrow-right"
                            :loading="loading"
                        >
                            <template #loader>
                                <v-icon :class="{ 'rotate': loading }" color="white">mdi-loading</v-icon>
                            </template>
                        </v-btn>
                    </v-col>
                </v-form>
                <v-col md="6" sm="4" class="w-full mx-auto">
                    <v-btn :href="homeRoute"
                           class="text-none" size="large" bg-color="#149BFC" variant="flat" block prepend-icon="mdi-arrow-left" append-icon="mdi-home-outline"
                           :text="$t('expiredRegister.btn2')">
                    </v-btn>
                </v-col>
            </div>
        </div>
    </div>

    <!-- FOOTER  -->
    <FooterUnconnected :home-route="homeRoute"/>
</template>

<script>
import {useToast} from "vue-toastification";
import FooterUnconnected from "../../FooterUnconnected.vue";

export default {
    name: "ExpiredRegister",
    components: {
        FooterUnconnected,
    },
    props: {
        homeRoute: String,
    },
    data() {
        return {
            email: null,
            csrf: document.head.querySelector('meta[name="csrf-token"]').content,
            loading: false,
            toast: useToast(),
            pdfCookie: '/pdf/cookies_speaklingo.pdf',
            pdfPrivacy: '/pdf/privacy_policy.pdf',
            pdfUseOfTerms: '/pdf/use_of_terms_speaklingo.pdf',
        };
    },
    methods: {
        isValidEmail(email) {
            const emailRegex = /.+@.+\..+/;
            return emailRegex.test(email);
        },
        sendNewVerificationLink() {
            if (this.email && this.isValidEmail(this.email)) {
                this.loading = true;

                axios.post('/resend-verification-link', {email: this.email})
                    .then((response) => {
                        this.email = null;
                        this.loading = false;
                        this.toast.success(this.$t('expiredRegister.success1'));
                    })
                    .catch((error) => {
                        this.loading = false;

                        if (error.response) {
                            const errorMessage = error.response.data.error;
                            this.toast.error(errorMessage);

                            if (error.response.status === 404) {
                                this.toast.error(this.$t('expiredRegister.error1'));
                            } else if (error.response.status === 409) {
                                if (errorMessage.includes("Email already verified")) {
                                    this.toast.error(this.$t('expiredRegister.error2'));
                                } else if (errorMessage.includes("Token has not yet expired")) {
                                    this.toast.error(this.$t('expiredRegister.error3'));
                                }
                            }
                        } else {
                            this.toast.error(this.$t('expiredRegister.error4'));
                        }
                    });
            }
        }
    },
};
</script>

<style scoped>

</style>
