<template>
    <nav class="h-24 bg-white flex items-center border-b-2 font-roboto">
        <div class="container mx-auto px-4 flex justify-between items-center">
            <div class="flex items-center">
                <div class="flex flex-col align-center pe-8 cursor-pointer" @click="redirectToHome">
                    <img src="../../../../../../img/logo.png" alt="Logo de Speaklingo" class="w-12">
                    <span class="text-[#149BFC] text-xl font-bold py-1">SpeakLingo</span>
                </div>
                <v-menu
                    content-class="pt-2 ms-2"
                    transition="slide-y-transition">
                    <template v-slot:activator="{ props }">
                        <v-btn
                            color=""
                            flat
                            v-bind="props"
                            class="text-none ms-28 md:ms-0"
                        >
                            {{ selectedLanguage }} <v-icon>mdi-menu-down</v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item
                            v-for="(item, i) in items"
                            :key="i"
                            @click="selectLanguage(item.title)"
                        >
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
            <!-- Desktop menu -->
            <div class="hidden items-center text-no-wrap gap-6 | lg:flex">
                <span>{{$t('signUp.navbar.text')}}</span>
                <v-col md="6" sm="6">
                    <v-btn class="text-none" rounded="xl" size="large" color="#149BFC" variant="flat" block @click="redirectToLogin" :text="$t('signUp.navbar.btn')"></v-btn>
                </v-col>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    name: "NavbarRegister",
    props: {
        registerRoute: String,
        loginRoute: String,
        homeRoute: String
    },
    data() {
        return {
            isOpenLanguageDropdown: false,
            selectedLanguage: localStorage.getItem('selectedLanguage') || "English",
            isMenuOpen: false,
            items: [
                { title: 'English' },
                { title: 'Français' },
            ],
        };
    },
    methods: {
        redirectToHome() {
            window.location.href = this.homeRoute;
        },
        redirectToLogin() {
            window.location.href = this.loginRoute;
        },
        selectLanguage(language) {
            this.selectedLanguage = language;
            this.isOpenLanguageDropdown = false;

            const languageMap = {
                'English': 'en',
                'Français': 'fr'
            };

            const locale = languageMap[language];

            localStorage.setItem('selectedLanguage', language);
            this.$i18n.locale = locale;
            this.$vuetify.locale.current = locale;

            axios.post('language', { locale })
                .then(response => {
                    console.log('Locale set on server');
                })
                .catch(error => {
                    console.error('Error setting locale on server:', error);
                });
        },
        toggleLanguageDropdown() {
            this.isOpenLanguageDropdown = !this.isOpenLanguageDropdown;
        },
        closeDropdown() {
            this.isOpenLanguageDropdown = false;
        },
        handleDocumentClick(event) {
            const dropdownButton = this.$refs.languageButton;
            if (dropdownButton && !dropdownButton.contains(event.target)) {
                this.isOpenLanguageDropdown = false;
            }
        },
        toggleMenu() {
            this.isMenuOpen = !this.isMenuOpen;
        },
        closeMenu() {
            this.isMenuOpen = false;
        },
    },
    mounted() {
        document.addEventListener('click', this.handleDocumentClick);
        if (localStorage.getItem('selectedLanguage')) {
            this.$i18n.locale = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
            this.$vuetify.locale.current = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
        }
    },
    beforeDestroy() {
        document.removeEventListener('click', this.handleDocumentClick);
    },
};
</script>

<style scoped>
.slide-right-enter-active, .slide-right-leave-active {
    transition: transform 0.5s;
}

.slide-right-enter, .slide-right-leave-to {
    transform: translateX(100%);
}

.slide-right-enter-to, .slide-right-leave {
    transform: translateX(0);
}
</style>
