<template>
    <vue-cookie-accept-decline
        :debug="false"
        :disableDecline="false"
        :showPostponeButton="false"
        @clicked-accept="cookieClickedAccept"
        @clicked-decline="cookieClickedDecline"
        @status="cookieStatus"
        elementId="myPanel1"
        position="bottom-left"
        ref="myPanel1"
        transitionName="slideFromBottom"
        type="floating"
    >
        <!-- Optional -->
        <template #postponeContent>&times;</template>

        <!-- Optional -->
        <template #message class="overflow-y-hidden">
            {{ $t('homepage.cookie') }} <a :href="this.$i18n.locale === 'en' ? pdfCookie : pdfCookieFr" target="_blank" class="text-[#149BFC] underline">{{ $t('homepage.cookieLink') }}</a>
        </template>

        <!-- Optional -->
        <template #declineContent>{{ $t('homepage.cookieBtnDecline') }}</template>

        <!-- Optional -->
        <template #acceptContent>{{ $t('homepage.cookieBtnAccept') }}</template>
    </vue-cookie-accept-decline>

    <div class="text-center font-roboto | md:mt-24 lg:mt-5 2xl:mt-16">

        <h2 class="mt-10 mb-4 text-4xl">{{$t('signUp.title')}}</h2>
        <p class="lg:hidden">{{$t('signUp.navbar.text')}}
            <a class="text-[#149BFC] text-decoration-underline" :href="loginRoute">
                {{ $t('navbar.login') }}
            </a>
        </p>
        <v-divider class="border-opacity-100 mx-auto mt-5 w-80 md:w-full" inset length="420"></v-divider>



        <v-form @submit.prevent="submitForm" class="max-w-md mx-auto px-4 py-8 text-start ">
            <input type="hidden" name="_token" :value="csrf" />

            <!-- First name -->
            <div class="mb-3">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="firstname">
                    {{$t('signUp.form.txt1')}}<span class="text-red-500">*</span>
                </label>
                <v-text-field
                    v-model="formData.firstname"
                    id="firstname"
                    type="text"
                    name="firstname"
                    :hint="$t('signUp.form.txtInput1Hint')"
                    :label="$t('signUp.form.txtInput1')"
                    :rules="[v => !!v || $t('signUp.form.txtInput1Error'), v => (v && v.length >= 3) || $t('signUp.form.txtInput1Error2')]"
                    density="comfortable"
                    variant="solo"
                    flat
                    bg-color="#F2F2F2"
                ></v-text-field>
            </div>

            <!-- Last name -->
            <div class="mb-3">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="lastname">
                    {{$t('signUp.form.txt2')}}<span class="text-red-500">*</span>
                </label>
                <v-text-field
                    v-model="formData.lastname"
                    id="lastname"
                    type="text"
                    name="lastname"
                    :hint="$t('signUp.form.txtInput1Hint')"
                    :label="$t('signUp.form.txtInput2')"
                    :rules="[v => !!v || $t('signUp.form.txtInput2Error'), v => (v && v.length >= 3) || $t('signUp.form.txtInput2Error2')]"
                    density="comfortable"
                    variant="solo"
                    flat
                    bg-color="#F2F2F2"
                ></v-text-field>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    {{$t('signUp.form.txt3')}}<span class="text-red-500">*</span>
                </label>
                <v-text-field
                    v-model="formData.email"
                    id="email"
                    type="email"
                    name="email"
                    :label="$t('signUp.form.txtInput3')"
                    :rules="[v => !!v || $t('signUp.form.txtInput3Error'), v => /.+@.+\..+/.test(v) || $t('signUp.form.txtInput3Error2')]"
                    density="comfortable"
                    variant="solo"
                    flat
                    bg-color="#F2F2F2"
                ></v-text-field>
            </div>

            <!-- Phone number -->
            <div class="mb-3">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="number">
                    {{$t('signUp.form.txt4')}}<span class="text-red-500">*</span>
                </label>
                <div class="bg-[#F2F2F2] h-12 ps-4">
                    <v-phone-input
                        v-model="formData.phone"
                        enableSearchingCountry
                        defaultCountry="be"
                        countryLabel=""
                        density="comfortable"
                        variant="plain"
                        flat
                        :invalidMessage="$t('signUp.form.hintInput4Error')"
                        :label="$t('signUp.form.txtInput4')"
                        :rules="[v => !!v || $t('signUp.form.txtInput4Error')]"
                    />
                </div>

            </div>

            <!-- Country -->
            <div class="mb-3">
                <p class="block text-gray-700 text-sm font-bold mb-2" for="country">
                    {{$t('signUp.form.txt5')}}<span class="text-red-500">*</span>
                </p>
                <v-combobox
                    v-model="formData.country"
                    :items="translatedCountries"
                    :label="$t('signUp.form.txtInput5')"
                    :rules="[v => !!v || $t('signUp.form.txtInput5Error')]"
                    density="comfortable"
                    bg-color="#F2F2F2"
                    variant="solo"
                    flat
                    @change="updateCountryId"
                ></v-combobox>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    {{$t('signUp.form.txt6')}}<span class="text-red-500">*</span>
                </label>
                <div class="relative">
                    <v-text-field
                        v-model="formData.password"
                        id="password"
                        name="password"
                        autocomplete="off"
                        density="comfortable"
                        bg-color="#F2F2F2"
                        variant="solo"
                        flat
                        :hint="$t('signUp.form.txtInput6Hint')"
                        :label="$t('signUp.form.txtInput6')"
                        :rules="[v => !!v || $t('signUp.form.txtInput6Error'), v => /^(?=.*[A-Z])(?=.*\d).{9,}$/.test(v) || $t('signUp.form.txtInput6Error2')]"
                        :append-inner-icon="showPassword.password ? 'mdi-eye-off' : 'mdi-eye'"
                        :type="showPassword.password ? 'text' : 'password'"
                        @click:append-inner="showPassword.password = !showPassword.password"

                    ></v-text-field>
                </div>

            </div>

            <!-- Confirm Password -->
            <div class="mb-3">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    {{$t('signUp.form.txt7')}}<span class="text-red-500">*</span>
                </label>
                <div class="relative">
                    <v-text-field
                        v-model="formData.confirmPassword"
                        id="confirmPassword"
                        name="confirmPassword"
                        autocomplete="off"
                        density="comfortable"
                        bg-color="#F2F2F2"
                        variant="solo"
                        flat
                        :hint="$t('signUp.form.txtInput6Hint')"
                        :label="$t('signUp.form.txt7')"
                        :rules="[v => !!v || $t('login.form.txtInput2Error'), v => formData.password === formData.confirmPassword || $t('newPasswordReset.confirmPasswordError')]"
                        :append-inner-icon="showPassword.confirmPassword ? 'mdi-eye-off' : 'mdi-eye'"
                        :type="showPassword.confirmPassword ? 'text' : 'password'"
                        @click:append-inner="showPassword.confirmPassword = !showPassword.confirmPassword"

                    ></v-text-field>
                </div>

            </div>

            <!-- Checkbox -->
            <v-checkbox v-model="formData.terms" color="#149BFC" :rules="[v => !!v || $t('signUp.form.termsError')]">
                <template v-slot:label>
                    <div>
                        {{$t('signUp.form.terms')}}
                        <a :href="this.$i18n.locale === 'en' ? pdfUseOfTerms : pdfUseOfTermsFr" target="_blank" class="text-blue-500 contrast-200">{{$t('signUp.form.termsLink')}}</a>
                        {{$t('signUp.form.terms2')}}
                    </div>
                </template>
            </v-checkbox>

            <v-btn
                type="submit"
                class="mt-5 w-full bg-[#149BFC] hover:bg-blue-500 text-white py-2 px-4 text-none !tracking-normal"
                size="large"
                color="#149BFC"
                :text="$t('signUp.form.btn')"
                :loading="loading"
            >
                <template #loader>
                    <v-icon :class="{ 'rotate': loading }" color="white">mdi-loading</v-icon>
                </template>
            </v-btn>
        </v-form>

    </div>

    <!-- FOOTER SECTION -->
    <FooterUnconnected :home-route="homeRoute"/>
</template>

<script>
import countriesData from '../../../../../../other/countries.json';
import {useToast} from "vue-toastification";
import FooterUnconnected from "../../FooterUnconnected.vue";
export default {
    name: "RegisterComponent",
    components: {
        FooterUnconnected,
    },
    props: {
        homeRoute: String,
        loginRoute: String
    },
    data() {
        return {
            formData: {
                firstname: "",
                lastname: "",
                email: "",
                phone: "",
                country_id: null,
                password: "",
                confirmPassword: "",
                terms: false,
            },
            showPassword: {
                password: false,
            },
            countries: countriesData,
            selectedCountry: null,
            isPlaceholderSelected: true,
            csrf: document.head.querySelector('meta[name="csrf-token"]').content,
            errors: {},
            loading: false,
            toast: useToast(),
            pdfCookie: '/pdf/cookies_speaklingo.pdf',
            pdfCookieFr: '/pdf/cookies_speaklingo_fr.pdf',
            pdfPrivacy: '/pdf/privacy_policy.pdf',
            pdfUseOfTerms: '/pdf/use_of_terms_speaklingo.pdf',
            pdfUseOfTermsFr: '/pdf/use_of_terms_speaklingo_fr.pdf',
        };
    },
    computed: {
        translatedCountries() {
            return this.countries.map(country => this.$t(`countries.${country.country_id}`));
        },
        updateCountryId() {
            const countryMappings = {
                "Australie": "Australia",
                "Autriche": "Austria",
                "Belgique": "Belgium",
                "Brésil": "Brazil",
                "Bulgarie": "Bulgaria",
                "Canada": "Canada",
                "Croatie": "Croatia",
                "Chypre": "Cyprus",
                "République Tchèque": "Czech Republic",
                "Danemark": "Denmark",
                "Estonie": "Estonia",
                "Finlande": "Finland",
                "France": "France",
                "Allemagne": "Germany",
                "Ghana": "Ghana",
                "Gibraltar": "Gibraltar",
                "Grèce": "Greece",
                "Hong Kong": "Hong Kong",
                "Hongrie": "Hungary",
                "Inde": "India",
                "Indonésie": "Indonesia",
                "Irlande": "Ireland",
                "Italie": "Italy",
                "Japon": "Japan",
                "Kenya": "Kenya",
                "Lettonie": "Latvia",
                "Liechtenstein": "Liechtenstein",
                "Lituanie": "Lithuania",
                "Luxembourg": "Luxembourg",
                "Malaisie": "Malaysia",
                "Malte": "Malta",
                "Mexique": "Mexico",
                "Pays-Bas": "Netherlands",
                "Nouvelle-Zélande": "New Zealand",
                "Nigéria": "Nigeria",
                "Norvège": "Norway",
                "Pologne": "Poland",
                "Portugal": "Portugal",
                "Roumanie": "Romania",
                "Singapour": "Singapore",
                "Slovaquie": "Slovakia",
                "Slovénie": "Slovenia",
                "Afrique du Sud": "South Africa",
                "Espagne": "Spain",
                "Suède": "Sweden",
                "Suisse": "Switzerland",
                "Thaïlande": "Thailand",
                "Émirats Arabes Unis": "United Arab Emirates",
                "Royaume-Uni": "United Kingdom",
                "États-Unis": "United States"
            };
            const selectedCountryName = this.formData.country;
            const mappedCountryName = countryMappings[selectedCountryName];

            if (mappedCountryName) {
                const selectedCountry = this.countries.find(country => country.country_name === mappedCountryName);

                if (selectedCountry) {
                    this.formData.country_id = selectedCountry.country_id;
                    this.formData.country = mappedCountryName;
                }
            }
        },
    },
    methods: {
        cookieStatus(status) {
            this.status = status;
        },
        cookieClickedAccept() {
            this.status = "accept";
        },
        cookieClickedDecline() {
            this.status = "decline";
        },
        validateRequiredFields() {
            this.errors = {};

            if (!this.formData.firstname) {
                return;
            }

            if (!this.formData.lastname) {
                return;
            }

            if (!this.formData.email) {
                return;
            }

            if (!this.formData.phone) {
                return;
            }

            if (!this.formData.country) {
                return;
            }

            if (!this.formData.password) {
                return;
            }

            if (!this.formData.terms) {
                return;
            }

            if (this.formData.password !== this.formData.confirmPassword || this.formData.password.length < 8 || !/[A-Z]/.test(this.formData.password)) {
                return;
            }

            return Object.keys(this.errors).length === 0;
        },
        submitForm() {
            if (this.validateRequiredFields()) {
                const selectedCountry = this.countries.find(country => country.country_name === this.formData.country);
                if (selectedCountry) {
                    this.formData.country_id = selectedCountry.country_id;
                }

                this.loading = true;

                axios.post('createRegister', this.formData)
                    .then(response => {
                        // Succès
                        window.location.href = `/success_register`;
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.loading = false;
                            // Erreurs de validation du serveur
                            let errorMessages = '';

                            // Mapping des messages d'erreur
                            const errorData = error.response.data.errors;
                            for (const key in errorData) {
                                switch (key) {
                                    case 'firstname':
                                        errorMessages += this.$t('signUp.form.errors.errorFirstname');
                                        break;
                                    case 'lastname':
                                        errorMessages += this.$t('signUp.form.errors.errorLastname');
                                        break;
                                    case 'email':
                                        const emailErrorMessage = errorData[key][0];
                                        if (emailErrorMessage.includes('has already been taken')) {
                                            errorMessages += this.$t('signUp.form.errors.emailExists');
                                        } else {
                                            errorMessages += this.$t('signUp.form.errors.errorEmail');
                                        }
                                        break;
                                    case 'phone':
                                        errorMessages += this.$t('signUp.form.errors.errorPhone');
                                        break;
                                    case 'password':
                                        errorMessages += this.$t('signUp.form.errors.errorPassword');
                                        break;
                                    default:
                                        errorMessages += `${errorData[key]}. `;
                                }
                            }

                            this.toast.error(errorMessages, {
                                timeout: 6000,
                            });
                        } else {
                            this.loading = false;
                            // General error message
                            this.toast.error(this.$t('calendar.toastErrorGeneral'));
                        }
                    })
                    .finally(() => {
                        this.formData.password = null;
                        this.formData.confirmPassword = null;
                        this.selectedCountry = this.selectedCountryBeforeSubmit;
                    });
            }
        },
        handleCountryChange() {
            this.isPlaceholderSelected = this.$refs.countrySelect.value === '';
        },
        toggleLanguageDropdown() {
            this.isOpenLanguageDropdown = !this.isOpenLanguageDropdown;
        },
        closeDropdown() {
            this.isOpenLanguageDropdown = false;
        },
        handleDocumentClick(event) {
            const dropdownButton = this.$refs.languageButton;
            if (dropdownButton && !dropdownButton.contains(event.target)) {
                this.isOpenLanguageDropdown = false;
            }
        },
        togglePasswordVisibility(field) {
            this.showPassword[field] = !this.showPassword[field];
        }
    },
};
</script>

<style scoped>
.rotate {
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
</style>
