<template>
    <div class="flex items-center justify-center min-h-screen p-5 min-w-screen">
        <div class="w-full max-w-xl px-8 pb-8 text-center text-gray-800 bg-white shadow-xl lg:max-w-3xl rounded-3xl ">
            <div class="flex justify-center my-2">
                <img src="../../../../../../../public/img/speaklingo-logo.png" alt="Logo du site Speaklingo" class="w-25">
            </div>
            <h3 class="text-2xl font-bold">{{ $t('successRegister.title') }} 🎉</h3>
            <div class="flex justify-center mt-4">
                <v-icon size="100" color="#8ecae6">mdi-email-open-outline</v-icon>
            </div>

            <p>{{ $t('successRegister.txt') }}</p>
            <div class="mt-4">
                <v-col md="6" sm="4" class="w-full mx-auto">
                    <v-btn href="mailto:"
                           class="text-none" size="large" color="#149BFC" variant="flat" block append-icon="mdi-arrow-right"
                           :text="$t('successRegister.btn1')">
                    </v-btn>
                </v-col>
                <v-col md="6" sm="4" class="w-full mx-auto">
                    <v-btn :href="homeRoute"
                           class="text-none" size="large" bg-color="#149BFC" variant="flat" block prepend-icon="mdi-arrow-left" append-icon="mdi-home-outline"
                           :text="$t('successRegister.btn2')">
                    </v-btn>
                </v-col>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <FooterUnconnected :home-route="homeRoute"/>
</template>

<script>
import FooterUnconnected from "../../FooterUnconnected.vue";

export default {
    name: "SuccessRegister",
    components: {FooterUnconnected},
    props: {
        homeRoute: String,
    },
    data() {
        return {
            pdfCookie: '/pdf/cookies_speaklingo.pdf',
            pdfPrivacy: '/pdf/privacy_policy.pdf',
            pdfUseOfTerms: '/pdf/use_of_terms_speaklingo.pdf',
        };
    },
    methods: {
        selectLanguage(language) {
            this.selectedLanguage = language;
            this.isOpenLanguageDropdown = false;
        },
    },
};
</script>

<style scoped>

</style>
