<template>
    <div class="md:flex h-full">

        <!-- Menu Items Phone -->
        <section class="md:hidden">
            <div class="lg:hidden absolute top-5 right-3">
                <v-menu
                    content-class="pt-2"
                    transition="slide-y-transition">
                    <template v-slot:activator="{ props }">
                        <v-btn
                            color="#149BFC"
                            flat
                            v-bind="props"
                            class="text-none"
                        >
                            {{ selectedLanguage }} <v-icon>mdi-menu-down</v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item
                            v-for="(item, i) in items"
                            :key="i"
                            @click="selectLanguage(item.title)"
                        >
                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                        </v-list-item>
                    </v-list>
                </v-menu>
            </div>
            <!-- Menu Items PHONE -->
            <a :href="profileRoute" class="md:hidden flex align-center text-2xl ms-4 font-bold mt-5 | hover:text-gray-600">
                <v-icon color="#149BFC">mdi-chevron-left</v-icon>
                {{ $t('settings.panel.home') }}
            </a>

            <div class="md:hidden flex gap-10 ms-5 mt-10 overflow-x-auto text-no-wrap">
                <a @click="selectedMenuItem = 'editProfile'"
                   :class="{ 'text-black border-b-2': selectedMenuItem === 'editProfile', 'text-gray-400': selectedMenuItem !== 'editProfile' }"
                   class="flex flex-col align-center cursor-pointer text-lg ps-2 | hover:text-black">
                    <v-icon>mdi-pencil-outline</v-icon>
                    {{ $t('settings.panel.item1') }}
                </a>

                <a @click="selectedMenuItem = 'password'"
                   :class="{ 'text-black border-b-2': selectedMenuItem === 'password', 'text-gray-400': selectedMenuItem !== 'password' }"
                   class="flex flex-col align-center cursor-pointer text-lg | hover:text-black">
                    <v-icon>mdi-lock-outline</v-icon>
                    {{ $t('settings.panel.item2') }}
                </a>

                <!-- <a @click="selectedMenuItem = 'notification'"
                   :class="{ 'text-black border-b-2': selectedMenuItem === 'notification', 'text-gray-400': selectedMenuItem !== 'notification' }"
                   class="flex flex-col align-center cursor-pointer text-lg | hover:text-black">
                    <v-icon>mdi-bell-outline</v-icon>
                    Notification
                </a>
                -->

                <a @click="selectedMenuItem = 'payementHistory'"
                   :class="{ 'text-black border-b-2': selectedMenuItem === 'payementHistory', 'text-gray-400': selectedMenuItem !== 'payementHistory' }"
                   class="flex flex-col align-center cursor-pointer text-lg | hover:text-black">
                    <v-icon>mdi-credit-card-outline</v-icon>
                    {{ $t('settings.panel.item3') }}
                </a>

                <a @click="selectedMenuItem = 'exportData'"
                   :class="{ 'text-black border-b-2': selectedMenuItem === 'exportData', 'text-gray-400': selectedMenuItem !== 'exportData' }"
                   class="flex flex-col align-center cursor-pointer text-lg | hover:text-black">
                    <v-icon>mdi-tray-arrow-down</v-icon>
                    {{ $t('settings.panel.item4') }}
                </a>

                <a @click="selectedMenuItem = 'deleteAccount'"
                   :class="{ 'text-red-500 border-b-2': selectedMenuItem === 'deleteAccount', 'text-red-300': selectedMenuItem !== 'deleteAccount' }"
                   class="flex flex-col align-center cursor-pointer text-lg me-5 | hover:text-red-500">
                    <v-icon>mdi-delete-forever-outline</v-icon>
                    {{ $t('settings.panel.item5') }}
                </a>
            </div>

        </section>

        <!-- Menu Items Desktop -->
        <section class="hidden md:flex h-screen w-[400px] border border-gray-300 border-e-2 border-y-0">
            <div class="flex flex-col overflow-y-auto space-y-16 mt-10 2xl:space-y-20">
                <a :href="profileRoute" class="flex align-center text-xl ms-5 font-bold | hover:text-gray-600">
                    <v-icon color="#149BFC">mdi-chevron-left</v-icon>
                    {{ $t('settings.panel.home') }}
                </a>

                <a @click="selectedMenuItem = 'editProfile'"
                   :class="{ 'text-black': selectedMenuItem === 'editProfile', 'text-gray-400': selectedMenuItem !== 'editProfile' }"
                   class="flex align-center cursor-pointer text-xl ps-10 me-5 | hover:text-black text-nowrap">
                    <v-icon class="me-5">mdi-pencil-outline</v-icon>
                    {{ $t('settings.panel.item1') }}
                </a>

                <a @click="selectedMenuItem = 'password'"
                   :class="{ 'text-black': selectedMenuItem === 'password', 'text-gray-400': selectedMenuItem !== 'password' }"
                   class="flex align-center cursor-pointer text-xl ps-10 | hover:text-black">
                    <v-icon class="me-5">mdi-lock-outline</v-icon>
                    {{ $t('settings.panel.item2') }}
                </a>

                <!-- <a @click="selectedMenuItem = 'notification'"
                   :class="{ 'text-black': selectedMenuItem === 'notification', 'text-gray-400': selectedMenuItem !== 'notification' }"
                   class="flex align-center cursor-pointer text-xl ps-10 | hover:text-black">
                    <v-icon class="me-5">mdi-bell-outline</v-icon>
                    Notification
                </a> -->
                <a @click="selectedMenuItem = 'payementHistory'"
                   :class="{ 'text-black': selectedMenuItem === 'payementHistory', 'text-gray-400': selectedMenuItem !== 'payementHistory' }"
                   class="flex align-center cursor-pointer text-xl ps-10 | hover:text-black">
                    <v-icon class="me-5">mdi-credit-card-outline</v-icon>
                    {{ $t('settings.panel.item3') }}
                </a>

                <a @click="selectedMenuItem = 'exportData'"
                   :class="{ 'text-black': selectedMenuItem === 'exportData', 'text-gray-400': selectedMenuItem !== 'exportData' }"
                   class="flex align-center cursor-pointer text-xl ps-10 | hover:text-black">
                    <v-icon class="me-5">mdi-tray-arrow-down</v-icon>
                    {{ $t('settings.panel.item4') }}
                </a>

                <a @click="selectedMenuItem = 'deleteAccount'"
                   :class="{ 'text-red-500': selectedMenuItem === 'deleteAccount', 'text-red-300': selectedMenuItem !== 'deleteAccount' }"
                   class="flex align-center border-t-2 cursor-pointer text-xl ps-10 pt-5 pb-10 | hover:text-red-500">
                    <v-icon class="me-5">mdi-delete-forever-outline</v-icon>
                    {{ $t('settings.panel.item5') }}
                </a>

                <!-- Language Dropdown -->
                <div class="ms-10 mb-10 mt-auto">
                    <v-menu
                        content-class="pt-2"
                        transition="slide-y-transition">
                        <template v-slot:activator="{ props }">
                            <v-btn
                                color="#149BFC"
                                flat
                                v-bind="props"
                                class="text-none ms-20 md:ms-0"
                            >
                                {{ selectedLanguage }} <v-icon>mdi-menu-down</v-icon>
                            </v-btn>
                        </template>
                        <v-list>
                            <v-list-item
                                v-for="(item, i) in items"
                                :key="i"
                                @click="selectLanguage(item.title)"
                            >
                                <v-list-item-title>{{ item.title }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </div>
            </div>
        </section>

        <!-- Edit Profile Page-->
        <EditProfile v-show="selectedMenuItem === 'editProfile'"
                     :csrf="csrf"
                     :formData="formData" />

        <!-- Edit Password Page -->
        <EditPassword v-show="selectedMenuItem === 'password'"
                      :csrf="csrf"
                      :form-data="formData"
                      :password-user="passwordUser"/>

        <!-- Notification Setting -->
        <!-- <NotificationSetting v-show="selectedMenuItem === 'notification'" /> -->

        <!-- Payement History -->
        <PaymentHistory v-show="selectedMenuItem === 'payementHistory'" :purchases="purchases" :first-name="firstName" :last-name="lastName"/>

        <!-- Export Data -->
        <ExportData v-show="selectedMenuItem === 'exportData'" :user="user" :country="country" :purchases="purchases" :agendas="agendas" :deleted-agendas="deletedAgendas" :messages-sent="messagesSent" :messages-received="messagesReceived" :roles="roles" />

        <!-- Delete Account -->
        <DeleteAccount v-show="selectedMenuItem === 'deleteAccount'" :user="user" :logout-route="logoutRoute" :password-user="passwordUser" />
    </div>

</template>

<script>
import EditProfile from './partial/EditProfile.vue';
import EditPassword from './partial/EditPassword.vue';
import NotificationSetting from './partial/NotificationSetting.vue';
import PaymentHistory from "./partial/PaymentHistory.vue";
import ExportData from "./partial/ExportData.vue";
import DeleteAccount from "./partial/DeleteAccount.vue";
import countriesData from "../../../../../other/countries.json";
export default {
    components: {
        EditProfile,
        EditPassword,
        NotificationSetting,
        PaymentHistory,
        ExportData,
        DeleteAccount
    },
    name: "SettingComponent",
    props: {
        profileRoute: String,
        firstName: String,
        lastName: String,
        email: String,
        country: String,
        phone: String,
        avatar: String,
        purchases: Array,
        passwordUser: String,
        user: String,
        agendas: Array,
        deletedAgendas: Array,
        messagesSent: Array,
        messagesReceived: Array,
        roles: Array,
        countryName: String,
        logoutRoute: String,
    },
    data() {
        return {
            selectedMenuItem: 'editProfile',
            formData: {
                firstname: this.firstName,
                lastname: this.lastName,
                email: this.email,
                country: this.country,
                countries: countriesData,
                country_id: null,
                phone: this.phone,
                password: "",
                avatar: this.avatar,
            },
            csrf: document.head.querySelector('meta[name="csrf-token"]').content,
            errors: {},
            successMessage: null,
            isOpenLanguageDropdown: false,
            selectedLanguage: localStorage.getItem('selectedLanguage') || "English",
            items: [
                { title: 'English' },
                { title: 'Français' },
            ],
        };
    },
    methods: {
        loadFile(event) {
            const input = event.target;
            const file = input.files[0];

            if (file) {
                // Use FileReader to read the file and set it as the src
                const reader = new FileReader();

                reader.onload = () => {
                    this.previewImg = reader.result;
                };

                reader.readAsDataURL(file);
            }
        },
        selectLanguage(language) {
            this.selectedLanguage = language;
            this.isOpenLanguageDropdown = false;

            const languageMap = {
                'English': 'en',
                'Français': 'fr'
            };

            const locale = languageMap[language];

            localStorage.setItem('selectedLanguage', language);
            this.$i18n.locale = locale;
            this.$vuetify.locale.current = locale;

            axios.post('language', { locale })
                .then(response => {
                    console.log('Locale set on server');
                })
                .catch(error => {
                    console.error('Error setting locale on server:', error);
                });
        },
        toggleLanguageDropdown() {
            this.isOpenLanguageDropdown = !this.isOpenLanguageDropdown;
        },
        closeDropdownOutsideLanguage(event) {
            const languageButton = this.$refs.languageButton;

            if (languageButton && !languageButton.contains(event.target)) {
                this.isOpenLanguageDropdown = false;
            }
        },
        mounted() {
            document.addEventListener('click', this.closeDropdownOutsideLanguage);
            if (localStorage.getItem('selectedLanguage')) {
                this.$i18n.locale = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
                this.$vuetify.locale.current = localStorage.getItem('selectedLanguage') === 'English' ? 'en' : 'fr';
            }
        },
        beforeDestroy() {
            document.removeEventListener('click', this.closeDropdownOutsideLanguage);
        },
    }
};
</script>

<style scoped>

</style>
